---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}
<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> 赞助</h1>

<div class="alert alert-success mb-5" role="alert">
  <strong>New!</strong> 赞助 PrivacyTools，推广您的品牌并创造一个没有大规模监控的世界! <a href="/sponsors/" class="alert-link">了解详情...</a>
</div>
<div class="mt-4">
  {% include sponsors/gold.html %}
</div>
{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
