
  <!-- Android add-ons -->
  <h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android 隐私附加元件</h1>

  <div class="alert alert-success" role="alert">
    <strong>利用以下 Android 系统附加元件来改善隐私</strong>
  </div>

  <h3>透过 "NetGuard" 控制流量</h3>
  <img src="assets/img/addons/netguard.png" class="img-fluid float-left" alt="NetGuard" style="margin-right:30px;">
  <p><strong>NetGuard</strong>提供简便进化的方式来封锁一些应用软体接取网际网路，省去了需取得最高权限的麻烦。应用软体或地址可以个别地被许可或拒绝使用无线或电信数据上网，让你可以控制哪些应用程式可否呼叫主页。
  <a href="https://www.netguard.me/">https://www.netguard.me/</a></p>
  <div class="alert alert-warning" role="alert">
    <strong>下列的附加元件需要取得最高权限，这会让设备更为脆弱危险，请谨慎进行。</strong>
  </div>

  <h3>利用 XPrivacyLua 管理应用软体权限</h3>
  <img src="assets/img/addons/xprivacylua.png" class="img-fluid float-left" alt="XPrivacyLua" style="margin-right:30px;">
  <p>自应用程式撤销 Android 权限常会造成软体崩溃或功能失常。XPrivacyLua 利用提供给应用程式假数据来解决此问题。
  <a href="https://lua.xprivacy.eu/">https://lua.xprivacy.eu/</a></p>
  <p> 安装要求: <a href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445">Magisk (xda-developers)</a>
  <a href="https://forum.xda-developers.com/xposed">Xposed Framework (xda-developers)</a>
  </p>  