<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a>Android 隐私附加组件</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/netguard.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
    <h3><a href="https://www.netguard.me/">NetGuard</a>流量控制</h3>
    <p><strong>NetGuard</strong>提供简便、高端的方式来封锁一些应用软件访问互联网，省去了需取得最高权限的麻烦。可以个别被允许或拒绝应用软件、地址，使用 Wi-Fi 或行动数据上网，让用户控制哪些应用程序可否调用主机。 </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/orbot.svg" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
    <h3>Tor 网络与 <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
    <p><strong>Orbot</strong> 免费的代理应用，便于手机上其它应用更安全地使用网络。它利用 Tor 来加密网络流量，再通过一连串散布世界各地的电脑跳板来隐藏真实位置。 <strong>Root 管理者最高授权模式：</strong> Orbot 可设置透明代理全部网络流量都透由 Tor 网络，也可只选取特定应用走 Tor 网络。</p>
    </div>
  </div>

</div>

<h2>另见</h2>

<ul>
  <li>
    <a href="/providers/dns#clients"> DNS client 推荐清单</a>，其中有提到安卓系统上的加密 DNS 信息。
  </li>
</ul>
