<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> 推荐的浏览器附加组件</h1>

<div class="alert alert-secondary" role="alert">
  下列附加组件不一定全部必要，部分附加组件提供的功能类似。选择你需要的即可，以及建议同时参阅 <a class="alert-link" href="https://blog.privacytools.io/firefox-privacy-an-introduction-to-safe/">我们编写的适用于 Firefox 的隐私保护指南。</a>.
</div>

{% include cardv2.html
  title="uBlock Origin: 阻挡广告和过滤器"
  image="/assets/img/svg/3rd-party/ublock_origin.svg"
  description="<strong>uBlock Origin</strong> 是一款高效的 <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>广域过滤器</a>。 它（相比其它流行的广告拦截器）更节省内存，同时支持更多规则。它完全开放源代码并且没有商业化计划。"
  website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  privacy-policy="https://github.com/gorhill/uBlock/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-ublock-origin/266"
  github="https://github.com/gorhill/uBlock/"
  firefox="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  chrome="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm"
  opera="https://addons.opera.com/en/extensions/details/ublock/"
  edge="https://www.microsoft.com/en-us/p/ublock-origin/9nblggh444l4"
%}

{% include cardv2.html
  title="HTTPS Everywhere: 尽可能的提供安全连接"
  image="/assets/img/svg/3rd-party/https_everywhere.svg"
  description="<strong>HTTPS Everywhere</strong> 会在访问已提供 TLS 安全连接的网站时自动切换到安全连接。这是 Tor Project 和电子前哨基金会的合作计划。"
  website="https://www.eff.org/https-everywhere"
  privacy-policy="https://www.eff.org/code/privacy/policy"
  forum="https://forum.privacytools.io/t/discussion-https-everywhere/268"
  github="https://github.com/EFForg/https-everywhere"
  firefox="https://addons.mozilla.org/firefox/addon/https-everywhere"
  chrome="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp"
  opera="https://addons.opera.com/en/extensions/details/https-everywhere"
%}

{% include cardv2.html
  title="Decentraleyes: 通过自行搭建内容分发网络（CDN）阻挡跟踪"
  image="/assets/img/svg/3rd-party/decentraleyes.svg"
  description="<strong>Decentraleyes</strong> 通过注入浏览器环境来模拟传统的内容分发网络来阻止内容分发网络追踪用户。这些操作会即时、自动的完成。"
  website="https://decentraleyes.org/"
  privacy-policy="https://decentraleyes.org/privacy-policy/"
  forum="https://forum.privacytools.io/t/discussion-decentraleyes/269"
  gitlab="https://git.synz.io/Synzvato/decentraleyes"
  firefox="https://addons.mozilla.org/firefox/addon/decentraleyes"
  chrome="https://chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj"
  opera="https://addons.opera.com/extensions/details/decentraleyes"
%}

{% include cardv2.html
  title="ClearURLs：从 URL 中移除跟踪元素"
  image="/assets/img/svg/3rd-party/clearurls.svg"
  description="<strong>ClearURLs</strong> 通过自动移除链接中潜在的跟踪元素来保护你的隐私。"
  website="https://gitlab.com/KevinRoebert/ClearUrls"
  privacy-policy="https://gitlab.com/KevinRoebert/ClearUrls/-/blob/master/PRIVACY.md"
  forum="https://forum.privacytools.io/t/discussion-clearurls/3353"
  gitlab="https://gitlab.com/KevinRoebert/ClearUrls"
  firefox="https://addons.mozilla.org/firefox/addon/clearurls/"
  chrome="https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk"
  edge="https://microsoftedge.microsoft.com/addons/detail/mdkdmaickkfdekbjdoojfalpbkgaddei"
%}

<h2>额外功能</h2>

<div class="alert alert-secondary" role="alert">
  这些附加组件尽管不会保护你的隐私，不过还是提供了其它有用的功能。
</div>

{% include cardv2.html
  title="Terms of Service; 拨开“太长不看”的服务条款中的迷雾"
  image="/assets/img/svg/3rd-party/terms_of_service_didnt_read.svg"
  description='<strong>Terms of Service; Didn’t Read</strong> 基于“‘我已阅读并同意服务条款’是最大的谎言”这一理念创建。它通过社区评审提取出服务条款和隐私政策的关键字句，再依照一定的方式将其评级。'
  website="https://tosdr.org/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/privacy/"
  forum="https://forum.privacytools.io/t/discussion-terms-of-service-didn-t-read/270"
  github="https://github.com/tosdr/"
  firefox="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/"
  chrome="https://chrome.google.com/webstore/detail/terms-of-service-didn%E2%80%99t-r/hjdoplcnndgiblooccencgcggcoihigg"
  opera="https://addons.opera.com/extensions/details/terms-of-service-didnt-read"
%}

{% include cardv2.html
  title="Snowflake：实验性的适用于 Tor 浏览器的可插拔传输组件"
  image="/assets/img/svg/3rd-party/snowflake.svg"
  description="<strong>Snowflake</strong> 是来自 Tor Project 的新的<a href=https://2019.www.torproject.org/docs/pluggable-transports.html.en>可插拔传输组件</a>。身处没有网络审查地区的志愿者可以通过它帮助其它用户连接上 Tor 网络。这个附加组件不会向网站所有者泄露自己的 IP 地址，也不会让运行附加组件的电脑成为出口节点。<br />对于位于 Tor 网络已被封锁的地区的用户，请直接使用<a href=https://www.torproject.org>Tor Browser</a>。<br /> <b>注意：</b> 这个附加组件要求 WebRTC 启用才能正常运行。"
  website="https://snowflake.torproject.org"
  forum="https://forum.privacytools.io/t/discussion-snowflake/1146"
  git="https://gitweb.torproject.org/pluggable-transports/snowflake.git"
  firefox="https://addons.mozilla.org/firefox/addon/torproject-snowflake"
  chrome="https://chrome.google.com/webstore/detail/snowflake/mafpmfcccpbjnhfhjnllmmalhifmlcie"
%}

<h2>持久存储管理</h2>

<h3>适用于桌面</h3>

<div class="alert alert-warning" role="alert">
  这些扩展适合用来控制网页和 Web 应用在你的电脑上创建或保存的一些持久存储。
</div>

{% include cardv2.html
  title="Temporary Containers：在临时的标签页容器中进行抛弃式浏览"
  image="/assets/img/svg/3rd-party/temporary_containers.svg"
  image-dark="/assets/img/svg/3rd-party/temporary_containers-dark.svg"
  description="<strong>Temporary Containers</strong> 允许你在自动管理的抛弃式容器中打开标签页、网站和链接。容器中的数据（Cookies、存储空间等等）相互隔离。<br /><a href=https://medium.com/@stoically/enhance-your-privacy-in-firefox-with-temporary-containers-33925cd6cd21>阅读有关利用临时容器保护隐私的相关文章。</a>"
  website="https://addons.mozilla.org/firefox/addon/temporary-containers/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/temporary-containers/privacy/"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/stoically/temporary-containers"
  firefox="https://addons.mozilla.org/firefox/addon/temporary-containers/"
%}

{% include cardv2.html
  title="Firefox 身份标签页"
  image="/assets/img/svg/3rd-party/firefox_multi_account_containers.svg"
  description="<strong>Firefox Multi-Account Containers（身份标签页）</strong> 让你可以为不同的网站创建相互隔离的容器。和 Temporary Containers 一起使用时你可以在你指定的网站上保存登录状态。"
  website="https://support.mozilla.org/kb/containers"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/mozilla/multi-account-containers"
  firefox="https://addons.mozilla.org/firefox/addon/multi-account-containers/"
%}

<h3>Android</h3>

<div class="alert alert-warning" role="alert">
  Android 版 Firefox <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1398097">不支持标签页容器</a>。推荐的附加组件尽管仍缺失一些功能 （例如清除 <a href="https://en.wikipedia.org/wiki/Indexed_Database_API">IndexedDB</a>, <a href="https://en.wikipedia.org/wiki/Progressive_web_application#Service_workers">Service Workers</a> 缓存和 <a href="https://en.wikipedia.org/wiki/Progressive_web_application#AppCache_(obsolete)">appCache</a>）以致效果不如标签页容器。但我们还是将它们作为移植替代手段推荐。
</div>

{% include cardv2.html
  title="ETag Stoppa"
  image="/assets/img/svg/3rd-party/etag_stoppa.svg"
  description="<strong>ETag Stoppa</strong> 通过移除 ETag 响应头来阻止存储实体标签，无条件而且没有例外。"
  website="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
  forum=""
  github="https://github.com/claustromaniac/etag-stoppa"
  firefox="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
%}

{% include cardv2.html
  title="Cookie AutoDelete: 自动清除 Cookies"
  image="/assets/img/png/3rd-party/cookie_autodelete.png"
  description="<strong>Cookie AutoDelete</strong> 在浏览器关闭时自动清除 Cookies 和其它一些可能会被用来进行监视和追踪的信息。"
  website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
  forum="https://forum.privacytools.io/t/discussion-cookie-autodelete/267"
  github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
  firefox="https://addons.mozilla.org/firefox/addon/cookie-autodelete"
  chrome="https://chrome.google.com/webstore/detail/cookie-autodelete/fhcgjolkccmbidfldomjliifgaodjagh"
%}

<h2>适用于高级用户</h2>

<div class="alert alert-warning" role="alert">
  这些附加组件需要用户进行大量的设置，某些可以完全取代上面推荐的附加组件。有些附加组件可能会使某些网站显示异常或无法工作。
</div>

{% include cardv2.html
  title="uMatrix: 检查和拦截跨域请求"
  image="/assets/img/png/3rd-party/umatrix.png"
  description="<strong>uMatrix</strong> 让你得以控制来自向你所访问的网站以外的网站发送的请求，例如 Facebook 的赞按钮或者 Google 分析。uMatrix 默认允许你所访问的网站自身（称作“第一方”）的脚本和其它元素，你可以<a href=https://github.com/gorhill/uMatrix/wiki/How-to-block-1st-party-scripts-everywhere-by-default>参照这篇指南让 uMatrix 像 NoScript 一样默认阻止所有脚本</a>。"
  website="https://addons.mozilla.org/firefox/addon/umatrix/"
  privacy-policy="https://github.com/gorhill/uMatrix/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-umatrix/271"
  github="https://github.com/gorhill/uMatrix"
  firefox="https://addons.mozilla.org/firefox/addon/umatrix"
  chrome="https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf"
  opera="https://addons.opera.com/extensions/details/umatrix"
%}

{% include cardv2.html
  title="CanvasBlocker: 阻止网站通过 JavaScript 追踪用户"
  image="/assets/img/svg/3rd-party/canvasblocker.svg"
  description="<strong>CanvasBlocker</strong> 通过阻止某些 JavaScript API 的调用在一定程度上保护用户不被追踪。用户可以选择在所有网站上禁用特定的 API（可能导致网站停止工作），或者针对个别网站调整设置，例如阻止或伪造特定 API 的数据。"
  website="https://github.com/kkapsner/CanvasBlocker/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/canvasblocker/privacy/"
  forum="https://forum.privacytools.io/t/discussion-canvasblocker/3352"
  github="https://github.com/kkapsner/CanvasBlocker/"
  firefox="https://addons.mozilla.org/firefox/addon/canvasblocker/"
%}
