
  <!-- Browser Fingerprint -->
  <h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> 浏览器指纹 - 你的浏览器设定是否独一无二？</h1>

  <!-- yellow warning message about the browser sending unique information -->
  <div class="alert alert-warning" role="alert">
    <strong> 你使用的浏览器传送了可以在数千百万使用者当中可以容易地辨识出你的许多信息。</strong>
  </div>

  <!-- fingerprint image to the right of the paragraphs -->
  <img src="assets/img/layout/browser-fingerprint.jpg" class="img-fluid float-right" alt="Fingerprint image" style="margin-left:20px;">

  <!-- first paragraph -->
  <p>当访问一个网站时，浏览器会自动发送一些自身设定的信息，例如可用的字体，浏览器类型、安装的附加组件等。如果这些组合出来的信息非常独特，很容易让其它人不需要 cookies 就可以辨识与追踪你。电子前哨基金会 EFF 创建了一个 <a href="https://panopticlick.eff.org/">Panopticlick 工具</a>来测试浏览器的独特程度。</p>

  <!-- First orange "test your browser now" button -->
  <p>
  <a class="btn btn-warning" href="https://panopticlick.eff.org/">
    立即测试你正在用的浏览器吧
  </a>
  </p>

  <!-- second paragraph -->
  <p>你需要找出<strong>大多数浏览器</strong>所传送的信息和启用或禁用的功能（例如 Do Not Track 和 WebGL），并利用这些和大多数人相同的信息和<a href="https://addons.mozilla.org/firefox/addon/uaswitcher/">伪造的 User Agent</a>来伪装你的浏览器来使你泯然然众人。
    停用 JavaScript 、使用 GNU/Linux 和 Tor Browser 容易让你的浏览器更加突出。</p>

  <p>（译者注： Tor Browser 和新版的 Firefox 中引入的抵抗指纹追踪功能会使你在服务器眼中看起来像一个普通的 Windows 用户， 可以加以应用。）</p>
  <!-- third paragraph -->
  <p>互联网和网络浏览器在一开始并没有以隐私为第一要素设计。如果你很担心浏览器留下的独特指纹被识别，比较实际的作法是使用 Privacy Badger、 uBlock Origin 与 Disconnect <a href="#addons"><i class="fas fa-link"></i>这样的附加组件</a>。它们提供给你互联网自由的同时也保护你上网的隐私。了解使用这些工具比试着摆弄浏览器指纹是一个更为容易方便的开始。</p>

  <!-- 相关资讯 links -->
  <h3>相关资讯</h3>
  <ul>
    <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">你的浏览器有多特别？ 来自 EFF 的 Peter Eckersley。</a></li>
    <li><a href="https://www.reddit.com/r/privacytoolsIO/comments/35pqyl/new_section_browser_fingerprint_is_your_browser/">加入我们在 Reddit 上关于浏览器指纹的讨论。</a></li>
    <li><a href="#addons"><i class="fas fa-link"></i>我们推荐的 Firefox 扩展合集。</a></li>
    <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - 网页浏览器安全测试工具，它可以识别浏览器会泄露哪些和你相关的信息。</li>
  </ul>