<!-- Firefox add-ons -->
<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> 可用于 Firefox 浏览器的优秀的隐私保护附加组件</h1>

<div class="alert alert-success" role="alert">
  <strong>利用优秀的 Firefox 浏览器附加组件来改善隐私保护</strong>
</div>
<h3>安装 "Privacy Badger" 阻止被追踪</h3>
<img src="assets/img/addons/Privacy-Badger.png" class="img-fluid float-left" alt="Privacy Badger" style="margin-right:30px;">
<p><strong>Privacy Badger</strong> 可用来阻止广告商或其它第三方追踪器偷偷地追踪用户浏览哪些网站网页。当你浏览网站时 Privacy Badger 透过检查外部网站资源的请求了解追踪器状况。请注意，Google Analytics 被 Privacy Badger 视为第一方（first-party），这表示如果你没有使用其它屏蔽器（例如 uBlock Origin），则 Google Analytics 就不会遭到封锁。 

<a href="https://www.eff.org/privacybadger">https://www.eff.org/privacybadger/</a></p>

<h3>利用 "uBlock Origin" 来封锁广告与追踪器</h3>
<img src="assets/img/addons/uBlock.png" class="img-fluid float-left" alt="uBlock" style="margin-right:30px;">
<p>它是一个有效<a href="https://github.com/gorhill/uBlock/wiki/Blocking-mode">广谱屏蔽器</a>，可轻松的和数千组规则协同工作。这套软件完全<a href="https://github.com/gorhill/uBlock/">开源</a>且没有商业化。uBlock Origin 也可以用 Safari、Opera、Chromium 等在其它的浏览器。不像 AdBlock Plus，uBlock 没有所谓的<a href="https://adblockplus.org/acceptable-ads">「可接受的广告」</a>。
<br />
<a href="https://addons.mozilla.org/firefox/addon/ublock-origin/">https://addons.mozilla.org/firefox/addon/ublock-origin/</a>
</p>

<!--
  <img src="assets/img/addons/Disconnect.png" class="img-fluid float-left" alt="Disconnect" style="margin-right:30px;">
  <p>Founded in 2011 by former Google engineers and a consumer-and privacy-rights attorney. The addon is open source and loads the pages you go to 27% faster and stops tracking by 2,000+ third-party sites. It also keeps your searches private. If you are planning to install "uBlock Origin" make sure to install "Disconnect" first. <strong>Alternative to Disconnect:</strong> <a href="https://addons.mozilla.org/firefox/addon/privacy-badger-firefox/">Privacy Badger by EFF</a>
  <br />
  <a href="https://addons.mozilla.org/firefox/addon/disconnect/">https://addons.mozilla.org/firefox/addon/disconnect/</a>
  </p>
  <h3>Hinder Browser Fingerprinting with "Random Agent Spoofer"</h3>
  <img src="assets/img/addons/Random-Agent-Spoofer.png" class="img-fluid float-left" alt="Random Agent Spoofer" style="margin-right:30px;">
  <p>A privacy enhancing firefox addon which aims to hinder browser fingerprinting. It does this by changing the browser/device profile on a timer. Source code: <a href="https://github.com/dillbyrne/random-agent-spoofer">GitHub.</a>
  <br />
  <a href="https://addons.mozilla.org/firefox/addon/random-agent-spoofer/">https://addons.mozilla.org/firefox/addon/random-agent-spoofer/</a></p>
-->

<h3>利用"Cookie AutoDelete"自动删除 Cookies</h3>
<img src="assets/img/addons/Cookie-AutoDelete.png" class="img-fluid float-left" alt="Cookie AutoDelete" style="margin-right:30px;">
<p>自动地移除储存在已开启分页中不需再用到的 cookies 和以及用来监视用户的信息。
<br />
<a href="https://addons.mozilla.org/firefox/addon/cookie-autodelete">https://addons.mozilla.org/firefox/addon/cookie-autodelete/</a></p>  <h3>使用"HTTPS Everywhere"加密连线</h3>
<img src="assets/img/addons/HTTPS-Everywhere.png" class="img-fluid float-left" alt="HTTPS Everywhere" style="margin-right:30px;">
<p>Firefox, Chrome, Opera 都支持的浏览器扩展，可以对一些主要网站之间的网路连线予以加密，让你的浏览更为安全。它是 Tor Project 和 EFF 的一个合作计划。 
<br />
<a href="https://www.eff.org/https-everywhere">https://www.eff.org/https-everywhere</a></p>

<h3>利用 "Decentraleyes" 来拦截向 CDN（内容分发网络）的请求</h3>
<img src="assets/img/addons/Decentraleyes.png" class="img-fluid float-left" alt="Decentraleyes" style="margin-right:30px;">
<p>在本地机器上模拟 CDN 以拦截对外请求，它会自动的找出所需的资源再将其注入环境下，不必事前额外设定。<i>源代码：<a href="https://git.synz.io/Synzvato/decentraleyes">GitLab (self-hosted)</a>.</i>
<br />
<a href="https://addons.mozilla.org/firefox/addon/decentraleyes/">https://addons.mozilla.org/firefox/addon/decentraleyes/</a></p>

<div class="alert alert-warning" role="alert">
  <strong>下面的附加组件要求进行额外的设置，而且可能使部分网站停止工作 </strong>
</div>
<!--
  <h3>Stop cross-site requests with "Request Policy"</h3>
  <img src="assets/img/addons/Request-Policy.png" class="img-fluid float-left" alt="Request Policy" style="margin-right:30px;">
  <p>Many websites integrate features which let other websites track you, such as Facebook Like Buttons or Google Analytics. Request Policy gives you control over the requests that websites make to other websites. This gives you greater and more fine grained control over the information that you leak online.
  <br />
  <a href="https://requestpolicycontinued.github.io/">https://requestpolicycontinued.github.io/</a>
  </p>
-->
<h3>利用 "uMatrix" 来阻止跨站请求</h3>
<img src="assets/img/addons/uMatrix.png" class="img-fluid float-left" alt="uMatrix" style="margin-right:30px;">
<p>许多网站或许整合了一些例如 Fackbook 的按赞按钮或是 Google 流量分析工具等可能会被用于跟踪你的功能。uMatrix 则让你可以掌握目前访问的网站上来自其它网站的追踪请求，并赋予控制你愿意在网络上提供的资料的更佳更大的决定权力。
<br />
<a href="https://addons.mozilla.org/firefox/addon/umatrix/">https://addons.mozilla.org/firefox/addon/umatrix/</a>
</p>

<h3>利用 "NoScript" 扩展完全控制脚本和插件</h3>
<img src="assets/img/addons/NoScript.png" class="img-fluid float-left" alt="NoScript" style="margin-right:30px;">
<p>
一款定制程度高的工具，可以让 JavaScript、Java 与 Flash 只能在所信任的网站上执行。因为需要相当多的知识才能完成设置所以不适合初学者。
<br />
<a href="https://addons.mozilla.org/firefox/addon/noscript/">https://addons.mozilla.org/firefox/addon/noscript/</a>
</p> 