<h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> 浏览器指纹 - 您的浏览器设置是否过于独特？</h1>

<div class="alert alert-warning" role="alert">
  <strong>浏览器在浏览网站时会向服务器发送许多信息，在数千百万用户当中可以容易地辨识出不同用户特性。</strong>
</div>

<p>当访问某个网站时，浏览器会自行地送出一些本身的设置信息，例如有哪些可用字体、浏览器类型、安装的附加组件等。如果这些组合出来的信息非常独特，很容易让有心者不用 Cookies 就可以辨识与追踪。电子前哨基金会 EFF 开发了<a href="https://panopticlick.eff.org/">Panopticlick</a> 工具来测试浏览器的独特程度。</p>

<p>
<a class="btn btn-warning" href="https://panopticlick.eff.org/">
  立即在 Panopticlick 上测试你的浏览器
</a>
</p>

<p>要试图降低你浏览器指纹的信息量，您需要找出<strong>大多数浏览器</strong>回报什么数据，你可以通过和其它人使用相同的字体、插件组件、附加组件等，以扩大用户基数。你也可以伪造<a href="https://addons.mozilla.org/firefox/addon/uaswitcher/">随机的 User-Agent</a>以符合最大的用户基数。禁用 JavaScript、使用 Linux 或是进一步使用 Tor 浏览器，容易让您从一般普罗群众中被突显出来。</p>

<p>现代网页浏览器未依确保个人在网络的隐私安全来打造。若担心浏览器留下的独特特征指纹辨识，除了使用注重隐私保护的浏览器以外，另一种实际的作法是使用<a href="#addons"><i class="fas fa-link"></i>自由和开放源代码的浏览器附加组件</a>，像 Privacy Badger、uBlock Origin。它们不只为了网络自由，也保护用户上网的隐私保护。不妨进一步了解使用这些工具，会比试着操弄浏览器指纹更为简单容易。</p>

<p><b>译者注：</b>但在 Tor Browser 使用伪造的 User Agent 和其他的防止指纹追踪的措施下，禁用 JavaScript 和使用 Tor 浏览器等措施也有机会让你隐藏在普罗大众中。 <a href="https://youtu.be/JWII85UlzKw">这就是 Tor Project 鼓励大家使用 Tor 浏览器的原因。</a></p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">你的浏览器有多独特？来自 EFF.</a></li>
  <li><a href="#addons"><i class="fas fa-link"></i> 我们介绍的适用于 Firefox 的保护隐私方向的浏览器附加组件。</a></li>
  <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - 网页浏览器安全测试工具，可辨识什么样的个人识别数据可能会浏网时未经同恴许可即被外泄。</li>
</ul>
