<!-- browsers -->
<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> 推荐的浏览器</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tor Browser"
  image="assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='支持的操作系统: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>,
  <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="如果你需要额外的匿名性保护，则 Tor Browser 就是你最佳的选择。它是 Firefox 进一步的调整和适配的成品，包括集成 Tor 网络和预先安装好了一些保护隐私的扩展。"
  %}

  {% include card.html color='primary'
  title='Mozilla Firefox'
  image='assets/img/tools/Firefox.png'
  url='https://www.mozilla.org/firefox/'
  footer='支持的操作系统: Windows, macOS, Linux, Android, iOS, BSD.'
  description='Mozilla  Firefox 是一个快速、可靠、开放源代码且尊重用户隐私的浏览器。别忘了依照我们的建议来调整 Firefox 的设定： <a href="#webrtc"><i class="fas fa-link"></i>
    WebRTC</a> 、 <a href="#about_config"><i class="fas fa-link"></i> about:config</a> 和安装 <a href="#addons"><i class="fas fa-link"></i>
    保护隐私的扩展。</a>'
  %}

  {% include card.html color='warning'
  title='Brave'
  image='assets/img/tools/Brave.png'
  url='https://www.brave.com/'
  footer='支持的操作系统: Windows, macOS, Linux, Android, iOS.'
  description='新问世的开源浏览器"Brave" 基于 Chromium ，会自动地封锁广告与追踪器。和你目前所用的浏览器相比更加快速安全。'
  %}

  <!-- IceCat removed
      <div class="col-sm-4">
      <div class="panel panel-info">
      <div class="panel-heading">
      <h3 class="panel-title">GNU IceCat</h3>
      </div>
      <div class="panel-body">
      <p><img src="assets/img/tools/IceCat.png" align="right" style="margin-left:5px;">GNU IceCat is a good choice for privacy related matters. It is a free software rebranding of the Mozilla Firefox web browser distributed by the GNU Project. IceCat comes with pre-installed privacy add-ons.</p>
      <p><a href="https://www.gnu.org/software/gnuzilla/"><button type="button" class="btn btn-info">Download: www.gnu.org</button></a></p>
      <p>OS: Windows, macOS, Linux, Android.</p>
      </div>
      </div>
      </div>
    -->

</div>