<h1 id="calendar_contacts" class="anchor"><a href="#calendar_contacts"><i class="fas fa-link anchor-icon"></i></a> 日历与联系人同步</h1>

<div class="alert alert-warning" role="alert">
  <strong>若你正在使用Google Sync 或 Apple iCloud 来同步日历与联系人，这里有其它替代的选项。</strong>
</div>

{%
  include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> 是一套用来创建及使用文件分享服务的客户端－服务器软件。它可以通过 CalDAV 来同步日历及联系人。Nextcloud 自由、开源，因此，在任何人都能免费的安装、运行在私有的服务器上。"
  website="https://nextcloud.com/"
  privacy-policy="https://nextcloud.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-nextcloud-calender-contacts-sync-tools/1535"
  github="https://github.com/nextcloud"
  windows="https://nextcloud.com/install/"
  linux="https://nextcloud.com/install/"
  mac="https://nextcloud.com/install/"
  freebsd="https://www.freshports.org/deskutils/nextcloudclient/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  android="https://nextcloud.com/install/"
  ios="https://nextcloud.com/install/"
%}

{%
  include cardv2.html
  title="EteSync"
  image="/assets/img/svg/3rd-party/etesync.svg"
  description="<strong>EteSync</strong> 安全、重视隐私、端对端加密的日志型个人信息（例如：日历与联系人）云端同步备份工具，提供 Android, iOS, 与网页用户端，以服务多数桌面用户。它可免费在自己的服务器上搭建，或者可以以每年 24$ 的价格使用官方的服务器。"
  website="https://www.etesync.com/"
  privacy-policy="https://www.etesync.com/tos/#privacy"
  forum="https://forum.privacytools.io/t/discussion-etesync-calender-contacts-sync-tools/1536"
  github="https://github.com/etesync"
  web="https://client.etesync.com/"
  windows="https://www.etesync.com/install/dav/"
  mac="https://www.etesync.com/install/dav/"
  linux="https://www.etesync.com/install/dav/"
  freebsd="https://www.etesync.com/install/dav/"
  openbsd="https://www.etesync.com/install/dav/"
  netbsd="https://www.etesync.com/install/dav/"
  fdroid="https://f-droid.org/packages/com.etesync.syncadapter/"
  googleplay="https://play.google.com/store/apps/details?id=com.etesync.syncadapter"
  ios="https://www.etesync.com/install/ios/"
%}

{%
  include cardv2.html
  title="电子邮件供应商"
  image="/assets/img/svg/layout/email.svg" 
  description='许多电子邮件供应商亦提供日历和联系人同步服务。可参考<a href="/providers/email">电子邮件供应商的部分</a>选择电子邮件供应商，确认他们是否也提供同步日历或联系人。'
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - 结合了联系人和日历系统，可跨不同平台与多台设备。
  </li>

  <li>
    <a href="../cloud">Cloud backups</a> - 请考虑定期导出日历与联系人数据备份到不同的保存硬盘或是上传到云存储（最好是先 <a href="../encryption-tools/">经加密处理</a>）。
  </li>

  <li>
    <a href="https://github.com/39aldo39/DecSync">DecSync</a> - 不经服务器端，利用文件同步软件如<a href="https://syncthing.net/"> Syncthing </a>来同步 RSS、联系人和日历。
  </li>
</ul>
