<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a> 加密云存储服务</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果您目前使用 Dropbox, Google Drive, Microsoft OneDrive 或 Apple iCloud 等云存储服务，不妨参考其它替代选择。</strong>
</div>

{% include cardv2.html
title="Nextcloud - Choose your hoster"
image="/assets/img/svg/3rd-party/nextcloud.svg"
description="<strong>Nextcloud</strong>为服务器与用户端的套件软件，可用于在私有控制的服务器上创建自用的文件访问服务。Nextcloud 免费开源，支持用户之间的点对点加密。其容量与带宽大小视所选的<a href=\"/providers/hosting\">服务器主机</a>情况而定。"
website="https://nextcloud.com/"
forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
github="https://github.com/nextcloud"
windows="https://nextcloud.com/install/#install-clients"
mac="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
freebsd="https://www.freshports.org/www/nextcloud/"
openbsd="http://openports.se/www/nextcloud"
netbsd="http://pkgsrc.se/www/php-nextcloud"
ios="https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8"
fdroid="https://f-droid.org/packages/com.nextcloud.client/"
googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
%}

{%
  include cardv2.html
  title="Keybase KBFS"
  image="/assets/img/svg/3rd-party/keybase.svg"
  description='Keybase 免费提供 250GB 的端到端加密的存储空间。它的协议也通过了 <a href="https://keybase.io/docs-assets/blog/NCC_Group_Keybase_KB2018_Public_Report_2019-02-27_v1.3.pdf">独立审计 (PDF)</a>。 Keybase 允许你向其它 Keybase 用户分享文件，或用于<a href="https://en.wikipedia.org/wiki/Keybase#Identity_proofs">在社交网站证明用户</a>。目前 Keybase 不提供更多的空间。'
  labels="color==warning::link==https://github.com/keybase/client/issues/6374::text==警告::tooltip==此软件依赖一个私有的中心服务器。| color==info::link==https://github.com/privacytools/privacytools.io/issues/1894::text==所有者变更::tooltip==Keybase 最近被 Zoom 收购。"
  website="https://book.keybase.io/docs/files"
  privacy-policy="https://keybase.io/docs/privacypolicy"
  forum="https://forum.privacytools.io/t/discussion-keybase/1224"
  tor="http://keybase5wmilwokqirssclfnsqrjdsi7jdir5wy7y7iu3tanwmtp6oid.onion/"
  github="https://github.com/keybase/client/tree/master/go/kbfs"
  windows="https://keybase.io/docs/the_app/install_windows"
  mac="https://keybase.io/docs/the_app/install_macos"
  linux="https://keybase.io/docs/the_app/install_linux"
  freebsd="https://www.freshports.org/security/keybase/"
  googleplay="https://play.google.com/store/apps/details?id=io.keybase.ossifrage"
  ios="https://apps.apple.com/app/keybase-crypto-for-everyone/id1044461770"
%}


<h3>值得一提</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - 免费客户端的云端文件 AES 加密工具。其为开源软件，无后门也不要求注册。 <span class="badge badge-warning" data-toggle="tooltip" title="Cryptomator 的手机应用是非自由软件。"><a href="https://github.com/cryptomator/cryptomator-android/issues/1#issuecomment-257979375"><i class="fas fa-exclamation-triangle"></i></a></span></li>
  <li><a href="https://cryptpad.fr">CryptPad</a> - 免费且端对端加密的即时协同分享文件夹、媒体及文档。</li>
</ul>
