<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a>加密的云端储存服务</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你目前使用的是 Dropbox、Google Drive、Microsoft OneDrive 或 Apple iCloud　等云端储存服务，不妨从这里挑选其它替代方案。</strong>
</div>

<div class="row mb-4">
  {% include card.html color='success'
  title='Nextcloud - 自选主机服务'
  image='assets/img/provider/Nextcloud.png'
  url='https://nextcloud.com／'
  footer='支援的客户端作业系统: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. 伺服器: Linux.'
  description='和 Dropbox 有相同的功能，但最大的差异在 Nextcloud 是一套免费而开源的软体，它可让任何人自行架设与操作而不必如私用伺服器那般地收取费用，也没有空间容量或连接客户端数量的限制。'
  %}
 
  {% include card.html color='primary'
  title='Least Authority S4 - 专家用'
  image='assets/img/provider/S4.jpg'
  url='https://leastauthority.com/'
  footer='支援作业系统：<a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">Linux</a>, <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/AdvancedInstall"> Windows, macOS, OpenSolaris, BSD.</a> (Installation for advanced users)'
  description='S4 (Simple Secure Storage Service) 是 Least Authority 所开发，提供认证与安全的个人或企业用的场外备份系统。在客户端有 100% 的安全加密，而且其程式码开放透明。租用其服务的月费是 $9.95/250GB 或是 $25.95/5TB。 主机是使用美国境内的 Amazon S3　平台伺服器。'
  %}

</div>

<h3>相关资讯</h3>
<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Free client-side AES encryption for your cloud files. Open source software: No backdoors, no registration.</li>
</ul>
