
  
<h1 id="dns" class="anchor"><a href="#dns"><i class="fas fa-link anchor-icon"></i></a> 网域名系统 (DNS)</h1>

<div class="row mb-2">

  {% include card.html color='success'
  title='Njalla - 域名注册'
  image='assets/img/provider/Njalla.png'
  url='https://njal.la/'
  tor='http://njalladnspotetti.onion'
  description='Njalla 只需要电邮信箱或是一个　jabber 帐户来注册域名。它是由 Pirate Bay 与 IPredator VPN　所创立，其付款方式有：Bitcoin, Litecoin, Monero, DASH, Bitcoin, PayPal, 现金。是一个具隐私意识的域名注册商。'
  %}

  {% include card.html color='primary'
  title='DNSCrypt - 工具'
  image='assets/img/tools/DNSCrypt.png'
  url='https://dnscrypt.info/'  
  description='这是一个强化用户端与网域名解析器之间的通讯安全协议。DNSCrypt协议利用高速高安全的椭圆曲线密码学，其有点类似 DNSCurve，但更关注在客户端与第一级解析器之间的连线通讯安全。'
  %}

  {% include card.html color='warning'
  title='OpenNIC - 服务'
  image='assets/img/tools/OpenNIC.png'
  url='https://www.opennic.org/'
  description='OpenNIC 是一个另类的网路资讯中心/或称替代的 DNS 根区，其列名自身是 CANN 与其注册局的替代品。如同其它的替代式根域名系统，采用 OpenNIC-主机的域名无法被其它网路上大多数使用者所造访。只有透过在某个 DNS 解析器上的特殊设定才能让人可以访问，但一般很少有网路服务供应商会作这样的设定。'
  %}

</div>

<h3>值得一提</h3>
<ul>
  <li><a href="https://github.com/quidsup/notrack">NoTrack</a> - 一个 DNS 伺服器可以封锁某些追踪网站。目前仅运行在 Debian 与 Ubuntu 的作业系统下。</li>
  <li><a href="https://namecoin.info/">Namecoin</a> - 去中心的 DNS 开源的资讯注册与传送系统，其利用比特币的密码货币所开发的系统。</li>
  <li><a href="https://pi-hole.net/">Pi-hole</a> - 树莓派 Raspberry Pi 所用的全网路 DNS 伺服器，可封锁区域网路内所有设备上的广告与追踪域名。</li>
</ul>