<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> 电子邮件客户端软件</h1>

{% include cardv2.html
title="Thunderbird"
image="/assets/img/svg/3rd-party/thunderbird.svg"
description="Thunderbird 免费、开源、跨平台的电子邮件、新闻与聊天软件，之前由 Mozilla 基金会开发维护，现为 Thunderbird 社群为开发主力。 是电子邮件、新闻群组、新闻推送订阅与聊天(支持 XMPP, IRC, Twitter)的客户端软件。"
website="https://www.thunderbird.net/"
forum="https://forum.privacytools.io/t/discussion-thunderbird/659"
source="https://hg.mozilla.org/comm-central/"
windows="https://www.thunderbird.net/en-US/"
mac="https://www.thunderbird.net/en-US/"
linux="https://www.thunderbird.net/en-US/"
freebsd="https://www.freshports.org/mail/thunderbird/"
openbsd="http://openports.se/mail/mozilla-thunderbird"
netbsd="http://pkgsrc.se/mail/thunderbird"
%}

{% include cardv2.html
title="Claws Mail"
image="/assets/img/png/3rd-party/claws_mail.png"
description="Claws Mail 免费开源，使用 GTK 桌面环境的电子邮件与新闻软件。它提供了简单的设置和丰富的功能，也包括 Windows 底下的加密套件包 Gpg4win。"
website="https://www.claws-mail.org/"
forum="https://forum.privacytools.io/t/discussion-claws-mail/660"
git="https://git.claws-mail.org/"
windows="https://www.claws-mail.org/win32/"
mac="https://www.claws-mail.org/faq/index.php/Installation_and_Configuration#What_do_I_need_to_compile_Claws_Mail.3F"
linux="https://www.claws-mail.org/downloads.php?section=downloads"
freebsd="https://www.freshports.org/mail/claws-mail/"
openbsd="http://openports.se/mail/claws-mail"
netbsd="http://pkgsrc.se/mail/claws-mail"
%}


<h3>隐私电邮工具</h3>

<ul>
  <li><a href="https://www.gpg4usb.org/">gpg4usb</a> - 方便的小型擕带式编辑器，可用于加密解密文本消息或文档档，支持 Windows 与 Linux。<a href="https://theprivacyguide.org/tutorials/gpg.html">GPG 教学</a>。</li>
  <li><a href="https://www.mailvelope.com/">Mailvelope</a> - 浏览器上的附加组件，通过 <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP 加密标准</a>，以便交换加密邮件。.</li>
  <li><a href="https://www.enigmail.net/">Enigmail</a> - Thunderbird 与 Seamonkey 的安全附加组件，让用户利用<a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP 标准</a>来签名或加密电子邮件内容。</li>
  <li><a href="https://addons.thunderbird.net/thunderbird/addon/torbirdy/">TorBirdy</a> - 设置 Thunderbird 链接 Tor 匿名网络，此附加组件仍在测试实验阶段。</li>
  <li><a href="https://www.emailprivacytester.com/">Email Privacy Tester</a> - 此工具可寄给用户有关其电邮信箱隐私相关的测试报告邮件。</li>
</ul>

<h3>值得一提</h3>

<ul>
  <li><a href="https://github.com/k9mail/k-9/releases">K-9 Mail</a> - Android 安卓手机上的独立电子邮件应用程序，其同时支持 POP3 与 IMAP 协议的邮箱, 但目前只支持 IMAP 的邮件推送。</li>
  <li><a href="https://www.gnupg.org/">GNU Privacy Guard</a> - 电子邮件加密，GnuPG 为基于 GPL 授权版本的 PGP 密码套件软件的替代选择。 <a href="https://theprivacyguide.org/tutorials/gpg.html">使用教学（英文）</a>。MacOS X 操作系统可使用 <a href="https://gpgtools.org/">GPGTools</a>。</li>
  <li><a href="https://www.mailpile.is/">Mailpile (Beta)</a> - 现代、快捷的网页电邮工具，易上手的使用接口与友善的加密隐私功能。</li>
</ul>
