<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> 具有隐私意识的电子邮件服务提供商- 与本站没有利害关联</h1>

<div class="alert alert-success" role="alert">
  <strong>这里列出的提供商都在美国境外营运，并且支持<a data-toggle="tooltip" data-placement="bottom" data-original-title="双方都支持传输层加密的话，邮件在两家提供商之间传送时是加密的。"> SMTP TLS</a>。不过绝对不要随意信任任何公司，多利用端到端加密通讯。</strong>
</div>

<div class="table-responsive">
  <table class="table sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th data-sortable="true">电子邮件服务提供商</th>
        <th data-sortable="true">URL</th>
        <th data-sortable="true">成立时间</th>
        <th data-sortable="true">服务器位置</th>
        <th data-sortable="true">空间容量</th>
        <th data-sortable="true">价格 / 年费</th>
        <th data-sortable="true">比特币付费</th>
        <th data-sortable="true">加密功能</th>
        <th data-sortable="true">自定域名</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td data-value="ProtonMail">
          <img alt="Protonmail" src="assets/img/provider/ProtonMail.ch.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.protonmail.ch" href="https://www.protonmail.ch"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://protonirockerxow.onion. Requires specific software to access: torproject.org" href="https://protonirockerxow.onion"><img alt="Tor" src="assets/img/layout/tor.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="disroot.org">
          <img alt="Disroot" src="assets/img/provider/disroot.org.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://disroot.org" href="https://disroot.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2015">2015</td>
        <td><span class="flag-icon flag-icon-nl"></span> 荷兰</td>
        <td data-value="2000">2 GB</td>
        <td data-value="1"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Tutanota">
          <img alt="Tutanota" src="assets/img/provider/Tutanota.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.tutanota.com" href="https://www.tutanota.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2011">2011</td>
        <td><span class="flag-icon flag-icon-de"></span> 德国</td>
        <td data-value="1000">1 GB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Mailfence">
          <img alt="Mailfence" src="assets/img/provider/Mailfence.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailfence.com" href="https://www.mailfence.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-be"></span> 比利时</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="mailbox.org">
          <img alt="mailbox.org" src="assets/img/provider/mailbox.org.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailbox.org" href="https://www.mailbox.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-de"></span> 德国</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Posteo">
          <img alt="Posteo" src="assets/img/provider/Posteo.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.posteo.de" href="https://www.posteo.de"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2009">2009</td>
        <td><span class="flag-icon flag-icon-de"></span> 德国</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
      </tr>

      <tr>
        <td data-value="Runbox">
          <img alt="Runbox" src="assets/img/provider/runbox.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://runbox.com" href="https://runbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="1999">1999</td>
        <td><span class="flag-icon flag-icon-no"></span> 挪威</td>
        <td data-value="1000">1 GB</td>
        <td data-value="20">$ 19.95</td>
        <td data-value="1"><span class="label label-primary">Yes</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Neomailbox">
          <img alt="Neomailbox" src="assets/img/provider/Neomailbox.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.neomailbox.com" href="https://www.neomailbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2003">2003</td>
        <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
        <td data-value="1000">1 GB</td>
        <td data-value="50">$ 49.95</td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="StartMail">
          <img alt="StartMail" src="assets/img/provider/StartMail.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.startmail.com" href="https://www.startmail.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-nl"></span> 荷兰</td>
        <td data-value="10000">10 GB</td>
        <td data-value="60">$ 59.95</td>
        <td data-value="0"><span class="label label-success">接受</span></td>
        <td data-value="1"><span class="label label-success">内建</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Kolab Now">
          <img alt="Kolab Now" src="assets/img/provider/Kolab-Now.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.kolabnow.com" href="https://www.kolabnow.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2010">2010</td>
        <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
        <td data-value="2048">2 GB</td>
        <td data-value="60">$ 60</td>
        <td data-value="1"><span class="label label-success">接受</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

    </tbody>
  </table>
</div>

<h3>尚在开发阶段的有趣电子邮件服务提供商</h3>
<ul>
  <li><a href="https://www.confidantmail.org/">Confidant Mail</a> - 开源，非 SMTP 的密码式电子邮件系统，可以优化大型附件和对一般电子邮件与文件下载，它是另一个安全且防范垃圾邮件的替代选项。它利用<a href="https://theprivacyguide.org/tutorials/gpg.html">GNU Privacy Guard (GPG)</a>进行内容加密与认证，以 TLS 1.2 产生的临时密钥来进行传输加密。</li>
</ul>  <h3>利用 Mail-in-a-Box 来打造自己的电子邮件服务</h3>
<a href="https://mailinabox.email/"><img src="assets/img/provider/Mail-in-a-Box.png" class="img-fluid float-left" alt="Mail-in-a-Box" style="margin-right:10px;"></a>
<p>利用这个易于布署的邮件伺服器工具箱，更进一步地掌控自己的电子邮件安全。Mail-in-a-Box 让你透过一些简单的步骤来设置自己的电子邮件服务器，就像只属于你的 Gmail 一样。技术上来看，Mail-in-a-Box 把新兴的云端电脑变成了不需要过多专业技能即可工作的邮件服务器。<strong>了解更多信息：<a href="https://mailinabox.email/">https://mailinabox.email/</a></strong></p>

<h3>私密的电子邮件工具</h3>
<ul>
  <li><a href="https://www.gpg4usb.org/">gpg4usb</a> - 容易使用的小型编写软件，可用来加密与解密文字和文件。可在 Windows 和 GNU/Linux 下可使用。 <a href="https://theprivacyguide.org/tutorials/gpg.html">GnuPG 使用教学（英文）</a>.</li>
  <li><a href="https://www.mailvelope.com/">Mailvelope</a> 通过 <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP 加密标准</a>加密邮件的浏览器扩展。</li>
  <li><a href="https://www.enigmail.net/">Enigmail</a> - 通过 <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP 加密标准</a>撰写、接收和签名加密邮件的 ThunderBird 扩展。</li>
  <li><a href="https://addons.mozilla.org/thunderbird/addon/torbirdy/">TorBirdy</a> - 让 Thunderbird 通过 Tor 匿名网路连接的扩展。</li>
  <li><a href="https://emailprivacytester.com/">Email Privacy Tester</a> -传送一封电子邮件到你的地址以进行相关安全隐私测试的网站。</li>
</ul>

<h3>相关信息</h3>
<ul>
  <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Aging 'Privacy' Law Leaves Cloud E-Mail Open to Cops</a> - 存放在云端超过 6 个月以上的电子邮件被视为弃置，故情报部门可在无法院令状下取调。强烈建议使用外部的电子邮件软体客户端（如 Thunderbird ）把电子邮件下载到本地端电脑储存，不要存留在邮件伺服器。上</li>
  <li><a href="https://www.eff.org/deeplinks/2012/04/may-firstriseup-server-seizure-fbi-overreaches-yet-again">With May First/Riseup Server Seizure, FBI Overreaches Yet Again</a></li>
  <li><a href="https://www.autistici.org/ai/crackdown/">Autistici/Inventati server compromised</a> - Autistici/Inventatio 所提供的加密服务曾在 2004 年 6 月 15 日受到破坏，但到一年后 2005 年 6 月 21 日才被发现。这段期间警察可能监看了 autistici.org/inventati.org 每位用户的私人通讯状况。</li>
</ul>
