
<div class="card border-danger">
  <div class="card-header text-danger"><i class="fas fa-exclamation-circle fa-fw"></i> 警告</div>
    <div class="card-body">
      <p class="card-text text-danger">使用 <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">OpenPGP</a> 一类端到端加密工具时, 邮件头部仍然会有一些未加密的元数据。<a href="/providers/email/#metadata">了解有关元数据的更多信息。</a></p>
      <p class="card-text text-danger">OpenPGP 也不能做到<a href="https://en.wikipedia.org/wiki/Forward_secrecy">前向安全</a>, 即如果你的私钥丢失或被窃，你之前加密的<strong>全部</strong>消息也将暴露。<a href="/providers/email/#email-encryption">所以务必做好措施保护你的私钥。</a></p>
      <p class="card-text text-secondary">除了电子邮件，你也可以考虑使用支持前向安全的即时聊天软件来进行长期沟通。</p>
      <a href="/software/real-time-communication/" class="btn btn-outline-secondary">查阅我们推荐的即时聊天软件</a>
    </div>
</div>
