<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a>电子邮件替代</h1>
<div class="row mb-2">

  {% include card.html color='success'
  title='I2P-Bote'
  image='assets/img/tools/I2P.png'
  url='https://i2pbote.xyz/'
  footer='支援作业系统：Windows, macOS, Linux, Android, BSD / Solaris.'
  description='I2P-Bote 是一个完全去中心化的分散式电邮系统。它支援不同的身份识别也不会曝露邮件表头资讯。到 2015 年为止，它仍处在测试版本，可以透过网页介面应用程式或 IMAP 与 SMTP 来取用。所有 bote-mails 电邮是采端对端透明加密或是可以选择利用传送者的私钥进行数位签名。'
  %}

  {% include card.html color='primary'
  title='Bitmessage'
  image='assets/img/tools/Bitmessage.png'
  url='https://bitmessage.org/'
  footer='支援作业系统：Windows, macOS, Linux." description="Bitmessage　是一种端对端的通讯协议，被用来传送加密讯息给单一或多名订阅者。它是去中心化与无信任，其意指用户不必要信任任何根凭证授权的实体。它采用强度高的认证授权，让送件者的讯息无法被欺骗，目的在于能将非讯息内容的资料予以隐藏。'
  %}    
  {% include card.html color='warning'
  title='RetroShare'
  image='assets/img/tools/RetroShare.png'
  url='http://retroshare.net'
  footer='支援作业系统：Windows, macOS, Linux.'
  description='Retroshare 可建立朋友间的加密通讯连线，没有人可以监控你。Retroshare 是一个完全分散化的设计，这代表着它没有任何中心控制的伺服器。它完全为开源和免费。它没有任何成本、广告或是服务协议。'
  %}
</div>
