<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> 电邮客户端软体</h1>
<div class="row mb-2">

  {% include card.html color='success'
  title='Thunderbird'
  image='assets/img/tools/Thunderbird.png'
  url='https://mozilla.org/thunderbird'
  website='mozilla.org'
  footer='支援作业系统: Windows, macOS, Linux, BSD.'
  description='Mozilla Thunderbird 是一个免费、开源、跨平台的电邮、新闻与聊天软体，由 Mozilla 基金会开发维护。 Thunderbird 是电子邮件、新闻群组、新闻推送订阅与聊天(支援 XMPP, IRC, Twitter)的客户端软体。'
  %}    
  {% include card.html color='primary'
  title='Claws Mail'
  image='assets/img/tools/Claws-Mail.png'
  url='https://www.claws-mail.org/'
  footer='支援作业系统: Windows, macOS, Linux, BSD, Solaris, Unix.'
  description='Claws Mail 是一个免费开源，使用 GTK 桌面环境为基础的电邮与新闻软体。它提供了简单的设定和丰富的功能，也包括 Windows 底下的加密套件包。'
  %}    <!--
    <div class="col-sm-4">
    <div class="panel panel-warning">
    <div class="panel-heading">
    <h3 class="panel-title">Whiteout Mail</h3>
    </div>
    <div class="panel-body">
    <p><img src="assets/img/tools/Whiteout-Mail.png" alt="Whiteout Mail" align="right" style="margin-left:5px;">Whiteout Mail is an open source  email solution with strong end-to-end encryption that is really easy to use and runs on all of your devices. Keeping your emails safe has never been so easy. You can also get a new email address.</p>
    <p><a href="https://whiteout.io/"><button type="button" class="btn btn-warning">Website: whiteout.io</button></a></p>
    <p>OS: Chrome, Android, iOS, Web.</p>
    </div>
    </div>
    </div>
  -->

</div>

<h3>值得一提</h3>
<ul>
  <li><a href="https://github.com/k9mail/k-9/releases">K-9 Mail</a> - Android 安卓手机上的独立电邮应用程式，其同时支援 POP3 与 IMAP 协议的邮箱, 但目前只支援 IMAP 的推送邮件功能。</li>
  <li><a href="https://www.gnupg.org/">GNU Privacy Guard</a> - GnuPG 电邮加密，GnuPG 为基于 GPL 授权版本的 PGP 密码套件软体的替代选择。<a href="https://theprivacyguide.org/tutorials/gpg.html">使用教学（英文）</a> macOS X 作业系统可使用<a href="https://gpgtools.org/">GPGTools for MacOS</a></li>
  <li><a href="https://www.mailpile.is/">Mailpile (Beta)</a> - 一个现代、快速的网页用户端软体，提供友善的加密与隐私功能。</li>
</ul>