<h1 id="encrypt" class="anchor"><a href="#encrypt"><i class="fas fa-link anchor-icon"></i></a> 檔案加密軟體</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你尚未對常用的硬碟、電子郵件或檔案庫予以加密，請趕快從這挑選一個加密軟體。</strong>
</div>

{%
  include cardv2.html
  title="VeraCrypt - Disk Encryption"
  image="/assets/img/svg/3rd-party/veracrypt.svg"
  image-dark="/assets/img/svg/3rd-party/veracrypt-dark.svg"
  description="<strong>VeraCrypt</strong>開放程式碼的免費軟體工具，用來快速加密。它為檔案建立一個虛擬的加密磁碟、加密磁區或是在開機前授權設定整個設備的硬碟都予以加密。 VeraCrypt 源自目前已無進展的 TrueCrypt 專案，初次發佈日是 2013 年 6 月 23日。據開發者表示，原本 TrueCrypt 程式碼在審查後發現的問題已經解決，大幅地改善了安全性。"
  website="https://veracrypt.fr/"
  forum="https://forum.privacytools.io/t/discussion-veracrypt-file-encryption/1532"
  git="https://www.veracrypt.fr/code/"
  windows="https://www.veracrypt.fr/en/Downloads.html"
  linux="https://www.veracrypt.fr/en/Downloads.html"
  mac="https://www.veracrypt.fr/en/Downloads.html"
%}

{%
  include cardv2.html
  title="GNU Privacy Guard - Email Encryption"
  image="/assets/img/svg/3rd-party/gnupg.svg"
  description="<strong>GnuPG</strong> 採 GPL 授權，替代 PGP 密碼學軟體套件。GnuPG 可兼容 RFC 4880，它是一個目前 IETF OpenPGP 標準追蹤規格。目前 PGP（以及 Veridis' Filecrypt）的版本可以和 GnuPG 以及其它 OpenPGP 兼容系統互相操作。GnuPG 是自由軟體基金會 GNU 軟體專案中的一部份，曾接受德國政府的經費贊助。"
  website="https://gnupg.org/"
  forum="https://forum.privacytools.io/t/discussion-gnupg-file-encryption/1533"
  git="https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git"
  windows="https://gpg4win.org/download.html"
  linux="https://gnupg.org/download/index.html#binary"
  freebsd="https://www.freshports.org/security/gnupg/"
  openbsd="http://openports.se/security/gnupg"
  netbsd="http://pkgsrc.se/security/gnupg"
  mac="https://gpgtools.org/"
  fdroid="https://f-droid.org/app/org.sufficientlysecure.keychain"
  googleplay="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain"
%}

{%
  include cardv2.html
  title="7 Zip"
  image="/assets/img/svg/3rd-party/7zip.svg"
  description='<strong>7-Zip</strong> is a free and open-source file archiver, a utility used to place groups of files within compressed containers. On Linux, MacOS etc. the command-line tool <a href="http://p7zip.sourceforge.net/"><strong>p7zip</strong></a> is used and integrates into various interfaces such as <a href="https://wiki.gnome.org/Apps/FileRoller">FileRoller</a>, <a href="https://github.com/ib/xarchiver">Xarchiver</a>, <a href="https://kde.org/applications/utilities/ark">Ark</a>.'
  website="https://7-zip.org"
  forum="https://forum.privacytools.io/t/discussion-7-zip/3024"
  source="https://sourceforge.net/projects/sevenzip/files/"
  windows="https://7-zip.org/download.html"
  linux="https://sourceforge.net/projects/p7zip/files"
  freebsd="https://www.freshports.org/archivers/p7zip"
  openbsd="https://sourceforge.net/projects/p7zip"
  netbsd="https://sourceforge.net/projects/p7zip"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Free client-side AES encryption for your cloud files. Open source software: No backdoors, no registration.
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    link="https://github.com/cryptomator/cryptomator-android/issues/1#issuecomment-257979375"
    tooltip="Cryptomator's mobile apps are not open-source."
    %}</li>
  <li><a href="https://gitlab.com/cryptsetup/cryptsetup/">Linux Unified Key Setup (LUKS)</a> - A full disk encryption system for Linux using dm-crypt as the disk encryption backend. Included by default in Ubuntu. Available for Windows and Linux.</li>
  <li><a href="https://www.dyne.org/software/tomb/">Tomb</a> - A simple zsh script for making LUKS containers on the commandline.</li>
  <li><a href="https://hat.sh/">Hat.sh</a> - A cross-platform, serverless JavaScript web application that provides secure file encryption using the AES-256-GCM algorithm in your browser. It can also be downloaded and run offline.</li>
  <li><a href="https://www.keka.io/">Keka</a> - A macOS-only, file archiver with the ability to encrypt files.
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    link="https://github.com/aonez/Keka#so-where-is-the-source-code"
    tooltip="This software is no longer open source."
    %}</li>
</ul>
