<h1 id="sync" class="anchor">
  <a href="#sync">
    <i class="fas fa-link anchor-icon"></i>
  </a>
  文件同步
</h1>

{%
  include cardv2.html
  title="Syncthing"
  image="/assets/img/svg/3rd-party/syncthing.svg"
  description="<strong>Syncthing</strong> 可替代商用同步软件与云端服务，它开放、值得信任且去中心化。您的数据就是您的，当事人有权选择它要存放在哪里，是否要与其它第三者分享以及数据如何在网络上被传递。"
  website="https://syncthing.net/"
  forum="https://forum.privacytools.io/t/discussion-syncthing/1627/2"
  github="https://github.com/syncthing?type=source"
  windows="https://github.com/syncthing/syncthing-gtk/releases/latest"
  linux="https://github.com/syncthing/syncthing-gtk/releases/latest"
  mac="https://github.com/syncthing/syncthing-macos/releases/latest"
  fdroid="https://f-droid.org/packages/com.github.catfriend1.syncthingandroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.github.catfriend1.syncthingandroid"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> - 用 git 来管理文件，但不用 git 来检查文件内容。这听起来似乎有点矛盾，但当在处理大型文件上这方法就很好用，尤其是考虑到内存大小、时间和硬盘空间。
  </li>
</ul>
