<h1 id="filesharing" class="anchor"><a href="#filesharing"><i class="fas fa-link anchor-icon"></i></a> 档案分享</h1>
<div class="row mb-2">
  {% include card.html color='success'
  title='OnionShare'
  image='assets/img/tools/OnionShare.png'
  url='https://onionshare.org/'
  tor='http://elx57ue5uyfplgva.onion/'
  footer='支援作业系统： Windows, macOS, Linux.'
  description='OnionShare 一套开源工具可以安全而匿名地分享档案，没有大小限制。它透过网页伺服器来启动，让自身变成 Tor 洋䓤服务接取的一部份，产生一个无法猜测的网址以用来接取和下载档案。其并不需要在互联网上设定一个伺服器或是使用第三方的档案分享服务。用户可以透过自己的电脑来放置这些档案，再使用 Tor 洋䓤服务以让档案可以透过互联网暂时被存取。'
  %}

  {% include card.html color='primary'
  title='Magic Wormhole'
  image='assets/img/tools/Magic-Wormhole.png'
  url='https://github.com/warner/magic-wormhole'
  footer='支援作业系统： 跨平台 <a href="https://github.com/warner/magic-wormhole#license-compatibility">(python)</a>'
  description='电脑之间安全地收取档案资料 这个套件提供一个名为虫洞 wormhole 的资料库，其可以在电脑之间取用不限大小的档案与目录资料夹。其电脑间两个终端利用一致虫洞代码 "wormhole codes"　来识别，一般而言，传送端的电脑会产生与颢示这个代码，而接收端电脑则必须输入此代码以进行连接。 此代码很简短且人类可识读，利用发音可区别的文字行。接收端的电脑则在代码字上提供完成分页，因此通常要输入一些字元。虫洞代码仅能使用一次，故不必强记。'
  %}
</div>
