<h1 id="filesharing" class="anchor"><a href="#filesharing"><i class="fas fa-link anchor-icon"></i></a> File Sharing</h1>

{% include cardv2.html
title="Firefox Send"
image="/assets/img/svg/3rd-party/firefox_send.svg"
website="https://send.firefox.com/"
description="Firefox Send 使用端对端加密以维持数据从送出到被读取全程之安全。用户也可以自行设置安全控制，选择文件链接的时效长短、可下载次数以及是否要多加一层密码输入的安全防护。"
forum="https://forum.privacytools.io/t/discussion-firefox-send/755"
github="https://github.com/mozilla/send"
web="https://send.firefox.com/"
googleplay="https://play.google.com/store/apps/details?id=org.mozilla.firefoxsend"
%}

{% include cardv2.html
title="OnionShare"
image="/assets/img/svg/3rd-party/onionshare.svg"
website="https://onionshare.org/"
tor="http://elx57ue5uyfplgva.onion/"
description="OnionShare 开源工具可安全匿名地分享文件，没有大小限制。它通过网页服务器来启动，让自身变成 Tor 洋䓤服务接取的一部份，产生一个无法猜测的网址用以接取和下载文件。其并不需要在互联网上设置一个服务器或是使用第三方的文件分享服务。用户可以通过自己的电脑来放置这些文件，再使用 Tor 洋䓤服务以让文件通过互联网暂时被访问。"
forum="https://forum.privacytools.io/t/discussion-onionshare/754"
github="https://github.com/micahflee/onionshare"
windows="https://onionshare.org/#downloads"
mac="https://onionshare.org/#downloads"
linux="https://onionshare.org/#downloads"
freebsd="https://www.freshports.org/www/onionshare/"
openbsd="http://openports.se/net/onionshare"
%}

{% include cardv2.html
title='Magic Wormhole'
image='/assets/img/png/3rd-party/magic_wormhole.png'
website='https://magic-wormhole.readthedocs.io'
description='电脑之间安全地收取文件数据。这个套件提供一个名为虫洞 wormhole 的数据库，其可以在电脑之间取用不限大小的文件与目录文件夹。其电脑间两个终端利用一致虫洞代码 "wormhole codes" 来识别，一般而言，发送端的电脑会产生与颢示这个代码，而接收端电脑则必须输入此代码以进行连接。此代码很简短且人类可识读，利用发音可区别的文本行。接收端的电脑则在代码字上提供 tab 补齐，因此通常要输入一些字符。虫洞代码仅能使用一次，故不必强记。

Magic Wormhole 套件提供名为 wormhole 的资源库与指令工具，以取得任何电脑上各种大小的文件和目录（或是一小段文本）。Magic Wormhole 的箴言是：「在电脑之间安全地取用数据 (Get things from one computer to another, safely.」'
forum='https://forum.privacytools.io/t/discussion-magic-wormhole/756'
github='https://github.com/warner/magic-wormhole'
windows='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
mac='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
linux='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
freebsd='https://www.freshports.org/net/py-magic-wormhole/'
openbsd='https://pypi.org/project/magic-wormhole/'
netbsd='https://pypi.org/project/magic-wormhole/'
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://framadrop.org/">FramaDrop</a> - Stores a file of any size for 24h. Data is end-to-end encrypted from your browser, powered by <a href="https://framagit.org/fiat-tux/hat-softwares/lufi">LuFi</a>.
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    link="https://framasoft.org/en/cgu/"
    tooltip="FramaDrop logs IP addresses and fingerprints the browser for an unclear amount of time."
    %}
  </li>
  <li><a href="https://github.com/schollz/croc">croc</a> - 好用且能安全进行电脑数据发送的工具。</li>
  <li><a href="https://freedombox.org/">FreedomBox</a> - 设计用于自架的经济型家用服务器，可运行自由软件和提供越来越多的服务，例如日历、Jabber server,  wiki 或 VPN 等。</li>
</ul>
