<h1 id="sync" class="anchor"><a href="#sync"><i class="fas fa-link anchor-icon"></i></a>安全的档案同步软体</h1>
<div class="row mb-2">

  {% include card.html color='success'
  title='SparkleShare'
  image='assets/img/tools/SparkleShare.png'
  url='https://sparkleshare.org/'
  footer='支援作业系统： Windows, macOS, Linux.'
  description='SparkleShare 在自己的电脑上建立一个特别的资料夹，用户可把远端主机的资料夹（或专案）存放到这个资料夹底下。这些专案会保持自动与主机以及其它的加入的资料夹同群一起更新档案新增、移除或编辑等最新状态。'
  %}    
  {% include card.html color='primary'
  title='Syncthing'
  image='assets/img/tools/Syncthing.png'
  url='https://syncthing.net/'
  footer='支援作业系统： Windows, macOS, Linux.'
  description='Syncthing 用来替换商用同步软体与云端服务，它开放、值得信任且去中心化。你的资料就是你的资料，当事人有权选择它要存放在哪里，是否要与其它第三者分享以及资料如何在网路上被传递。'
  %} 
</div>
<h3>值得一提</h3>
<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> - 用 git 来管理档案，但不用 git 来检察档案内容。这听起来似乎有点矛盾，但当在处理大型档案上这方法就很好用，尤其是考虑到记忆体大小、时间和硬碟空间。 
  </li>
</ul>