<div class="page-header">
  <h4>没有广告、没有 Google 追踪分析器、没有利害关联、没有跨站请求</h4>
</div>
<p>

<a href="http://www.wtfpl.net/" data-toggle="tooltip" data-placement="top" style="margin-right:30px;" data-original-title="本站内容自由开放授权，任何人皆可在遵循 Sam Hocevar 的''Do What The Fuck You Want To Public License'' 协议的限制下自由的分发和修改。"><img alt="WTFPL" src="assets/img/layout/wtfpl.png" style="margin-right:15px;">WTFPL</a>

<a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top" style="margin-right:30px;" data-original-title="kopimi (copyme), symbol showing that you want to be copied. use kopimi in your own fancy. kopimi may be put on homepages or blogs, in books, in software, as sound logos in music or whatever."><img alt="kopimi" src="assets/img/layout/kopimi.png" style="margin-right:15px;">kopimi (copyme)</a>

<a href="donate.html" data-toggle="tooltip" data-placement="top" data-original-title="捐助比特币支援本站，本站没有广告干扰，和任何服务供应商也没有利害关系。个人捐款会用于支付服务器和域名费用。"><img alt="Bitcoin" src="assets/img/layout/Bitcoin.png" style="margin-right:15px;">捐款:</a> <span style="margin-left:15px;">1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt</span> 或是使用 <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5G9CBU8P6F4K2">PayPal.</a>

</p>

<p><em>privacytools.io 是一个为社会现况激发的社群网站，它提供保护上网者隐私和安全的信息。不要信任任何一家公司会保护你的隐私，时时刻刻作好加密防备。</em></p>