<h1 id="ukusa" class="anchor"><a href="#ukusa"><i class="fas fa-link anchor-icon"></i></a>在全球进行大规模监控的十四双眼</h1>

<img src="assets/img/layout/UKUSA.png" class="img-fluid float-right" alt="UKUSA Agreement" style="margin-left:10px;">

<p>UKUSA 协议是英国、美国、澳洲、加拿大与纽西兰五国之间的合作协议要共同来收集、分析和分享情报信息。这个联盟的成员，即所知的
  <a href="http://www.giswatch.org/en/communications-surveillance/unmasking-five-eyes-global-surveillance-practices">五眼联盟</a>，
  聚焦在取得和分析来自全世界各地的情报。而这五眼国家同意
  <a href="http://www.pbs.org/newshour/rundown/an-exclusive-club-the-five-countries-that-dont-spy-on-each-other/">彼此之间不如敌对国那样地互相监控</a>,
  由Snowden 所揭露的信息显示，有些五眼联盟成员会监控对方国家的人民<a href="http://www.theguardian.com/uk/2013/jun/21/gchq-cables-secret-world-communications-nsa">
    并相互分享情报</a>以
  <a href="http://www.theguardian.com/politics/2013/jun/10/nsa-offers-intelligence-british-counterparts-blunkett">规避国内法令约束</a>
  不准监控自己国家的公民规定。五眼联盟也与其它不同的国家集团合作以分享情报
  (其组成了九眼集团和十四眼集团等), 总之五眼国家和其它国家成员会对彼此互相进行情报监控。</p>

<div class="row mb-3">
  {% include panel.html color="danger"
  title="五眼联盟"
  body='
  <ol class="card-ol">
    <li>澳洲 <div class="float-right"><span class="flag-icon flag-icon-au"></span></div>
    </li>
    <li>加拿大 <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div>
    </li>
    <li>纽西兰 <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div>
    </li>
    <li>英国 <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div>
    </li>
    <li>美国 <div class="float-right"><span class="flag-icon flag-icon-us"></span></div>
    </li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="九眼集团"
  body='
  <ol class="card-ol">
    <li>丹麦 <div class="float-right"><span class="flag-icon flag-icon-dk"></span></div>
    </li>
    <li>法国 <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div>
    </li>
    <li>荷兰 <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div>
    </li>
    <li>挪威 <div class="float-right"><span class="flag-icon flag-icon-no"></span></div>
    </li>
  </ol>
  '
  %}

  {% include panel.html color="secondary"
  title="十四眼集团"
  body='
  <ol class="card-ol">
    <li>比利时 <div class="float-right"><span class="flag-icon flag-icon-be"></span></div>
    </li>
    <li>德国 <div class="float-right"><span class="flag-icon flag-icon-de"></span></div>
    </li>
    <li>义大利 <div class="float-right"><span class="flag-icon flag-icon-it"></span></div>
    </li>
    <li>西班牙 <div class="float-right"><span class="flag-icon flag-icon-es"></span></div>
    </li>
    <li>瑞典 <div class="float-right"><span class="flag-icon flag-icon-se"></span></div>
    </li>
  </ol>
  '
  %}
</div>
