<div class="jumbotron p-5">
  <h1 class="display-4"><a href="https://www.privacytools.io/" title="privacytools.io"><img src="assets/img/layout/logo.png" class="img-fluid" alt="privacytools.io"></a></h1>
  <p class="lead">你正在被盯着。私人和国家支持的组织正在监控与记录你的线上活动。这里提供一些知识与工具以保护个人隐私抵抗全球大规模监控。</p>
</div>

<p>
<a data-toggle="tooltip" data-placement="bottom" data-original-title="Translations of privacytools.io were done by volunteers. They might be not up to date.">Language:</a>

<span class="flag-icon flag-icon-tw" style="margin-left:5px;"></span> <a href="https://privacytools.twngo.xyz/">繁体中文</a>

<span class="flag-icon flag-icon-es" style="margin-left:5px;"></span> <a href="https://victorhck.gitlab.io/privacytools-es/">Español</a>

<span class="flag-icon flag-icon-de" style="margin-left:5px;"></span> <a href="https://privacytools.it-sec.rocks/">Deutsch</a>

<span class="flag-icon flag-icon-it" style="margin-left:5px;"></span> <a href="https://privacytools-it.github.io/">Italiano</a>

<span class="flag-icon flag-icon-ru" style="margin-left:5px;"></span> <a href="https://privacytools.ru">Русский</a>

<span class="flag-icon flag-icon-fr" style="margin-left:5px;"></span> <a href="https://privacytools.dreads-unlock.fr">Français</a>
</p>

<div class="page-header">
  <h1>隐私？我无不可告人之处</h1>
</div>
<blockquote class="blockquote">
  <p>
  <a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters" title="Glenn Greenwald - Why privacy matters - TED Talk"><img src="assets/img/layout/Glenn-Greenwald-Why-privacy-matters.jpg" class="img-fluid float-right ml-2" alt="Glenn Greenwald: Why privacy matters"></a>
  过去十多个月来，每当我在全球各地讨论这个议题的时候，总是有人会这样对我说：「我并不担心隐私被侵犯因为我没什么不可告人之处」我也对他们回应相同的答复。我拿了一支笔，写下自己的电子邮件，然后说：「这上面是我的电子邮件，我希望当你回到家之后，把你自己所有的电邮帐号和密码都寄给我。不是只提供你工作上使用那个一本正经的电子邮件，而是全部的电邮。这样我可以在线上用你的帐号来了解你的一举一动，然后把我认为有趣的事物公开出来。不管怎样，如果你不是个坏人，如果你没做过坏事，你应该也没什么不可告人之处。」<strong>然而从来没人回应我这项提议。</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald <cite title="Why privacy matters - TED Talk"><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters"> 为何隐私重要 - TED 演讲</a></cite></footer>
</blockquote>

<h4>进一步阅读:</h4>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">Nothing to hide argument (Wikipedia)</a></li>
  <li><a href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">How do you counter the "I have nothing to hide?" argument? (reddit.com)</a></li>
  <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'I've Got Nothing to Hide' and Other Misunderstandings of Privacy (Daniel J. Solove - San Diego Law Review)</a></li>
</ul>
