<h1 id="host" class="anchor"><a href="#host"><i class="fas fa-link anchor-icon"></i></a> 安全架站供应商</h1>

{% include cardv2.html
title="Data Center: Bahnhof"
image="/assets/img/svg/3rd-party/bahnhof.svg"
image-dark="/assets/img/svg/3rd-party/bahnhof-dark.svg"
description="1994 年成立于瑞典，Bahnhof 也是当地最大的网络营运商之一。他们擅长创意的数据中心建造，其高安全性与使用低成本绿能而闻名于世。"
website="https://www.bahnhof.net/"
forum="https://forum.privacytools.io/t/discussion-bahnhof-net/341"
%}

{% include cardv2.html
title="VPS & Domain: Njalla"
image="/assets/img/svg/3rd-party/njalla.svg"
image-dark="/assets/img/svg/3rd-party/njalla-dark.svg"
description="Njalla 具有强烈隐私意识的域名注册商与 VPS 服务供应，公司设在尼维斯岛（VPS 数据中心在瑞典）。 创办人出身自海盗湾(Pirate Bay) 与 IPredator VPN 出身，接受：Bitcoin, Litecoin, Monero, DASH, Bitcoin Cash 与 PayPal 多种付款方式。"
website="https://njal.la/"
tor="http://njalladnspotetti.onion"
forum="https://forum.privacytools.io/t/discussion-njalla/339"
%}

{% include cardv2.html
title="Colocation: DataCell"
image="/assets/img/png/3rd-party/datacell.png"
description="DataCell 数据中心设于瑞士和冰岛的，提供安全的异地同步保存。"
website="https://datacell.is/"
forum="https://forum.privacytools.io/t/discussion-datacell-is/342"
%}

{% include cardv2.html
title="VPS, Hosting, & Domain: Orange Website"
image="/assets/img/png/3rd-party/orange_website.png"
description="Orange Website 冰岛的网站主机服务商，以重视在线隐私与言论保护自豪。"
website="https://www.orangewebsite.com/"
forum="https://forum.privacytools.io/t/discussion-orange-website/343"
%}
