<h1 id="im" class="anchor"><a href="#im"><i class="fas fa-link anchor-icon"></i></a> 加密的即时通信</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果您只知道 一般行动短信 SMS、<a href="https://www.eff.org/deeplinks/2016/10/where-whatsapp-went-wrong-effs-four-biggest-security-concerns">WhatsApp</a>、Viber、LINE、Telegram 或 Threema 即时通信，不妨从下列的推荐考虑其它替代软件。</strong></div>

<p>我们只推荐支持<a href="https://en.wikipedia.org/wiki/End-to-end_encryption">端对端加密 (end-to-end encryption, E2EE)</a>的即时通信。当使用 E2EE ,所有的传输（消息、语音、影像等）都经过<strong>加密后</strong>才会送出。 E2EE 可同时保护传输在任何网络流通的真实性与私密度。</p>

<p>除特别注明外，这里所选出来的客户端程序/应用软件都是 <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">免费开源的软件</a>。 如此才可以确保其源代码可以被专家独立查验。</p>

<p>现有的即时通信软件可简单分成三大类：集中型、联邦式和对等组网络，下方整理其各自的优缺点。</p>

<h2 id="centralized" class="anchor"><a href="#centralized"><i class="fas fa-link anchor-icon"></i></a> 集中型</h2>

<p>集中式的通信软件由某家公司或组织在他们控制的服务器上提供加入者相关的服务。</p>

{%
  include cardv2.html
  title="Signal"
  image="/assets/img/svg/3rd-party/signal.svg"
  description='Signal Messenger LLC 开发的手机应用软件，Signal 提供即时消息，包括语音和影像通话。除非用户选择寄送 SMS 短信，不然全部的通信皆通过 E2EE。它的协议通过<a href="https://eprint.iacr.org/2016/1013.pdf">独立审查（报告文档）</a>'
  labels="warning:<a>须提供手机号码</a>:Signal 要求以手机号作为个人识别码，这意谓任何通信对象都可以看到您的号码。|success:VoIP"
  website="https://signal.org/"
  privacy-policy="https://signal.org/legal/"
  forum="https://forum.privacytools.io/t/discussion-signal/664"
  github="https://github.com/signalapp"
  windows="https://signal.org/download/"
  mac="https://signal.org/download/"
  linux="https://signal.org/download/"
  googleplay="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms"
  android="https://signal.org/android/apk/#apk-danger"
  ios="https://apps.apple.com/app/signal-private-messenger/id874139669"
%}


<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h3>优点</h3>
    <ul>
      <li>新功能可被快速采用。</li>
      <li>容易上手与找到联系对象</li>
    </ul>
    </div>
  <div class="col-md-6">
    <h3>缺点</h3>
    <ul>
      <li>集中式服务容易让当权者<a href="#exploiting-centralized-networks">要求开放后门访问</a>。</li>
      <li><a href="https://drewdevault.com/2018/08/08/Signal.html">受限的控制或存支取</a>，例如：</li>
      <ul>
          <li>它们可以在使用条款中禁止 <a href="https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217211165">第三方用户的链接请求</a>，后者往往能提供更多的客制化服务或最佳的用户体验。</li>
          <li>第三方开发者无法获得必要的文档数据。</li>
      </ul>
      <li>单一控制下，<a href="https://blog.privacytools.io/delisting-wire">所有权</a>、隐私政策和服务营运可轻易改变，恐怕随后造成服务劣化。</li>
    </ul>
  </div>
  </div>
</div>

<div>
  <h2 id="federated" class="anchor">
    <a href="#federated"><i class="fas fa-link anchor-icon"></i></a>
    Federated （联邦式）
  </h2>

  <p>联邦式通信软件使用多方、各自独立的服务器，它们之间能互相通话（例如电子邮件即为职邦型服务的好例子）。这类通信设计可让糸统管理员控制自家服务器，同时为广大通信社群里的一份子。</p>

{%
  include cardv2.html
  title="Riot"
  image="/assets/img/svg/3rd-party/riotim.svg"
  description='<a href="//about.riot.im">Riot.im</a> 是 <a href="//matrix.org/docs/guides/introduction">Matrix</a>协议的参考实现客户端。<a href="//matrix.org/docs/spec">Matrix </a>是一种注重安全、非中心化和实时的开放源代码的通讯协议。'
  labels="text==VoIP"
  website="https://about.riot.im/"
  privacy-policy="https://riot.im/privacy"
  forum="https://forum.privacytools.io/t/discussion-riot-im/665/"
  github="https://github.com/vector-im/riot-web/"
  windows="https://riot.im/download/desktop/"
  mac="https://riot.im/download/desktop/"
  linux="https://riot.im/download/desktop/"
  fdroid="https://f-droid.org/repository/browse/?fdid=im.vector.alpha"
  googleplay="https://play.google.com/store/apps/details?id=im.vector.app"
  ios="https://itunes.apple.com/app/vector.im/id1083446067"
  web="https://riot.im/app/"
%}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>优点</h3>
      <ul>
        <li>自己运行服务器更能掌控自己的数据。</li>
        <li>让用户自己挑选所信任的公开服务器。</li>
        <li>通常可让第三方软件提供更道地，自定或亲和的使用体验。</li>
        <li>当信任变成非集中式，较不易成让政府置入<a href="#exploiting-centralized-networks">后门取得所有数据</a>。 此类分布式独立服务器可能由非原软件开发组织所架设。</li>
        <li>若您或所信任的人有权限访问服务器，可验查服务器软件是否符合公开的源代码。</li>
        <li>第三方开发者可以提交代码与添加功能，不必等待私人开发团队。</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>缺点</h3>
      <ul>
        <li>添加功能更为复杂，它们须经标准化与测试来确保能在所有的服务器上运行。</li>
        <li>可以取得一些元数据（像是"谁与谁通话"之类的数据。因为使用 E2EE，实际的通信内容则不会被看到）。</li>
		    <li>邦联中的服务器通常表示对网管人员的信任，但他们可能只是兴趣啫好者而非网络安全专业人士，不会认真看待隐私政策或服务条款中的个资使用细节等标准文档。</li>
        <li>服务器管理员可决定屏蔽其它服务器，此将影响用户与该服务器用户的通信（通常是因该服务器无人管造成滥用或是破坏规则的行为）.</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h4>值得关注</h4>

  <ul>
    <li><a href="https://status.im">Status.im</a> - 基于以太坊 <a href="https://en.wikipedia.org/wiki/Ethereum">Ethereum</a> 钱包（加密数字货币）的即时通讯软件。同时支持 <a href="https://our.status.im/tag/dapps">DApps (去中心化应用)</a> 使用 <a href="https://our.status.im/status-launches-private-peer-to-peer-messaging-protocol/">Waku 协议(Whisper 的分支)</a> 进行 P2P 沟通。目前支持 iOS 和 Android </li>
  </ul>

  <h2 id="peer-to-peer" class="anchor"><a href="#peer-to-peer"><i class="fas fa-link anchor-icon"></i></a> 对等式网络 (P2P)</h2>

  <p>Peer-to-Peer 对等式即时讯不通过第三方服务器，节点直接连接。客户端(peers)透由 usually find each other through the use of a <a href="https://en.wikipedia.org/wiki/Distributed_computing">分布式运算</a>网络来找到对方。相关案例包括：<a href="https://en.wikipedia.org/wiki/Distributed_hash_table">DHT (distributed hash table)</a> (用在<a href="https://en.wikipedia.org/wiki/BitTorrent_(protocol)">torrents</a> 和 <a href="https://en.wikipedia.org/wiki/InterPlanetary_File_System">IPFS</a>)，或是 <a href="https://en.wikipedia.org/wiki/Ethereum">Ethereum</a>的 <a href="https://github.com/ethereum/wiki/wiki/Whisper">Whisper</a>协议（与一些新的 DApps 运用）。 其它的方式则大略是基于网络，通过无线信号或蓝牙作链接（例如 Briar 或是 <a href="https://www.scuttlebutt.nz">Scuttlebutt</a> 社交网络协议）。 一旦某名用户通过上述方式找到接通他人的路径，即产生直接连系。</p>

{%
  include cardv2.html
  title="Briar"
  image="/assets/img/svg/3rd-party/briar.svg"
  description="加密的即时消息，让用户可通过无线信号、蓝牙或是 Tor 网络在互联网上同步消息。一旦遇上断网或是天灾等紧急状况，这类技术往往可派上用场。"
  website="https://briarproject.org"
  privacy-policy="https://briarproject.org/privacy-policy/"
  forum="https://forum.privacytools.io/t/discussion-briar/2114"
  gitlab="https://code.briarproject.org/briar/briar"
  fdroid="https://f-droid.org/packages/org.briarproject.briar.android/"
  googleplay="https://play.google.com/store/apps/details?id=org.briarproject.briar.android"
%}

{%
  include cardv2.html
  title="Jami"
  image="/assets/img/svg/3rd-party/jami.svg"
  description="加密的即时消息与影音通话软件，使用 <a href=//jami.net/improving-performance-and-security-with-tls-1-3/>TLS 1.3</a> 方式加密，同时不在设备上留下记录。"
  labels="color==warning::link==https://git.jami.net/savoirfairelinux/ring-project/issues/765::text==Warning::tooltip==这是可以自行架设的中心化软件。|text==VoIP"
  website="https://jami.net/"
  privacy-policy="https://jami.net/privacy-policy/"
  forum="https://forum.privacytools.io/t/discussion-jami/2116"
  gitlab="https://git.jami.net/savoirfairelinux"
  windows="https://jami.net/download-jami-windows"
  mac="https://jami.net/download-jami-macos"
  linux="https://jami.net/download-jami-linux"
  fdroid="https://f-droid.org/packages/cx.ring/"
  googleplay="https://play.google.com/store/apps/details?id=cx.ring"
  ios="https://itunes.apple.com/app/ring-a-gnu-package/id1306951055?mt=8"
%}

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h3>优点</h3>
    <ul>
      <li>第三方只能取得最少量的信息</li>
      <li>现代 P2P 平台皆缺省运行端对端加密。不像中央或联邦式，会有服务器拦截或解密传输的问题。</li>
    </ul>
    </div>
    <div class="col-md-6">
      <h3>缺点</h3>
      <ul>
        <li>功能可能会有不足：</li>
        <ul>
            <li>当收讯对象上线后才会收到消息，但您的设备可能在会本地端保存未送出的消息以待对方上线。</li>
            <li>由于要与分散网络维持连接状态，往往会消耗行动设备的电量。</li>
        </ul>
        <li>若无使用如 <a href="https://www.torproject.org">Tor</a>或<a href="https://geti2p.net/">I2P</a>这样的<a href="/software/networks">匿名网络</a>，则您与通信对象的 <a href="https://en.wikipedia.org/wiki/IP_address">IP 位置</a>可能会显露出来。许多国家有大规模监控或是保存元数据的作法。</li>
      </ul>
    </div>
  </div>
</div>
