<h1 id="kdl" class="anchor"><a href="#kdl"><i class="fas fa-link anchor-icon"></i></a>密钥上缴法案</h1>

<h3>有谁需要把密钥交给执法单位?</h3>

<p> <a href="https://en.wikipedia.org/wiki/Key_disclosure_law"> 强制（依法一定要协助）密钥上缴法（Key disclosure law）</a>可要求个人把加密密钥上交给执法单位以利其进行调查。这些法令的运行方式依国情不同而异，但通常会要求有法院令状。抵抗密钥上缴法令的方式包括利用隐写术以及将数据以似是而非的否认方式予以加密。</p>  
<p><a href="https://en.wikipedia.org/wiki/Steganography">Steganography 隐写术</a>涉及将一些敏感信息（其可能会予以加密）隐藏在原始的数据当中。（例如：将图片文件加密后隐藏到声音档底下。）利用似是而非的否认法，则是把数据以预防敌方有破解的可能再予以加密（例如，单一密码也许可解密良性的数据和另一个密码，而另一个密码则可用来解密原数据当中的敏感数据。）</p>

<div class="row mb-2">

  {% include panel.html color="danger"
  title="密钥上缴法适用国家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Antigua_and_Barbuda">安提瓜和巴布达</a> <div class="float-right"><span class="flag-icon flag-icon-ag"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Australia">澳洲</a> <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Canada">加拿大</a> <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#France">法国</a> <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#India">印度</a> <div class="float-right"><span class="flag-icon flag-icon-in"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Ireland">爱尔兰</a> <div class="float-right"><span class="flag-icon flag-icon-ie"></span></div></li>
    <li><a href="https://edri.org/norway-introduces-forced-biometric-authentication/">挪威</a> <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
    <li><a href="https://www.bloomberg.com/news/articles/2018-03-20/telegram-loses-bid-to-stop-russia-from-getting-encryption-keys">俄罗斯</a> <div class="float-right"><span class="flag-icon flag-icon-ru"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#South_Africa">南非</a> <div class="float-right"><span class="flag-icon flag-icon-za"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_Kingdom">英国</a> <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="密钥上缴法可能适用的国家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Belgium">比利时 *</a> <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li><a href="https://www.riigiteataja.ee/akt/106012016019">爱沙尼亚</a> <div class="float-right"><span class="flag-icon flag-icon-ee"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Finland">芬兰 *</a> <div class="float-right"><span class="flag-icon flag-icon-fi"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#New_Zealand">新西兰</a> (不明) <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#The_Netherlands">荷兰 *</a> <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_States">美国</a> (请见下方相关信息) <div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="success"
  title="密钥上缴法案不适用的国家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Czech_Republic">捷克</a> <div class="float-right"><span class="flag-icon flag-icon-cz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Germany">德国</a> <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Iceland">冰岛</a> <div class="float-right"><span class="flag-icon flag-icon-is"></span></div></li>
    <li><a href="https://iclg.com/practice-areas/cybersecurity-laws-and-regulations/italy">意大利</a> <div class="float-right"><span class="flag-icon flag-icon-it"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Poland">波兰</a> <div class="float-right"><span class="flag-icon flag-icon-pl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Sweden">瑞典</a> (proposed) <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
    <li><a href="https://www.wikipedia.org/wiki/Key_disclosure_law#Switzerland">瑞士</a> <div class="float-right"><span class="flag-icon flag-icon-ch"></span></div></li>
  </ol>
  '
  %}

</div>

<p> *（有系统访问权限者可能会被下令分享交出他们的知识。然而，这并不适用在嫌犯自己或其家人身上。）</strong>)</p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law">Wikipedia page on key disclosure law</a></li>
  <li><a href="https://law.stackexchange.com/questions/1523/can-a-us-citizen-be-required-to-provide-the-authentication-key-for-encrypted-dat">law.stackexchange.com question about key disclosure law in US</a></li>
  <li><a href="https://peertube.mastodon.host/videos/watch/e09915eb-5962-4830-a02f-8da5c2b59e71">DEFCON 20: Crypto and the Cops: the Law of Key Disclosure and Forced Decryption</a></li>
</ul>

<h3 id="usa" class="anchor">为何不推荐用以美国为基地的网络服务？</h3>

<img src="/assets/img/svg/layout/great_seal_of_the_united_states_obverse.svg" width="200" height="200" class="img-fluid float-right ml-3" alt="USA">

<p>我们不建议采用位于美国的网络服务，因为这个国家的监控项目，使用了<a href="https://www.eff.org/issues/national-security-letters/faq">国家安全信件 (NSLs)</a>且无对外开放的法庭进程，其禁止收到国家安全信件 者谈论这份官方请求。这让政府可以秘密地强迫企业同意完全让国家来取用客户的数据，而把私人企业的网络服务转化成一种大规模监控的工具。</p>

<p>有名的例子就是<a href="https://en.wikipedia.org/wiki/Lavabit#Suspension_and_gag_order"> Lavabit </a>– 这是一家提供不接续的安全电子邮件服务公司，由 Ladar Levison 所创办。美国联邦调查局 FBI 发现 Snowden 使用其服务后，便向 <a href="https://www.vice.com/en_us/article/nzz888/lavabit-founder-ladar-levison-discusses-his-federal-battle-for-privacy">Lavabit 要求</a>交出他的使用记录。当然 Lavabit 没有保留系统日志记录而邮件内容是经过加密后才保存，FBI 发出了（不公开法庭）的传票要取得 Lavabit 的 SSL 服务密钥。有了 SSL 密钥就可让他们取用 Lavabit 所有客户的通信记录（包含元数据和未加密的邮件内容）而不只是 Snowden 的数据。</p>

<p>最后，Levison 交出了 SSL 密钥并在同时<a href="https://www.theguardian.com/commentisfree/2014/may/20/why-did-lavabit-shut-down-snowden-email">关闭他们的服务器</a>。美国政府当时<a href="https://www.cnbc.com/id/100962389">威胁要逮捕 Levison</a>，认为他关闭 Lavabit 服务是违反了法院命令。</p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus">避兔使用位于美国和英国的网络服务</a></li>
</ul>

<h3>相关的维基百科条目</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Surespot#History">令状金丝雀的应用（以 Surespot 为例）</a></li>
  <li><a href="https://en.wikipedia.org/wiki/UKUSA_Agreement">UKUSA 协议</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Lavabit#Suspension_and_gag_order">Lavabit: 关闭和缄默令</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Portal:Mass_surveillance">Portal:大规模监控</a></li>
</ul>
