
  <h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> 光碟随身碟开机自生作业系统</h1>
  <div class="row mb-2">

    {% include card.html color='success'
    title='Tails'
    image='assets/img/tools/Tails.png'
    url='https://tails.boum.org/'
    description='Tails 是一个自生作业系统，可以利用 DVD、随身碟或 SD 记忆卡来启动大多数电脑开机。它希望可以保留隐私与匿名，协助人们可以匿名地使用网路以及逃过网路审查，它的网路连结是透过 Tor 网路；不会在用过的电脑上留下使用㾗迹。它使用最新的密码学工具来加密档案，电子邮件和即时通讯。'
    %}
    {% include card.html color='primary'
    title='KNOPPIX'
    image='assets/img/tools/KNOPPIX.png'
    url='https://www.knopper.net/knoppix/'
    description='Knoppix 是一个以Debian为基础的开源作业系统，设计来直接透过 CD / DVD (Live CD) 或USB碟身碟(Live USB)来执行。它是这类自生系统当中的先行者。当开始某个程式时，它会从移动式装置来载入并把它解压缩到随机记忆体上，这佪解压缩过程透明而快速。'
    %}
    {% include card.html color='warning'
    title='Puppy Linux'
    image='assets/img/tools/Puppy-Linux.png'
    url='http://puppylinux.org/'
    description='Puppy Linux 是一个简轻的　Linux 发行版本，其关注于便于使用以及最小化记忆痕迹。整套系统可以透过随机记忆体来执行，目前的版本大约占　210 MB　空间。在启动作业系统后，它可允许移除开机的媒介。'
    %}

  </div>
  <h3>值得一提</h3>
  <ul>
    <li><a href="https://distro.ibiblio.org/tinycorelinux/">Tiny Core Linux</a> - 小型迷你的作业系统，主要在提供给使用 BusyBox 与 FLTK 的系统利用。这个发行版以其轻量与极简而出名（15 MB），其利用延申套件来提供额外的功能。</li>
  </ul>