<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> 电脑开机自生操作系统</h1>

{% include cardv2.html
title="Tails"
image="/assets/img/svg/3rd-party/tails.svg"
description=' Tails 自生操作系统，可利用 DVD、U盘或 SD 记忆卡来启动大多数电脑开机。它希望可以保留隐私与匿名，协助人们可以匿名地使用网络以及逃过网络审查，它的网络链接是通过 Tor 网络；不会在用过的电脑上留下使用㾗迹。它使用最新的密码学工具来加密文件，电子邮件和即时通信。'
badges="info:GNU/Linux"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://tails.boum.org/"
git="https://git-tails.immerda.ch/tails/"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://getfedora.org/">Fedora Workstation</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    - 由 Red Hat 赞助，Fedora 项目开发的 Linux 版本。 Fedora 工作站强调安全、可靠与使用友善，使用 GNOME 桌面环境来提供桌机与笔电运行。
  </li>
  <li>
    <a href="https://debian.org/">Debian</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    - Debian 有点像 Unix 的电脑操作系统，为 Linux 的发布版本之一，完全以自由免费的软件组成，大部份的软件都是采用 GNU 一般公共授权。有一群人长期地投入 Debian 项目的开发维护。
  </li>
</ul>
