<h1 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> 手机操作系统</h1>

<div class="alert alert-warning" role="alert">
  <strong>虽然以下的操作系统提供原代码，但安装 Google Apps 可能会影响你的设置。</strong>
</div>

{% include cardv2.html
title="GrapheneOS"
image="/assets/img/svg/3rd-party/grapheneos.svg"
image-dark="/assets/img/svg/3rd-party/grapheneos-dark.svg"
description='GrapheneOS (前身为 CopperheadOS) 自由开源、重视安全和隐私的手机操作系统，其基础来自 Android 开源项目，目前重点工作在提升更强大的硬件安全保护。'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://grapheneos.org/"
github="https://github.com/GrapheneOS/"
%}

{% include cardv2.html
title="LineageOS"
image="/assets/img/svg/3rd-party/lineageos.svg"
description='LineageOS 是一个以 Android 为基础，为手机与平板电脑上的开源操作系统。它依据 Google 所发布的 Android 正式版为开发基础，为一自由开源软件， CyanogenMod 项目的延续。'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://www.lineageos.org/"
github="https://github.com/LineageOS"
%}

{% include cardv2.html
title="Ubuntu Touch"
image="/assets/img/svg/3rd-party/ubuntu.svg"
description="Ubuntu Touch 是运行于手机与平板电脑的自由开源操作系统，可说是目有主流市场外的另一个替代选项，唯目前可<a href=https://devices.ubuntu-touch.io/>支持的</a>硬件设备非常有限。"
badges="info:GNU/Linux"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://ubuntu-touch.io/"
github="https://github.com/ubports"
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://www.replicant.us/">Replicant</a>
    {% include badge.html
    color="info"
    text="AOSP"
    %}
    - An open-source operating system based on Android, aiming to replace all proprietary components with free software.
  </li>

  <li>
    <a href="https://www.omnirom.org/">OmniROM</a>
    {% include badge.html
    color="info"
    text="AOSP"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    text="contrib"
    tooltip="This software may depend on or recommend non-free software."
    %}
    - A free-software operating system for smartphones and tablet computers, based on the Android mobile platform.
  </li>

  <li>
    <a href="https://microg.org/">MicroG</a>
    {% include badge.html
    color="info"
    text="Add-on Package"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    text="contrib"
    tooltip="This software may depend on or recommend non-free software."
    %}
    - A project that aims to reimplement the proprietary Google Play Services in the Android operating system with a FLOSS replacement. The microG project also maintains a fork of LineageOS with microG and F-Droid preinstalled at <a href="https://lineage.microg.org/">Lineage for microG</a>.
  </li>
</ul>
