<h1 id="notebook" class="anchor"><a href="#notebook"><i class="fas fa-link anchor-icon"></i></a> 网路笔记</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你仍然在使用如 Evernote、Google Keep 或 Microsoft OneNote，或许可以考虑尝试这里推荐的软体作替换。</strong>
</div>

<div class="row mb-2">

  {% include card.html color='success'
  title='Joplin'
  image='assets/img/tools/Joplin.png'
  url='https://joplin.cozic.net/'
  footer='支援作业系统： Windows, macOS, Linux, iOS, Android, Firefox/Chrome (Web Clipper).'
  description='Joplin 为免费、开源，完全支援作笔记与待办事项清单功能。它可处理大量的 markdown 笔记文件，再依照标签进行分类整理，提供端对端加密且可透过 Nextcloud、Dropbox 等云端服务进行同步。它也提供 Evernote 与其它明文笔记快速汇入功能。'
  %}

  {% include card.html color='primary'
  title='Standard Notes'
  image='assets/img/tools/StandardNotes.png'
  url='https://standardnotes.org/'
  footer='支援作业系统： Windows, macOS, Linux, iOS, Android, Web.'
  description='Standard Notes 是一个简单私密的笔记应用程式，可以轻松、随时随地作笔记。它的功能包括了每个平台上端点对端点之间的加密，而其桌面应用则有丰富的主题模版和客制化编辑器。'
  %}

  {% include card.html color='warning'
  title='Turtl'
  image='assets/img/tools/Turtl.png'
  url='https://turtlapp.com/'
  footer='支援作业系统： Windows, macOS, Linux, Android.'
  description='Turtl 可以作笔记、网址书签和储存敏感专案的文件。它可让工作伙伴共享密码，追踪你所写的文章。Turtl 让文件保持安全，只有你和有分享权限者可以看到。'
  %}  </div>

<h3>善意提醒</h3>
<ul>
  <li>请注意: 自 2018 年 12月后，Joplin 不再支援自身 password/pin 与个别笔记/笔记本保护功能。传输中以及在同步处的数据，仍以主密钥加密方式处理。详情请参考 <a href='https://github.com/laurent22/joplin/issues/289'>open issue</a>.</li>
</ul>

<h3>值得一提</h3>
<ul>
  <li><a href="http://paperwork.rocks/">Paperwork</a> - 开源、可自行架设的方案，安装于 PHP / MySQL 伺服器。</li>
  <li><a href="https://orgmode.org">Org-mode</a> - GNU Emacs 主要模式，Org-mode 利用快速有效的明文系统， 可以作笔记、处理待办事预清单、专案规划与作者署文。 </li>
</ul>
