<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a> 电脑操作系统</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你正在使用 Windows 10 或类似的操作系统，这里有一些可替代选项。</strong>
</div>

{% include cardv2.html
  title="Qubes OS"
  image="/assets/img/svg/3rd-party/qubes_os.svg"
  description='Qubes 开源的操作系统，其设计为桌机型电脑提供更坚强的安全保护。Qubes 是以 Xen 为基础， X 窗口系统桌面环境与 Linux 内核。它可以运行大多数的 Linux 应用程序以及适用大部份的 Linux 的硬件性能驱动。'
  badges="info:Xen"
  labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
  website="https://www.qubes-os.org/"
  privacy-policy="https://www.qubes-os.org/privacy/"
  github="https://github.com/QubesOS"
  tor="http://qubesosfasa4zl44o4tws22di6kepyzfeqv3tg4e3ztknltfxqrymdad.onion/"
%}

{% include cardv2.html
  title="Fedora Workstation"
  image="/assets/img/svg/3rd-party/fedora.svg"
  description='Fedora 由 Red Hat 赞助，Fedora 项目开发的 GNU/Linux 发行版。 Fedora 工作站强调安全、可靠与使用友善，使用 GNOME 桌面环境来提供桌机与笔电运行。'
  badges="info:GNU/Linux"
  labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
  website="https://getfedora.org/"
  privacy-policy="https://fedoraproject.org/wiki/Legal:PrivacyPolicy?rd=Legal/PrivacyPolicy"
  git="https://src.fedoraproject.org/"
%}

{% include cardv2.html
  title="Debian"
  image="/assets/img/svg/3rd-party/debian.svg"
  description='Debian 有点类似 Unix 的电脑操作系统，为 GNU/Linux 发行版之一，主仓库完全以自由免费的软件组成，大部份的软件都是采用 GNU 通用公共授权。有一群人长期地投入 Debian 项目的开发维护。'
  badges="info:GNU/Linux"
  website="https://www.debian.org/"
  privacy-policy="https://www.debian.org/legal/privacy"
  tor="http://sejnfjrq6szgca7v.onion"
  gitlab="https://salsa.debian.org/qa/debsources"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a>
    {% include badge.html
    color="info"
    text="BSD"
    %}
    - 创造免费、多平台，类似像 4.4BSD-based UNIX 的操作系统开发项目。强调可携带性、标准化、正确性、主动安全与集成的密码学系统。
  </li>

  <li>
    <a href="https://www.archlinux.org/">Arch Linux</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    text="contrib"
    labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
    %}
    - 一套简约、轻量的 GNU/Linux 发行版。主要由免费和开源软件所组成，支持社群投入。 <a href="https://www.parabola.nu/">Parabola</a> 是 Arch Linux 的完全自由化版本。
  </li>

  <li>
    <a href="https://trisquel.info/">Trisquel</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    - 基于 Ubuntu 的 GNU/Linux 发行版。这个项目希望能发展一个完全免费的软件系统而不依靠商用软件或轫体，故其采用 Linux-libre，这是一个自由的 Linux 内核版本，移除私有的代码（如 binary blobs）。
  </li>

  <li>
    <a href="https://www.whonix.org/">Whonix</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    - 以 Debian GNU/Linux 为基础，更强调安全关注的 GNU/Linux 发行版本。它希望能提供网络上的隐私保护，安全与匿名性。这个操作系统由二个虚拟机组成，用于日常操作的 Workstation 和为 Workstation 提供互联网连接的 Gateway 。 Workstation 上所有的网络通信都通过 Gateway 连接Tor 网络。
  </li>
</ul>
