<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a>电脑作业系统</h1>
<div class="alert alert-warning" role="alert">
  <strong> 如果你目前还在使用微软 Windows 或是苹果电脑 OS X 的作业系统，或许该考虑其它替代选项了。 </strong>
</div>
<div class="row mb-2">

  {% include card.html color='success'
  title='Qubes OS'
  image='assets/img/tools/Qubes-OS.png'
  url='https://www.qubes-os.org/'
  tor='http://qubesos4rrrrz6n4.onion'
  description='Qubes 是一个开源的作业系统，其设计为桌机型电脑提供更坚强的安全保护。Qubes 是以 Xen 为基础， X 视窗系统桌面环境与 Linux。它可以执行大多数的 Linux 应用程式以及适用大部份的 Linux 的硬体效能驱动。'
  %}

  {% include card.html color='primary'
  title='Debian'
  image='assets/img/tools/Debian.png'
  url='https://www.debian.org/'
  tor='http://sejnfjrq6szgca7v.onion'
  description='Debian 有点像 Unix 的电脑操作系统，它是 Linux 的发布版本之一，其由自由免费的软体所组成，大部份的软体都是采用 GNU 一般公共授权。有一群人长期地投入 Debian 专案的开发维护。'
  %}

  {% include card.html color='warning'
  title='Trisquel'
  image='assets/img/tools/Trisquel.png'
  url='https://trisquel.info/'
  description='Trisquel 是一个从 Ubuntu 分家出来的 Linux 作业系统。这个专案希望能发展一个完全免费的软体系统而不依靠商用软体或轫体，故其采用 Linux-libre，这是一个 Linux kernel　核心版本，若为非免费的程式码（位元型大型物件 binary blobs）即会被移除。'
  %}

</div>

<h3>警告</h3>
<ul>
  <li><a href="#win10"><i class="fas fa-link"></i> 不要用 Windows 10 - 它是隐私侵害的梦</a></li>
</ul>

<h3>值得一提</h3>
<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - 推动免费，多平台，类似像 4.4BSD-based UNIX 的作业系统开发专案。强调可移动性、标准化、正确性、主动安全与整合的密码学系统。</li>
  <li><a href="https://www.archlinux.org/">Arch Linux</a> - 一套简约、轻量的 Linux 发行版本。它组合了主要的免费和开源的软体，支持社群投入。<a href="https://www.parabola.nu/">Parabola</a>则是 Arch Linux 的全面开源版本。</li>
  <li><a href="https://www.whonix.org/">Whonix</a> - 其以 Debian GNU/Linux 为基础，更强调安全关注的 Linux 发行版本。它希望能提供网路上的隐私保护，安全与匿名性。这个作业系统由二个虚拟机器组成，一个是「工作站」一个是 Tor「闸门道」。所有的通讯都被迫要透过 Tor 网路来完成。</li>
  <li><a href="https://subgraph.com/">Subgraph OS</a> - 另一个利用 Debian 基础打造的 Linux 版本，其特色为安全坚固强化以提高弱点攻击的抵抗力。Subgraph 将许多桌面应用程式执行于沙盒环境下以限制程式受到攻击伤害的危险。它预设透过 Tor 网络传送匿名传输流量。请注意，目前本专案仍在半成品阶段，需要更多的测试与纠错修正工作。</li>
</ul>
