<h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> 推广本站并帮助更多人知道隐私保护</h1>

  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://privacytools.twngo.xyz/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=https://privacytools.twngo.xyz" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://privacytools.twngo.xyz/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://privacytools.twngo.xyz" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url=https://privacytools.twngo.xyz&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="http://www.stumbleupon.com/submit?url=https://privacytools.twngo.xyz&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn stumbleupon" title="StumbleUpon">
        <i class="fab fa-stumbleupon"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://privacytools.twngo.xyz" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>复制网址与本站描述</h3>

  <p>
  <input type="text" value="privacytools.twngo.xyz 网路隐私工具中文网 - 加密安全以对抗全球大规模监控" onclick="this.focus();this.select()" class="form-control input-lg">
  <span class="help-block">为了更轻易地复制与贴上，请利用这个文字小物件作分享</span>
  </p>  <div class="page-header">
    <h1>参与提供建议性的批评</h1>
  </div>

  <p>
  像 privacytools.io 这类的网站能维持跟上时代是一个重要的工作。我们一方面关注这里介绍过的软体是否有更新的消息，也要了解所推荐的服务供应商的新闻。我们试著作出最大的努力但还不够完美，而且互联网每日变化快速。如果你有发现错误或是认为有些服务供应商不宜列上，或是想推荐其它未列出的供应商，或是对浏览器附加元件有所建议....  <strong>请不吝告之我们</strong>。						</p>

  <div class="row">

    {% include card.html color="success"
    title="在 reddit上提出建议"
    image="assets/img/icons/reddit.png"
    url="https://www.reddit.com/r/privacytoolsIO/"
    website="reddit.com"
    description='我们在 reddit 子社群上有一个活跃的社群，上面有最新的讨论与意见交流。立即加入！<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Warrant Canary has been removed by reddit">(Info)</a>'
    %}

    {% include card.html color="primary"
    title="Follow on Twitter"
    image="assets/img/icons/twitter.png"
    url="https://twitter.com/privacytoolsIO"
    website="twitter.com"
    description="从推特取得最新的隐私相关消息，欢迎订阅我们的推特！"
    %}

    {% include card.html color="warning"
    title="GitHub 开发团队"
    image="assets/img/icons/github.png"
    url="https://github.com/privacytoolsIO/privacytools.io"
    website="github.com"
    description="本网站的原始码寄放在 GitHub，欢迎加入我们的开发团队！"
    %}

  </div>

  <p>这是一个社群计划，我们希望能献上关于更好隐私作法的最佳资讯。感谢你们的参与，这个计划正需要大家一起来协助。</p>
