<div class="page-header">
  <h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> 提出建设性批评与建议</h1>
</div>

<p>在网络信息快速流动的今天，维持 {{ site.name }} 与时具进地更新并不容易，为了让用户更快地掌握本站所列软件与服务的动态，除主站外还可通过各式社交平台即时关注我们的新鲜推荐。如果您发现错误不妥或是其它更佳的推荐未被收入，<strong>请不吝告之</strong>。可通过<a rel="me" href="https://social.privacytools.io/@privacytools"> Mastodon 直接传讯</a>或是加入 <a href="https://chat.privacytools.io">Matrix</a> 的聊天室 <code class="highlighter-rouge">#general:privacytools.io</code>。</p>

<div class="row">

  {% include card.html color="success"
  title="Discourse & Reddit"
  image="/assets/img/svg/3rd-party/discourse.svg"
  url="https://forum.privacytools.io/"
  website="Discourse"
  extra_button='<a class="btn btn-success mb-1" href="https://www.reddit.com/r/privacytoolsIO/">Reddit</a>'
  description='参与「网络隐私工具」论坛，获取在线社群近期热门话题或是提出想法、建议！'
  %}

  {% include card.html color="primary"
  title="Follow on Mastodon & Twitter"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  url="https://social.privacytools.io/"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/privacytoolsIO">Twitter</a>'
  description="通过 Mastodon 消息推送掌握本站最新消息，即刻关注我们的帐号吧！"
  %}

  {% include card.html color="warning"
  title="Develop on GitHub"
  font="fab fa-github"
  url="https://github.com/KenOokamiHoro/privacytools-zh-cn"
  website="GitHub 上的中文版代码"
  description="全部的网站源代码存放在 GitHub，欢迎加入开发团队！"
  extra_button='<a class="btn btn-warning mb-1" href="https://github.com/privacytools/privacytools.io">英文版源代码</a>'
  %}

</div>

<p>网络隐私工具为社群性质的项目，旨在提供改善个人隐私的最好信息。感谢您的参与，众人拾柴火焰高。</p>
