<h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a>密码管理软件</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你还在用 1Password, LastPass, Roboform 或 iCloud Keychain 等密码管理软件，或许该考虑从这里挑选另一种工具吧。 </strong>
</div>

{%
  include cardv2.html
  title="Bitwarden - 云端/自架"
  image="/assets/img/svg/3rd-party/bitwarden.svg"
  description="<strong>Bitwarden</strong> 一款免费而开源的密码管理工具。它旨在解决个人，团队和企业组织的密码管理问题。 Bitwarden 是保存登录和密码管理最简单，最安全的解决方案之一，可同时轻松地在所有设备之间同步。 如果您不想使用 Bitwarden 云服务，您可自行架设 Bitwarden 服务器。"
  website="https://bitwarden.com/"
  privacy-policy="https://bitwarden.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-bitwarden/1343"
  github="https://github.com/bitwarden"
  web="https://vault.bitwarden.com/#/"
  windows="https://bitwarden.com/#download"
  linux="https://bitwarden.com/#download"
  freebsd="https://www.npmjs.com/package/@bitwarden/cli"
  openbsd="https://www.npmjs.com/package/@bitwarden/cli"
  netbsd="https://www.npmjs.com/package/@bitwarden/cli"
  mac="https://bitwarden.com/#download"
  firefox="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/"
  chrome="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
  safari="https://safari-extensions.apple.com/details/?id=com.bitwarden.safari-LTZ2PFU5D6"
  opera="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
  edge="https://www.microsoft.com/store/apps/9P6KXL0SVNNL"
  fdroid="https://mobileapp.bitwarden.com/fdroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
  ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
%}

{%
  include cardv2.html
  title="KeePassXC - 本地端"
  image="/assets/img/svg/3rd-party/keepassxc.svg"
  description="<strong>KeePassXC</strong> 从原本 KeePassX 裂解出来的新社群，带原生 KeePass 的跨平台支持，希望能更进一步改善漏同，扩展新功能，提供用户强大、跨平的现代开源密码管理软件。"
  website="https://keepassxc.org/"
  privacy-policy="https://keepassxc.org/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/keepassxreboot/keepassxc"
  windows="https://keepassxc.org/download/#windows"
  linux="https://keepassxc.org/download/#linux"
  mac="https://keepassxc.org/download/#mac"
  freebsd="https://www.freshports.org/security/keepassxc/"
  openbsd="http://openports.se/security/keepassxc"
  netbsd="http://pkgsrc.se/security/keepassxc"
  fdroid="https://f-droid.org/packages/com.kunzisoft.keepass.libre/"
  googleplay="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
  chrome="https://chrome.google.com/webstore/detail/keepassxc-browser/oboonakemofpalcgghocfoadofidjkkk"
%}

{%
  include cardv2.html
  title="LessPass - 浏览器"
  image="/assets/img/svg/3rd-party/lesspass.svg"
  description="<strong>LessPass</strong> 免费开源的密码管理软件，可为网站、电子邮件产生独特密码，并靠主密码进行管理。不需要同步，使用的是 PBKDF2 与 SHA-256 加密方式。建议使用浏览器附加组件更为安全。"
  website="https://lesspass.com/"
  privacy-policy="https://addons.mozilla.org/en-US/firefox/addon/lesspass/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/lesspass/lesspass"
  windows="https://pypi.org/project/lesspass/"
  mac="https://pypi.org/project/lesspass/"
  linux="https://pypi.org/project/lesspass/"
  freebsd="https://pypi.org/project/lesspass/"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/lesspass/"
  chrome="https://chrome.google.com/webstore/detail/lesspass/lcmbpoclaodbgkbjafnkbbinogcbnjih"
  fdroid="https://f-droid.org/packages/com.lesspass.android"
  googleplay="https://play.google.com/store/apps/details?id=com.lesspass.android"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - 利用原生的密码产生算法，保证密码不会遗失。密码不是以保存方式留着：它们依照你的名字、网站和主密码的需求而产生，无法同步，没有备分也不需要通过网络连接。 
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - 适合团队，免费开源的客户端加密密码管理软件，可安全地分享密码、文件、书签、电子邮件。通过主密码进行保护，利用<a href="https://nacl.cr.yp.to/">NACL Crypto</a>加密方式，结合 Curve25519, Salsa20 与 Poly1305 多种加密演算。
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - 不管答案是多还是少，Password Safe 让您安心地创建一个安全加密的用户与密码清单。利用 Password Safe 只要记得一组自选的主密码用以打开读取这份密码清单。
  </li>
  <li>
    <a href="https://www.passwordstore.org/">Pass</a> - Pass is a bare-bones password store that keeps passwords using gpg2 encrypted files inside a simple directory tree residing at <code>~/.password-store</code>. It has a simple terminal interface where the user can perform the usual actions, and it's functionality can be extended by plugins. It can also be used in scripts without having to input the actual password in plain text.
  </li>
</ul>
