
  <h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a>密码管理软体</h1>
  <div class="alert alert-warning" role="alert">
    <strong>如果你还在用 1Password, LastPass, Roboform 或 iCloud Keychain 等密码管理软体，或许该考虑从这里挑选另一种工具吧。</strong>
  </div>
  <div class="row mb-2">

    {% include card.html color='success'
    title='KeePass / KeePassXC - Local'
    image='assets/img/tools/KeePass.png'
    url='https://keepass.info/download.html'
    website='keepass.info'
    footer='支援作业系统： Windows, macOS, Linux, iOS, Android, BSD.'
    description='KeePass 是一款开源而免费的密码管理工具，有助于用安全的方式来管理各种密码。所有的密码都放在一个资料库下，用主密码或密钥档案上锁。这个资料库会以最安全最佳的加密演算方式，也就是 AES and Twofish 予以加密进行，请一步资料请参见：<a href="https://keepassxc.org/">KeePassXC</a> 带正式原生的支援 Windows/macOS/Linux 多种作业系统平台。'
    %}
    {% include card.html color='primary'
    title='LessPass - Browser'
    image='assets/img/tools/LessPass.png'
    url='https://lesspass.com/'
    footer='支援作业系统： Windows, macOS, Linux, Android.'
    description='LessPass 是一个免费开源的密码管理软体，它可为网站、电邮等需求产生独特的密码，并依靠一个主密码进行管理。不需要同步，使用的是 PBKDF2 与 SHA-256 加密方式。建议使用浏览器附加元件以更加安全。'
    %}  </div>
  <h3>值得一提</h3>
  <ul>
    <li>
      <a href="https://masterpassword.app">Master Password</a> - 利用原生的密码产生演算法，保证密码不会遗失。密码不是以储存方式留着:它们依照你的名字、网站和主密码的需求而产生，没有同步，没有备分也不需要网路连线。 
    </li>

    <li>
      <a href="https://pwsafe.org/">Password Safe</a> - 不管答案是 1 还是 100，Password Safe 让你可以安全地建立一个安全又加密的用户与密码清单。利用 Password Safe 你只要记得一组自选的主密码以打开读取这份密码清单。 
    </li>
    
    <li>
      <a href="https://bitwarden.com/">Bitwarden</a> - 开源、加密的云端密码管理员。若决定采用，请确保使用时关闭 Google Analytics 追踪分析。
    </li>
  </ul>

  <h3>相关资讯</h3>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=yzGzB-yYKcc">Edward Snowden on Passwords - YouTube</a></li>
  </ul>
