<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> 文本保存服务</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/svg/3rd-party/privatebin.svg"
description=" PrivateBin 是一个迷你、开源的在线文本保存应用，其服务器对所张贴数据采取零知识方式保存，而数据在浏览器使用 256 比特的 AES 加密/解密，是 ZeroBin 的改良版本。"
website="https://privatebin.info/"
forum="https://forum.privacytools.io/t/discussion-privatebin/296"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include cardv2.html
title="CryptPad"
image="/assets/img/svg/3rd-party/cryptpad.svg"
description="CryptPad 开源、零知识、即时的协作编辑器，其数据利用 Salsa20 和 Poly1305 在浏览器上进行笔记之加密解密。"
website="https://cryptpad.fr/pad/"
privacy-policy="https://cryptpad.fr/privacy.html"
forum="https://forum.privacytools.io/t/discussion-cryptpad/1270"
github="https://github.com/xwiki-labs/cryptpad"
%}
