<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a>原始码储存服务</h1>

  <div class="row mb-2">

    {% include card.html color='success'
    title='PrivateBin'
    image='assets/img/tools/PrivateBin.png'
    url='https://privatebin.net/'
    description='PrivateBin 是一个迷你、开源的线上原始码储存应用程式，它的伺服器对存入的资料采取零知识证明方式保存，浏览器再透过使用 256bit AES 进行加密和解密，是为 ZeroBin 升级版。'
    %}

    {% include card.html color='primary'
    title='Zerobin.net'
    image='assets/img/tools/ZeroBin.png'
    url='https://zerobin.net/'
    tor='http://zerobinqmdqd236y.onion'
    description='Zerobin is 极简化、开源的线上原始码储存应用，其伺服器对储存之数据维持"零知识"(zero knowledge)，浏览器以 256bit AES 加密法来加密、解密资料。'
    %}

    {% include card.html color='warning'
    title='Ghostbin'
    image='assets/img/tools/Ghostbin.png'
    url='https://ghostbin.com/'
    description='Ghostbin 支援伺服器端加密功能和期间限制，授权用户有 1 MB 空间可编写笔记和网路便利贴。用户可建置自己的帐号来追踪自己的剪贴资料。<br>
    软体本身不错，但它的网站安全<a href=\"https://github.com/privacytoolsIO/privacytools.io/issues/454\">却令人担忧</a>。'
    %}

  </div>

  <h3>值得一提</h3>
  <ul>
    <li><a href="https://disroot.org/">disroot.org</a> - 免费友善的隐私服务，提供 PrivateBin 与其它应用程式。</li>
  </ul>  