<h1 id="productivity" class="anchor"><a href="#productivity"><i class="fas fa-link anchor-icon"></i></a> 生产力工具</h1>

{%
  include cardv2.html
  title="CryptPad"
  image="/assets/img/svg/3rd-party/cryptpad.svg"
  description="<strong>CryptPad</strong>以隐私为念的设计思维，替代流行的办公室工具及云端服务。所有的内容都是端对端加密，它是自由且开源，能让任何人审阅代码来验证安全性。开发团队通过捐款与奖助金的支持。不需要注册，而且可以匿名的使用洋葱（Tor）浏览器。"
  website="https://cryptpad.fr/"
  privacy-policy="https://cryptpad.fr/privacy.html"
  forum="https://forum.privacytools.io/t/discussion-cryptpad-productivity-tools/1537"
  github="https://github.com/xwiki-labs/cryptpad"
  web="https://cryptpad.fr/"
%}

{%
  include cardv2.html
  title="Etherpad"
  image="/assets/img/svg/3rd-party/etherpad.svg"
  description="<strong>Etherpad</strong> 可高度自订的开源在线编辑器，提供了即时的协同编辑功能。Etherpad 可以让你即时地在在线协力编写文档，在你的浏览器上就像是有多名参与者共同在编写一份文章、发布消息或是任务清单等等功能。<a href=https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad>此处有一份运行 Etherpad 站台清单</a>。"
  website="https://etherpad.org/"
  forum="https://forum.privacytools.io/t/discussion-etherpad-productivity-tools/1538"
  github="https://github.com/ether/etherpad-lite"
  web="https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad"
  windows="https://github.com/ether/etherpad-lite#windows"
  linux="https://github.com/ether/etherpad-lite#installation"
  mac="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  freebsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  openbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  netbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
%}

{%
  include cardv2.html
  title="Write.as"
  image="/assets/img/svg/3rd-party/writeas.svg"
  image-dark="/assets/img/svg/3rd-party/writeas-dark.svg"
  description="<strong>Write.as</strong> 跨平台，重视隐私的博客网志服务。它缺省为匿名，无须注册即可发表文章。如果创建帐号，也不会要求用户提供任何个人数据，无广告、无干扰、基于永续的商业模式。"
  website="https://write.as/"
  forum="https://forum.privacytools.io/t/discussion-write-as-productivity-tools/1539"
  tor="http://writeas7pm7rcdqg.onion"
  git="https://code.as/writeas"
  web="https://write.as/pad"
  windows="https://github.com/writeas/writeas-cli"
  mac="https://github.com/writeas/writeas-cli"
  linux="https://write.as/apps"
  chrome="https://write.as/apps"
  googleplay="https://play.google.com/store/apps/details?id=com.abunchtell.writeas"
  ios="https://itunes.apple.com/app/apple-store/id1000755153"
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://crypt.ee/">Cryptee</a> - 自由重视隐私的文档、文件与照片保存服务。</li>
  <li><a href="https://ethercalc.net/">EtherCalc</a> -  网页版的试算表，其数据存在网页上，用户可以同一时间在同一个文件上进行编辑而其变动会立即呈现在屏幕上。它可用来作为共用的库存统计、问卷表单、清单管理、脑力激荡等工具。</li>
  <li><a href="https://disroot.org/">Disroot</a> - 提供免费友善的 Etherpad, EtherCalc 和 PrivateBin 使用服务。</li>
  <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - 在线行程安排的应用程序，免费和开源。方便用来安排会议时间或进行小型的在线调查。它不收集电子邮件，无须注册即可使用。</li>
  <li><a href="https://framadate.org/">Framadate</a> - 免费开源的会议时间规划或简易决策的在线工具，无须注册即可使用</li>
  <li><a href="https://www.libreoffice.org/">LibreOffice</a> - 免费开源的办公室软件套件。</li>
  <li><a href="https://vscodium.com/">VSCodium</a> - 从微软 Visual Studio Code 编辑器另外独立的分支，不带品牌或遥测。</li>
</ul>

<h1 id="metadata-removal-tools" class="anchor">
  <a href="#metadata-removal-tools"
    ><i class="fas fa-link anchor-icon"></i>
  </a> 元数据移除工具
</h1>

<div class="row mb-2">
{%
  include cardv2.html
  title="MAT2"
  image="/assets/img/svg/3rd-party/mat2.svg"
  description="<strong>MAT2</strong> 免费软件，可用于删除照片、声音、文档、BT 种子等文件的元数据。同时提供文本指令与 Nautilus 图形接口操作，后者为 GNOME 桌面所缺省的文件管理系统。"
  website="https://0xacab.org/jvoisin/mat2"
  forum="https://forum.privacytools.io/t/discussion-mat/1559"
  gitlab="https://0xacab.org/jvoisin/mat2"
  windows="https://pypi.org/project/mat2/"
  mac="https://pypi.org/project/mat2/"
  linux="https://pypi.org/project/mat2/"
  freebsd="https://pypi.org/project/mat2/"
  openbsd="https://pypi.org/project/mat2/"
  netbsd="https://pypi.org/project/mat2/"
%}


{%
  include cardv2.html
  title="ExifCleaner"
  image="/assets/img/svg/3rd-party/exifcleaner.svg"
  description='<strong>ExifCleaner</strong> 是一款清除元数据的免费软件，你可以通过简单的图形界面和拖拽操作清除图片的 EXIF 数据或者其它文件的某些属性。'
  website="https://exifcleaner.com"
  forum="https://forum.privacytools.io/t/discussion-mat/TODOADDTHIS"
  github="https://github.com/szTheory/exifcleaner"
  windows="https://github.com/szTheory/exifcleaner/releases"
  mac="https://github.com/szTheory/exifcleaner/releases"
  linux="https://github.com/szTheory/exifcleaner/releases"
%}

</div>