<h1 id="productivity" class="anchor"><a href="#productivity"><i class="fas fa-link anchor-icon"></i></a> 生产力工具</h1>
  <div class="row mb-2">

    {% include card.html color='success'
    title='Etherpad'
    image='assets/img/tools/Etherpad.png'
    url='http://etherpad.org/'
    footer='支援作业系统： Windows, macOS, Linux.'
    description='Etherpad 是一个可以高度自定的开源线上编辑器，它提供了即时的协同编辑功能。Etherpad 可以让你即时地在线上协力编写文件，在你的浏览器上就像是有多名参与者共同在编写一份文章、发布消息或是任务清单等等功能。'
    %}

    {% include card.html color='primary'
    title='Write.as'
    image='assets/img/tools/WriteAs.png'
    url='https://write.as/'
    tor='http://writeas7pm7rcdqg.onion'
    footer='支援作业系统： Windows, macOS, Linux, Android, iOS, Chrome OS, Web.'
    description='Write.as 为跨平台，重视隐私的网志服务。它预设为匿名，无须注册即可发表文章。如果创建帐号，也不会要求用户提供任何个人资料，无广告、无干扰、基于永续的商业模式。'
    %}

    {% include card.html color='warning'
    title='ProtectedText'
    image='assets/img/tools/ProtectedText.png'
    url='https://www.protectedtext.com/'
    footer='支援作业系统： All Browsers.'
    description='ProtectedText 是一开源的网页应用程式，它可以在浏览器上加密与解密文字档案而其密码(或称其杂凑值)绝不会送回到伺服器。 - 因此若密钥和密码则文字内容无法被解密，就算有关当局拿到文字档也没用。它无 cookies，无期间，不用注册也不会对用户进行追踪。'
    %}

  </div>

  <h3>值得一提</h3>
  <ul>
    <li><a href="https://crypt.ee/">Cryptee</a> - 自由重视隐私的文件、档案与照片储存服务。</li>
    <li><a href="https://ethercalc.net/">EtherCalc</a> - 是一个网页版的试算表，其资料存在网页上，使用者可以同一时间在同一个档案上进行编辑而其变动会立即呈现在萤幕上。它可用来作为共用的库存统计、问卷表单、清单管理、脑力激荡等工具。</li>
    <li><a href="https://disroot.org/">disroot.org</a> - 担提免费友善的 Etherpad, EtherCalc 和 PrivateBin 使用服务。</li>
    <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - 是一个线上行程安排的应用程式，其为免费和开源。很方便用来安排会议时间或进行小型的线上调查。它不收集电邮或须注册即可使用。</li>
    <li><a href="https://www.libreoffice.org/">LibreOffice</a> - 免费开源的办公室软体套件。</li>
  </ul>