<div class="page-header">
  <h1>隐私？我没什么不可告人的事</h1>
</div>
<blockquote class="blockquote">
  <p><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters" title="Why privacy matters - TED Talk"><img
        src="/assets/img/png/layout/glenn_greenwald.png" width="170px" class="img-fluid float-right ml-2"
        alt="Glenn Greenwald: Why privacy matters"></a>
    过去十多个月来，每当我在全球各地讨论这个议题的时候，总是有人会这样对我说：「我并不担心隐私被侵犯因为我没什么不可告人之处」我也对他们回应相同的答复。我拿了一支笔，写下自己的电子邮件，然后说：「这上面是我的电子邮件，我希望当你回到家之后，把你自己所有的电子邮件帐号和密码都寄给我。不是只提供你工作上使用那个一本正经的电子邮件，而是全部的电子邮件。这样我可以在在线用你的帐号来了解你的一举一动，然后把我认为有趣的事物公开出来。不管怎样，如果你不是个坏人，如果你没做过坏事，你应该也没什么不可告人之处。」
    <strong>然而从来没人回应我这项提议。</strong></p>
  <p>
    Over the last 16 months, as I've debated this issue around the world, every single time somebody has said to me, "I
    don't really worry about invasions of privacy because I don't have anything to hide." I always say the same thing to
    them. I get out a
    pen, I write down my email address. I say, "Here's my email address. What I want you to do when you get home is
    email me the passwords to all of your email accounts, not just the nice, respectable work one in your name, but all
    of them, because I
    want to be able to just troll through what it is you're doing online, read what I want to read and publish whatever
    I find interesting. After all, if you're not a bad person, if you're doing nothing wrong, you should have nothing to
    hide." <strong>Not a single person has taken me up on that offer.</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald 在 TED 上的演讲： <cite title="Why privacy matters - TED Talk"><a
        href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters">为何隐私如此重要 </a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>
    在房子里安装窗帘的主要是为了阻止人们看到屋内。我们不希望他们看到屋内事物是因为我们认同在房屋内所做的许多事情都是私人行为，不管是在餐桌旁吃晚餐，与孩子一起看电影，还是与伴侣进行亲密或性行为。这些行为都不是非法之事，但是即使如此，我们仍然放上窗帘和百叶窗。
    这清楚地表明了当我们的私人生活和外界有所牵扯时，我们显然对隐私存有强烈的渴望。</p>
  <p>The primary reason for window curtains in our house, is to stop people from being able to see in. The reason we
    don’t want them to see in is because we consider much of what we do inside our homes to be private. Whether that be
    having dinner at the table, watching a movie with your kids, or even engaging in intimate or sexual acts with your
    partner. None of these things are illegal by any means but even knowing this, we still keep the curtains and blinds
    on our windows. We clearly have this strong desire for privacy when it comes to our personal life and the public.
  </p>
  <footer class="blockquote-footer">Joshua in <cite title="The Crypto Paper"><a
        href="https://github.com/cryptoseb/CryptoPaper#let-me-explain-further">The Crypto Paper</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>
    但是，声称自己不需要或不想要隐私，因为没有什么事好隐瞒的这种说法，是假定所有人都不该或不能隐瞒任何事情，像是他们的移民身分、失业历程、财务状况与健康纪录等。你假定，所有人（包括你在内）都乐于与他人分享宗教信念、政党倾向与性生活，就如同有些人随意透露自己的电影、音乐品味与阅读偏好一样。
  </p>
  <p>[...] But saying that you don't need or want privacy because you have nothing to hide is to assume that no one
    should have, or could have, to hide anything -- including their immigration status, unemployment history, financial
    history, and health records. You're assuming that no one, including yourself, might object to revealing to anyone
    information about their religious beliefs, political affiliations, and sexual activities, as casually as some choose
    to reveal their movie and music tastes and reading preferences.</p>
    <footer class="blockquote-footer">Edward Snowden 写于 <cite title="Permanent Record"><a
      href="https://en.wikipedia.org/wiki/Permanent_Record_(autobiography)">《永久记录》</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>Privacy is not a luxury [in America]: it is a right – one that we need to defend in the digital realm as much as in
    the physical realm. We need to stay vigilant to maintain access to that right, though ... especially as technology
    continues to advance...</p>
  <footer class="blockquote-footer">Chelsea Manning in <cite title="The Guardian"><a
        href="https://www.theguardian.com/commentisfree/2016/feb/22/privacy-is-a-right-not-a-luxury-and-its-increasingly-at-risk-for-lgbt-people">The
        Guardian</a></cite></footer>
</blockquote>


<h4>进一步阅读:</h4>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">无所遁形争论 (Wikipedia)</a></li>
  <li><a
      href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">你如何反驳“我无所遁形？”
      论据? (reddit.com)</a></li>
  <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'我无所遁形' 和其它对隐私的误解 (Daniel J. Solove - San
      Diego Law Review)</a></li>
</ul>


<h1 id="quotes" class="anchor"><a href="#quotes"><i class="fas fa-link anchor-icon"></i></a> 关于隐私的其它评论</h1>

<blockquote class="blockquote">
  <p>
    说到底，你声称自己不在乎隐私，因为没有事情好隐瞒，这就像是在说，你不在乎言论自由，因为你没有意见。或是，你不在乎新闻自由，因为你不爱阅读。你不在乎宗教自由，因为你不相信神。或是，你不在乎和平集会自由，因为反社会的你天性懒散、害怕人群。
  </p>
  <p>Ultimately, saying that you don't care about privacy because you have nothing to hide is no different from saying
    you don't care about freedom of speech because you have nothing to say. Or that you don't care about freedom of the
    press because you don't like to read. Or that you don't care about freedom of religion because you don't believe in
    God. Or that you don't care about the freedom to peacably assemble because you're a lazy, antisocial agoraphobe.
  </p>
  <footer class="blockquote-footer">Edward Snowden 写于 <cite title="Permanent Record"><a
        href="https://en.wikipedia.org/wiki/Permanent_Record_(autobiography)">《永久记录》</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>
    美国国家安全局建置了一套设施，其几乎可以拦截任何通信。这套设备的能力，大多数人类的通信都会自动地被吸纳进去而不是针对特定目标。如果我想要看你的电子邮件内容或是你老婆的电话，我只须要利用这套设备进行拦截，就可以取得你的电子邮件、密码、电信通联记录、信用卡数据等等。我不想活在一个做这种勾当的社会里，我不想要活在一个任何所做的事所说的话都被记录下来的世界。这不是我愿意支持或是生活的地方。
  </p>
  <p>The NSA has built an infrastructure that allows it to intercept almost everything. With this capability, the vast
    majority of human communications are automatically ingested without targeting. If I wanted to see your emails or
    your wife's phone, all
    I have to do is use intercepts. I can get your emails, passwords, phone records, credit cards. I don't want to live
    in a society that does these sort of things... I do not want to live in a world where everything I do and say is
    recorded. That is
    not something I am willing to support or live under. </p>
  <footer class="blockquote-footer">Edward Snowden 写于 <cite
      title="Edward Snowden, NSA files source: 'If they want to get you, in time they will"><a
        href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">The
        Guardian</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>每个人都需要有地方可以去探索而不依靠别人施加的眼光，只有在一个不必被放大查看的地方我们才可以真正地测试出自己的极限。真正的私人领域才能允许不同声音、创造力和个人试探式的谎言。</p>
  <p>We all need places where we can go to explore without the judgmental eyes of other people being cast upon us, only
    in a realm where we're not being watched can we really test the limits of who we want to be. It's really in the
    private realm where
    dissent, creativity and personal exploration lie.</p>
  <footer class="blockquote-footer">Glenn Greenwald 写于 <cite
      title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide"><a
        href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington
        Post</a></cite></footer>
</blockquote>