<h1 id="os" class="anchor">网络隐私工具</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> 偏好传统式的网站？可查看单一页面格式。</a></p>

<div class="row">

  {% include card.html color="success"
  title="服务提供商"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="发现更多的以隐私为优先的网络服务，包括电子邮件、VPN 营运商、 DNS 域名代管服务等等。"
  %}

  {% include card.html color="primary"
  title="网页浏览器"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="找到适合您隐私要求的浏览器，并了解如何强化其阻止追踪和数据泄漏的保护措施。"
  %}

  {% include card.html color="warning"
  title="软件"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="认识更多开放源代码软件，以确保用户隐私与数字数据安全。"
  %}

  {% include card.html color="info"
  title="操作系统"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="了解操作系统如何侵犯用户的隐私，以及查看现有的简便替代选项。"
  %}

  {% include card.html color="secondary"
  title="PrivacyTools 提供的服务"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="PrivacyTools 网络隐私工具团队为您献上各种尊重用户隐私的免费网络服务，例如 Mastodon、搜索引擎、写作园地等等！"
  %}

  {% include card.html color="danger"
  title="捐助"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="没有读者们慷慨解囊，本站无法正常营运。恳请珍惜隐私的朋友们考虑捐助本站。"
  %}

</div>
