<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> 开源的路由器轫体</h1>
<div class="row mb-2">

  {% include card.html color='success'
  title='OpenWrt'
  image='assets/img/tools/OpenWrt.png'
  url='https://openwrt.org/'
  description='OpenWrt 是一套利用 Linux 核心的作业系统(特别是一种「嵌入式」作业系统)，主要用于一些路由网路流量的设备上。它主要的构成是由 Linux 核心，util-linux、uClibc 和 BusyBox。这些元素都已经过尺寸的最佳调适，以符合家用路由器这类的小型设备与其有限的记忆体容量与储存空间。'
  %}

  {% include card.html color='primary'
  title='pfSense'
  image='assets/img/tools/pfSense.png'
  url='https://pfsense.org/'
  description='pfSense 是利用 FreeBSD 所开发的一套用于防火墙/路由器上的开源轫体。它安装在电脑上可变成网路上防火墙/路由器功能，并以其可靠与不输给商用软体的强大功能而著称。pfSense 通常布署在周边的防火墙、路由器、无线接取器、DHCP 伺服器、DNS 伺服器以及 VPN 末端点。'
  %}

  {% include card.html color='warning'
  title='LibreCMC'
  image='assets/img/tools/LibreCMC.png'
  url='https://librecmc.org'
  description='LibreCMC 是 GNU/Linux-libre 电脑版本，其资源需求小，例如像 Ben Nanonote, ath9k-based 无线路由器以及其它强调自由软体的硬体配件。本专案当前目标是依循 GNU 自由系统发布指南(GNU FSDG) 并确保符合自由软体基金会所设下的要求。'
  %}

</div>

<h3>值得一提</h3>
<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - 此乃推动免费，多平台，类似像 4.4BSD-based UNIX 的作业系统开发专案。强调可移动性、标准化、正确性、主动安全与整合的密码学系统。</li>
  <li><a href="https://dd-wrt.com/">DD-WRT</a> - 利用 Linux 为无线路由器与无线接取器所开发的轫体。它可和多种路由器和接取器模式相容。</li>
</ul>  