<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a>开放源代码的路由器固件</h1>

{% include cardv2.html
title="OpenWrt"
image="/assets/img/svg/3rd-party/openwrt.svg"
image-dark="/assets/img/svg/3rd-party/openwrt-dark.svg"
description="OpenWrt 为利用 Linux 内核开发的操作系统（或称嵌入式操作系统），主要用于路由网络流量的设备上。主要的构成是 Linux 内核，util-linux、uClibc 和 BusyBox。这些组件都已经过尺寸优化，以符合家用路由器等小型设备，有限的内存容量与保存空间。"
badges="info:Linux"
labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
website="https://openwrt.org/"
git="https://git.openwrt.org/"
%}

{% include cardv2.html
title="pfSense"
image="/assets/img/svg/3rd-party/pfsense.svg"
image-dark="/assets/img/svg/3rd-party/pfsense-dark.svg"
description="pfSense 是利用 FreeBSD 所开发在防火墙/路由器使用的开源轫体。若安装在电脑上则可变成网络上防火墙/路由器功能，以其可靠与不输给商用软件的强大功能而著称。pfSense 通常布署在周边的防火墙、路由器、无线访问器、DHCP 服务器、DNS 服务器以及 VPN 末端点。"
badges="info:BSD"
labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
website="https://www.pfsense.org/"
github="https://github.com/pfsense/"
privacy-policy="https://www.pfsense.org/privacy.html"
%}

{% include cardv2.html
title="LibreCMC"
image="/assets/img/svg/3rd-party/librecmc.svg"
image-dark="/assets/img/svg/3rd-party/librecmc-dark.svg"
description="LibreCMC 其资源需求小，例如像 Ben Nanonote, ath9k-based 无线路由器以及其它强调自由软件的硬件配件。本项目当前目标是依循 GNU 自由系统发布指南（GNU FSDG）并确保符合自由软件基金会所设下的要求。"
badges="info:GNU/Linux"
website="https://librecmc.org"
git="https://gogs.librecmc.org/libreCMC/libreCMC"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://www.openbsd.org/">OpenBSD</a>
    {% include badge.html
    color="info"
    text="BSD"
    %}
    - 创造免费、多平台，类似像 4.4BSD-based UNIX 的操作系统开发项目。强调可携带性、标准化、正确性、主动安全与集成的密码学系统。
  </li>

  <li>
    <a href="https://dd-wrt.com/">DD-WRT</a>
    {% include badge.html
    color="info"
    text="GNU/Linux"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    text="contrib"
    labels="color==warning::text==部分自由::tooltip==此软件可能依赖一些私有软件。"
    %}
    - 基于 Linux 内核的另一款路由器固件。
  </li>
</ul>
