<h1 id="search" class="anchor"><a href="#search"><i class="fas fa-link anchor-icon"></i></a>重视用户隐私的搜寻引擎</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你目前仍在使用Google、 Bing 或 Yahoo 等搜寻引擎，或许是时候考虑其它的替代选项了。</strong>
</div>

<div class="row mb-2">

  {% include card.html color='success'
  title='searx'
  image='assets/img/provider/searx.jpg'
  url='https://searx.me/'
  tor='http://ulrn6sryqaifefld.onion'
  extra_button='<a class="btn btn-success mb-1" href="https://github.com/asciimoo/searx/wiki/Searx-instances">List of Instances</a>'
  description='<a href="https://github.com/asciimoo/searx">开源</a> 元搜寻引擎。总合来自其它搜寻引擎的查询结果但不会储存用户的资讯，不留活动记录、无广告也不会追踪。'
  %}

  {% include card.html color='primary'
  title='StartPage'
  image='assets/img/provider/StartPage.png'
  url='https://www.startpage.com/'
  description='它利用 Google 搜寻引擎的查询结果，但有完全的隐私保护措施。StartPage 是一家欧洲公司，自 2006 年创立之初就很重视隐私课题。'
  %}

  {% include card.html color='warning'
  title='DuckDuckGo'
  image='assets/img/provider/DuckDuckGo.jpg'
  url='https://duckduckgo.com/'
  tor='http://3g2upl4pq6kufc4m.onion'
  description='不会追踪用户的搜寻引擎。 Some of DuckDuckGo　部份的代码是放在 <a href="https://github.com/duckduckgo">GitHub</a> 的开源自由授权，但其核心是封闭。 <span class="flag-icon flag-icon-us"></span> <a href="#ukusa">公司所在地是美国。</a> '
  %}
</div>

<h3>Firefox  Firefox 附加元件</h3>
<ul>
  <li>
    <a href="https://addons.mozilla.org/firefox/addon/google-search-link-fix/">Google search link fix</a> - 它是一个 Firefox 的附加元件可以预防 Google 与Yandex 搜寻引擎在用户点击了搜寻结果连结后进行调整。这可以在复制连结上会有所帮助，但也可以防止搜寻引擎来记录你的点击状况。(<a href="https://github.com/palant/searchlinkfix">开源源代码库</a>)
  </li>
</ul>

<h3>值得一提</h3>
<ul>
  <li>
    <a href="https://www.qwant.com/">Qwant</a> - Qwant　的理念有二大原则：不追踪用户也没有过滤气泡。Qwant 自 2013 年 2 月从法国起家。进一步了解其<a href="https://www.qwant.com/privacy">隐私政策</a>
  </li>
  <li>	
    <a href="https://metager.de/en/">MetaGer</a> - 一个开源的元搜寻引擎，其总站位在德国。它关注于保护用户隐私。
  </li>
</ul> 