
  <h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> 自行架设的云端伺服器软体</h1>
  <div class="alert alert-warning" role="alert">
    <strong>如果你目前使用的是 Dropbox, Google Drive, Microsoft OneDrive 或 Apple iCloud 等云端储存服务，不妨从考虑自行架设自家的云端系统。</strong>
  </div>
  <div class="row mb-2">

    {% include card.html color='success'
    title='Pydio'
    image='assets/img/tools/Pydio.png'
    url='https://pydio.com/'
    footer='支援作业系统： Windows, macOS, Linux, iOS, Android.'
    description='Pydio 是一款开源的软体，可以立即将任何伺服器（on premise, NAS, cloud IaaS or PaaS）转变成档案共享平台。它可作为 SaaS Boxes/Drives 的替代品，给予用户更多的掌控、安全，隐私保护和有利的成本控管。'
    %}

    {% include card.html color='primary'
    title='Tahoe-LAFS'
    image='assets/img/tools/Tahoe-LAFS.png'
    url='https://www.tahoe-lafs.org/'
    footer='支援作业系统： Windows, macOS, Linux.'
    description='Tahoe-LAFS 是一套免费开放，去中心化的云端储存系统。它让用户的资料散布在多台伺服器上，所以即便其中有些伺服器故障出问题或是受到攻击，整个档案储存仍然会继续正常运行，保障用户的安全和隐私。'
    %}

    {% include card.html color='warning'
    title='Nextcloud'
    image='assets/img/provider/Nextcloud.png'
    url='https://nextcloud.com/'
    footer='Client OS: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Server: Linux.'
    description='和 Dropbox 有相同的功能，但最大的差异在Nextcloud 是一套免费而开源的软体，它可让任何人自行架设与操作而不必如私用伺服器那般地收取费用，也没有空间容量或连接客户端数量的限制。'
    %}

  </div>

