<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> 非中心化网络和匿名网络</h1>

<div class="alert alert-warning" role="alert">
  <strong>你现在浏览的网站在互联网上有时被称作<a href="https://en.wikipedia.org/wiki/Surface_Web">”明网（clearnet）”</a>，这里提供一些访问其它非中心化网络和匿名网络的工具。</strong>
</div>

<div class="alert alert-info" role="info">
  <strong>译者注：匿名网络有时会被错误的称作“暗网”。</strong>
</div>


{% include cardv2.html
  title="Tor"
  image="/assets/img/svg/3rd-party/tor.svg"
  description="Tor 网络是由一群志愿者营运的服务器社群，让人们可以改善其在使用互联网的隐私和安全。用户利用 Tor 网络链接到一组虚拟隧道而非直接连入，好让组织和个人在公共网络上分享信息又不会伤害自身隐私。Tor 也是一个能有效避开网络审查的工具。 "
  website="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  forum="https://forum.privacytools.io/t/discussion-tor/1589"
  windows="https://www.torproject.org/download/"
  mac="https://www.torproject.org/download/"
  linux="https://www.torproject.org/download/"
  freebsd="https://www.freshports.org/security/tor"
  openbsd="http://openports.se/net/tor"
  netbsd="http://pkgsrc.se/net/tor"
  fdroid="https://support.torproject.org/tormobile/tormobile-7/"
  googleplay="https://play.google.com/store/apps/details?id=org.torproject.torbrowser"
  android="https://www.torproject.org/download/#android"
  git="https://gitweb.torproject.org/tor.git"
%}

{% include cardv2.html
  title="I2P 匿名网络"
  image="/assets/img/svg/3rd-party/i2p.svg"
  image-dark="/assets/img/svg/3rd-party/i2p-dark.svg"
  description="Invisible Internet Project (I2P) 是一个电脑网络层，它可让应用程序相互安全化名地发送消息，其应用包括：匿名的网站浏览、聊天、网志和文件发送。这个软件所运行的这层叫作 I2P 路由，当电脑运行 I2P 时，即称之为 I2P 节点。它是免费开源的软件，其发布版本有多种授权方式。 "
  website="https://geti2p.net/"
  forum="https://forum.privacytools.io/t/discussion-i2p/1590"
  i2p="http://i2p-projekt.i2p/"
  windows="https://geti2p.net/en/download#windows"
  mac="https://geti2p.net/en/download#mac"
  linux="https://geti2p.net/en/download#unix"
  freebsd="https://www.freshports.org/security/i2p/"
  openbsd="http://openports.se/net/i2pd"
  netbsd="http://pkgsrc.se/wip/i2pd"
  fdroid="https://f-droid.org/app/net.i2p.android.router"
  googleplay="https://play.google.com/store/apps/details?id=net.i2p.android"
  android="https://download.i2p2.de/android/current/"
  source="https://geti2p.net/en/get-involved/guides/new-developers#getting-the-i2p-code"
%}

{% include cardv2.html
  title="The Freenet Project - 自由网计划"
  image="/assets/img/svg/3rd-party/freenet.svg"
  description="Freenet 是一个点对点的平台以抵抗内容审查的通信。它采用去中心化的分布式数据保存来保存和发送信息，亦有自由免费软件套件用于网络发表或是网页通信而无须担心审查。自由网和一些它的相关工具一开始是由 Ian Clarke 所设计，他认为自由网的目的乃在于通过顽强的匿名保护，提供互联网的言论自由空间 "
  website="https://freenetproject.org/"
  forum="https://forum.privacytools.io/t/discussion-freenet/1591"
  windows="https://freenetproject.org/pages/download.html#windows"
  mac="https://freenetproject.org/pages/download.html#os-x"
  linux="https://freenetproject.org/pages/download.html#gnulinux-posix"
  freebsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
  openbsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
  netbsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
  github="https://github.com/freenet/"
%}

<h3>值得关注</h3>

<ul>
  <li>
    <a href="https://zeronet.io/">ZeroNet</a> - 开放、自由与未经审查的网站，使用比特币密码学与 BitTorrent 协定网络。
    {% include badge.html
    color="danger"
    icon="fas fa-exclamation-triangle"
    tooltip="你的 IP 地址默认不会隐藏, 除非你强制使用 Tor。"
    text="非匿名"
    %}
  </li>
  <li><a href="https://retroshare.cc/">RetroShare</a> - 开源跨平台，朋友对朋友之间的安全，去中心式的通信平台。</li>
  <li><a href="https://i2pbote.xyz/">I2P-Bote</a> - 基于 I2P 网络，支持端到端加密的邮件系统。</li>
  <li><a href="https://gnunet.org/">GNUnet</a> - GNUnet 为全球分布式网络提供了一个坚实的基础，以确保其安全和隐私保护。</li>
  <li>
    <a href="https://ipfs.io/">IPFS</a> <em>和</em> <a href="https://github.com/ipfs-shipyard/ipfs-companion">IPFS Companion</a>- 点对点的超媒体协定，可让网页更快、安全和开放。IPFS Companion 为浏览器附加组件，可以在浏览 IPFS 资源时重新指向到用户所选择的 Gateway 。
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    link="https://github.com/privacytools/privacytools.io/pull/361#issuecomment-344414022"
    text="Supercookie 警告"
    %}
  </li>
  <li>
    <a href="https://yggdrasil-network.github.io/">Yggdrasil</a>
    - 仍在初期阶段的 IPv6 网络完整端对端加密运行。它是一个轻量、自行安排、跨平台支持，可让众多的 IPv6 应用与其它 Yggdrasil 节点安全地沟通。Yggdrasil 不一定要透由 IPv6 连接 - 也可以运行在 IPv4。

    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    tooltip="这是仍在开发的早期项目。"
    text="实验性"
    %}
    {% include badge.html
    color="danger"
    icon="fas fa-exclamation-triangle"
    link=""
    tooltip="Yggdrasil 默认不提供匿名性设定，你的对端能获取你的 IP 地址。你可以通过设置 Yggdrasil 只使用 Tor/I2P 对端来规避这个风险。"
    text="非匿名"
    %}
  </li>
</ul>
