<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> 自行架设的云端服务器软件</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果您目前使用 Dropbox, Google Drive, Microsoft OneDrive 或 Apple iCloud 等云存储服务，不妨从考虑自行架设自家的云端服务器。</strong>
</div>

{% include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> 为服务器与用户端的套件软件，可用于在私有控制的服务器上创建自用的文件访问服务。Nextcloud 免费开源，支持用户之间的点对点加密。其容量与频寛大小视所选的服务器主机情况而定。"
  labels="color==warning::link==https://github.com/nextcloud/end_to_end_encryption/issues/111::text==实验性端到端加密支持::tooltip==端到端加密目前仍处于实验阶段，不要用于生产服务器上。"
  website="https://nextcloud.com/"
  privacy-policy="https://nextcloud.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
  windows="https://nextcloud.com/install/#install-clients"
  mac="https://nextcloud.com/install/#install-clients"
  linux="https://nextcloud.com/install/#install-clients"
  freebsd="https://www.freshports.org/www/nextcloud/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  fdroid="https://f-droid.org/packages/com.nextcloud.client/"
  googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
  ios="https://itunes.apple.com/us/app/nextcloud/id1125420102"
  github="https://github.com/nextcloud"
%}

{% include cardv2.html
  title="Tahoe-LAFS"
  image="/assets/img/svg/3rd-party/tahoe-lafs.svg"
  image-dark="/assets/img/svg/3rd-party/tahoe-lafs-dark.svg"
  website="https://www.tahoe-lafs.org/"
  forum="https://forum.privacytools.io/t/discussion-tahoe-lafs/1662"
  description=" Tahoe-LAFS Tahoe-LAFS 免费开源，去中心化的云存储系统。用户的数据散布在多台服务器上，所以即便其中某个服务器故障出问题或是受到攻击，整个文件保存仍然会继续正常运行，保障用户的安全和隐私。 "
  windows="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
  mac="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
  linux="https://github.com/tahoe-lafs/tahoe-lafs#using-os-packages"
  netbsd="http://pkgsrc.se/filesystems/tahoe-lafs"
  git="https://www.tahoe-lafs.org/trac/tahoe-lafs/browser"
%}

<h3>值得关注</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - 免费开源且具端对端加密功能的即时在线协同笔记，可分享文件夹、媒体及文档。</li>
</ul>
