<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> 非集中的社交网络</h1>

<div class="alert alert-warning" role="alert">
  <strong> 如果您还在使用如 Facebook 或 Twitter 一类的的社交网站，不妨从这里挑选一个替代方案。</strong>
</div>

{% include cardv2.html
title="Mastodon - Twitter 替代品"
image="/assets/img/svg/3rd-party/mastodon.svg"
description='Mastodon 基于开放网页协定的自由开源社交网站软件。它如电子邮件般无一特定中心，包容来自不同伺候器的各式多元（不同兴趣同好的）用户，即使在不同的机器彼此仍然可以相互沟通。它有最大、最多样（指兴趣）的用户数，Mastodon 外观抢眼容易使用安装。如果您想试试加入某个站点，不妨选择我们提供的免费服务：<a href="https://social.privacytools.io/">social.privacytools.io</a>'
website="https://joinmastodon.org/"
forum="https://forum.privacytools.io/t/discussion-mastodon/289"
github="https://github.com/tootsuite/mastodon"
windows="https://joinmastodon.org/apps"
mac="https://joinmastodon.org/apps"
linux="https://joinmastodon.org/apps"
freebsd="https://joinmastodon.org/apps"
openbsd="https://joinmastodon.org/apps"
netbsd="https://joinmastodon.org/apps"
android="https://joinmastodon.org/apps"
sailfish="https://joinmastodon.org/apps"
ios="https://joinmastodon.org/apps"
web="https://joinmastodon.org/#getting-started"
%}

{% include cardv2.html
title='diaspora* - Google+ 替代品'
image='/assets/img/svg/3rd-party/diaspora.svg'
description='diaspora* 基于三大内核哲学：非集中式、自由和隐私。它希望能引发大家关切由集中型控制社交网站带来隐私问题，所以可以让用户自行架设服务器（或称 "pod"）来提供内容，各个服务器可以再自行交互分享动态更新、照片或其它的社交数据。'
website='https://diasporafoundation.org/'
forum='https://forum.privacytools.io/t/discussion-diaspora/290'
github='https://github.com/diaspora/diaspora'
android='https://wiki.diasporafoundation.org/Tools_to_use_with_Diaspora#Android'
web='https://diasporafoundation.org/'
%}

{% include cardv2.html
title="Friendica - Facebook 替代品"
image="/assets/img/svg/3rd-party/friendica.svg"
description="Friendica 强调在隐私控制上的仔细设置，容易自行安装于服务器，以期网络联邦尽可能出现更多的自主网站。 Friendica 用户可以从 Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io 等其它网络服务来集成其联系人的名单到自己的社交时间轴。"
website="https://friendi.ca/"
forum="https://forum.privacytools.io/t/discussion-friendica/291"
github="https://github.com/friendica/friendica"
windows="https://friendi.ca/resources/mobile-clients/"
linux="https://friendi.ca/resources/mobile-clients/"
android="https://friendi.ca/resources/mobile-clients/"
sailfish="https://friendi.ca/resources/mobile-clients/"
web="https://friendi.ca/"
%}

{% include cardv2.html
title="PixelFed - Instagram 替代"
image="/assets/img/svg/3rd-party/pixelfed.svg"
description='PixelFed 为免费优质的照片分享平台，它依 ActivityPub 联邦规格打造，故 Pixelfed 为开源、联邦型平台。用户可自行搭建自己服务或是<a href="https://fediverse.party/en/pixelfed/">加入已有的平台。</a>'
website="https://pixelfed.org/"
forum="https://forum.privacytools.io/t/discussion-pixelfed/293"
github="https://github.com/pixelfed"
web="https://pixelfed.org/"
%}

{% include cardv2.html
title="Pleroma - Twitter 替代"
image="/assets/img/svg/3rd-party/pleroma.svg"
description="Pleroma 免费、联邦式的社交网络，其伺候器基于开放协议，可与 Mastodon 、 ActivityPub、 OStatus 等兼容。"
website="https://pleroma.social"
forum="https://forum.privacytools.io/t/discussion-pleroma/2307"
gitlab="https://git.pleroma.social/pleroma/pleroma/"
windows="https://docs-develop.pleroma.social/backend/clients/#desktop"
mac="https://docs-develop.pleroma.social/backend/clients/#desktop"
linux="https://docs-develop.pleroma.social/backend/clients/#desktop"
android="https://docs-develop.pleroma.social/backend/clients/#handheld"
fdroid="https://docs-develop.pleroma.social/backend/clients/#handheld"
googleplay="https://docs-develop.pleroma.social/backend/clients/#handheld"
ios="https://docs-develop.pleroma.social/backend/clients/#handheld"
web="https://docs-develop.pleroma.social/backend/clients/#alternative-web-interfaces"
%}

<h3>值得一提</h3>
<ul>
  <li><a href="https://movim.eu/">Movim</a> - 联邦式的社交平台，其通过 XMPP 标准让用户在各式电脑设备上交流。</li>
</ul>
