<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a>去中心的社交网路</h1>
  <div class="alert alert-warning" role="alert">
    <strong> 如果你还在使用如 Facebook、Twitter 或 Google 的社交网站，不妨从这里挑选一个替代方案。</strong>
  </div>
  <div class="row mb-2">

    {% include card.html color='success'
    title='Mastodon 长毛象'
    image='assets/img/tools/Mastodon.png'
    url='https://joinmastodon.org'
    website='mastodon.social'
    description='Mastodon 基于开放网页协定的自由开源社交网站软体。它如电子邮件的去中心化，包容各式多元(不同兴趣同好的)使用者，外观抢眼容易使用安装。'
    %}

    {% include card.html color='primary'
    title='diaspora*'
    image='assets/img/tools/diaspora.png'
    url='https://diasporafoundation.org/'
    description='diaspora* 基于三大核心哲学：去中心化、自由和隐私。它希望能引起大家关切由中心所控制社交网站下的隐私问题，所以可以让用户自行架设伺服器（或称 "pod"）来控制内容，而各个伺服器可以再自行互动分享动态更新、照片或其它的资料。' 
    %}

    {% include card.html color='warning'
    title='Friendica'
    image='assets/img/tools/Friendica.png'
    url='https://friendi.ca/'
    description='Friendica 强调在隐私控制上的仔细设定，它是一个容易安装在伺服器上的软体，以期待尽可能出现更多其它的社交网路联邦。 Friendica 用户可以从 Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io 等等多项社交网路服务来整合其联络人的名单到自己的社交时间轴。'
    %}

  </div>

  <h3>值得一提</h3>
  <ul>
    <li><a href="https://gnu.io/social/">GNU Social</a> - 开源、自由与去中心的社交平台，可与 Mastodon 和 Friendica 相容交流。</li>
  </ul>

  <h3>相关资讯</h3>
  <ul>
    <li><a href="https://justdeleteme.xyz/">JustDeleteMe</a> - A directory of direct links to delete your account from web services.</li>
    <li><a href="https://addons.mozilla.org/firefox/addon/facebook-container/">Facebook Container by Mozilla</a> - Prevent Facebook from tracking you around the web.</li>
    <li><a href="https://www.facebook.com/help/delete_account">Delete your Facebook account</a> - Direct link to delete your Facebook account without being able to reactivate it again.</li>
    <li><a href="https://deletefacebook.com/">How To Permanently Delete A Facebook Account</a> - This guide will take you through a smooth and successful Facebook account deletion.</li>
  </ul>  