<h1 id="teamchat" class="anchor"><a href="#teamchat"><i class="fas fa-link anchor-icon"></i></a> 团队聊天平台</h1>

<div class="alert alert-warning" role="alert">
        <strong>如果您的项目小组或组织使用的是 <a href="https://tosdr.org/#discord">Discord</a> 或 <a href="https://drewdevault.com/2015/11/01/Please-stop-using-slack.html">Slack</a>，不妨参考以下其它替代选项。</strong>
</div>

{%
  include cardv2.html
  title="Riot"
  image="/assets/img/svg/3rd-party/riotim.svg"
  description='<a href="//about.riot.im">Riot.im</a> 是 <a href="//matrix.org/docs/guides/introduction">Matrix</a>协议的参考实现客户端。<a href="//matrix.org/docs/spec">Matrix </a>是一种注重安全、非中心化和实时的开放源代码的通讯协议。'
  labels="text==VoIP"
  website="https://about.riot.im/"
  privacy-policy="https://riot.im/privacy"
  forum="https://forum.privacytools.io/t/discussion-riot-im/665/"
  github="https://github.com/vector-im/riot-web/"
  windows="https://riot.im/download/desktop/"
  mac="https://riot.im/download/desktop/"
  linux="https://riot.im/download/desktop/"
  fdroid="https://f-droid.org/repository/browse/?fdid=im.vector.alpha"
  googleplay="https://play.google.com/store/apps/details?id=im.vector.app"
  ios="https://itunes.apple.com/app/vector.im/id1083446067"
  web="https://riot.im/app/"
%}

{%
  include cardv2.html
  title="Rocket.chat"
  image="/assets/img/svg/3rd-party/rocketchat.svg"
  description="Rocket.chat 是可自行搭建的开放源代码团队沟通方案，也可选的支持联邦联结。"
  labels="color==warning::link==https://rocket.chat/docs/user-guides/end-to-end-encryption/::text==实验性端到端加密支持::tooltip==官方的声明：端到端加密目前仍在实验中，不支持移动设备和前向安全。因此泄露密码同时也会泄露你的聊天记录。|text==VoIP"
  website="https://rocket.chat/"
  privacy-policy="https://rocket.chat/privacy"
  forum="https://forum.privacytools.io/t/discussion-rocket-chat/1223"
  github="https://github.com/rocketchat/"
  windows="https://rocket.chat/install"
  mac="https://itunes.apple.com/us/app/rocket-chat/id1086818840"
  linux="https://rocket.chat/install"
  fdroid="https://f-droid.org/packages/chat.rocket.android"
  googleplay="https://play.google.com/store/apps/details?id=chat.rocket.android"
  ios="https://itunes.apple.com/app/rocket-chat/id1148741252"
%}
