<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> 加密的影音即时通</h1>
<div class="alert alert-warning" role="alert">
  <strong>如果你还在使用 Skype、Viber 或 Google Hangouts 这些影音会议即时通讯软体，不妨考虑其它的替代品吧。</strong>
</div>
<div class="row mb-2">
  {% include card.html color='success'
  title='Mobile: Signal'
  image='assets/img/tools/Signal.png'
  url='https://signal.org'
  footer='支援作业系统： Android, iOS, macOS, Windows, Linux'
  description='Signal 是由Open Whisper Systems 所开发的手机应用程式。它提供了所有通讯端点到端点之间的加密。Signal 是一套免费开源的软体，任何人都可以审查它的原始码，它无任何广告干援，全靠社群捐款与奖助金收入。'
  %}

  {% include card.html color='primary'
  title='Wire'
  image='assets/img/tools/wire.png'
  url='https://get.wire.com'
  footer='支援作业系统： Android, iOS, macOS, Windows, Linux, Web'
  description='Wire 是由WIRE SWISS GmbH所开发的一套应用程式软体。Wire 可让用户交换端对端之间的即时讯息加密以及可以打语音和视讯电话。 Wire 是一个免费开源的软体，让任何人可以透过查核其代码来检查它的安全认证。 它的开发团队受到 Iconical 的支持撑腰，未来有商业化提供付费型升级客户的功能与服务。 <br>
  <b>关心提醒:</b> 这家公司会保留所有用户的联络人清单，除非用户完全删除自己帐号。'
  %}

  {% include card.html color='warning'
  title='Linphone'
  image='assets/img/tools/Linphone.png'
  url='https://www.linphone.org/'
  footer='支援作业系统： iOS, Android, Windows Phone, Linux, Windows, macOS, Browser (Web)'
  description='Linphone 是一个开源 SIP 电话，它可利用网路服务来拨打免费语音电话, 其能运行在手机与桌机环境和网页浏览器。它支援 ZRTP 的端点到端点之间的影像加密通讯。'
  %}

</div>  <h3>值得一提</h3>
<ul>
  <li><a href="https://jitsi.org/">Jitsi</a> - 是一款免费开源的跨平台网路电话（VoIP），视讯会议与即时通讯应用软体。</li>
  <li> <a href="https://tox.chat/">Tox</a> - <span class="badge badge-warning">Experimental</span> 免费开源、点对点的加密即时通讯与影音通话软体。</li>
  <li><a href="https://ring.cx/">Ring (前身为 SFLphone)</a> -  让用户完整掌控通讯时各层级的隐私保护。</li>
</ul>

<h3>相关资讯</h3>
<ul>
  <li><a href="https://signal.org/android/apk/">Advanced users with special needs can download the Signal APK directly. Most users should not do this under normal circumstances.</a></li>
  <li><a href="https://motherboard.vice.com/en_us/article/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text">Secure Messaging App Wire Stores Everyone You've Ever Contacted in Plain Text | Motherboard</a></li>
</ul> 