<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> 推荐的 VPN 服务</h1>

<div class="alert alert-success" role="alert">
  <strong>此推荐的供应商都不在美国境内，他们都使用加密，接受 Bitcoin 付款，支持 OpenVPN 而且（声称）采用不记录用户活动的政策。可进一步了解 <a href="/providers/vpn/#criteria">完整的评鉴标准说明</a>。</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mullvad.svg"
        data-theme-src="/assets/img/svg/3rd-party/mullvad-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mullvad">
    </div>
    <div class="col">
    <h2>Mullvad <span class="badge badge-info">欧元 €60/年</span></h2>
    <p><strong>Mullvad</strong> 速度快、价格合理的 VPN，同时认真看待安全与透明课题。自 <strong>2009</strong>开始营运，是唯一达到我们各要求标准的 VPN 供应商。Mullvad 主要位于<span class="flag-icon flag-icon-se"></span> 瑞典，未提供免费试用，请到 <a href="https://mullvad.net/">mullvad.net</a> 创建一个帐号吧。</p>
    <h5><span class="badge badge-success">406+ 服务器</span></h5>
    <p>计至在本文撰写时，Mullvad 在 39 国家布署了409 个服务器。通常供应商有更多服务器就能提供更佳服务：当上百台服务器营运时，用户可以更轻易地找到速度最快、距离最近的服务器。</p>
    <h5><span class="badge badge-success">WireGuard 支持</span></h5>
    <p>除标准的 OpenVPN 连接， Mullvad 还支持 WireGuard。WireGuard 是试验阶段的网络协定，理论上会更安全与更可靠。不过目前它仍未大量使用。</p>
    <h5><span class="badge badge-success">独立安全审计</span></h5>
    <p>Mullvad 的 VPN 客户端软件曾由 Cure53 与 Assured AB 安全审计，提交渗透测试报告，公布在<a href="https://cure53.de/pentest-report_mullvad_v2.pdf"> cure53.de</a>。 安全检查的研究成员包括：</p>
    <blockquote class="blockquote">
      <p class="mb-0">...Cure53 与 Assured AB 对于安全审计结果感到满意，对他们的软件留下了良好印象。Mullvad VPN 自家团队在资安用心的专注投入，测试员深信此项目朝着正确的轨道前进。</p>
    </blockquote>
    <h5><span class="badge badge-success">IPv6 支持</span></h5>
    <p>Mullvad 支持 <a href="https://en.wikipedia.org/wiki/IPv6">IPv6 </a>网络协定，让用户可访问<a href="https://mullvad.net/en/blog/2014/9/15/ipv6-support/">架设在 IPv6</a>的服务。不少供应商会阻断 IPv6 连接。</p>
    <h5><span class="badge badge-success">远程端口转发</span></h5>
    <p>Mullvad 提供远程<a href="https://en.wikipedia.org/wiki/Port_forwarding">端口转发</a>功能，请见<a href="https://mullvad.net/help/port-forwarding-and-mullvad/">Port forwarding with Mullvad VPN</a>.</p>
    <h5><span class="badge badge-success">接受比特币付款</span></h5>
    <p>Mullvad 可采 信用卡/储蓄卡、<strong>比特币</strong>、<strong>Bitcoin Cash</strong>以及<strong>现金或当地流通货币</strong>等不记名付款方式，也可接受 Swish 与银行电汇。</p>
    <h5><span class="badge badge-warning">无手机端应用</span></h5>
    <p>其 iOS 与 Android 客户端软件仍在开发中，手机用户必须使用旧有的 OpenVPN 进行设置。</p>
    <h5><span class="badge badge-info">额外功能</span></h5>
    <p>The Mullvad VPN 客户端内键 killswitch 以阻断 VPN 以外的网络连接，也能在开机时即自动加载 VPN。 Mullvad 网站可以透由 Tor  <a href="http://xcln5hkbriyklr6n.onion/">xcln5hkbriyklr6n.onion </a>访问。</p>
    </div>
  </div>

</div>

<div class="alert alert-warning" role="alert">
  <strong>注意：使用 VPN 无法匿名，但某些状况下提供用户更佳的隐私保护。 VPN 不是用来从事违法活动的工具，不要依赖「不留活动记录 "no log"」政策。</strong>
</div>

<h1 id="vpn" class="anchor"><a href="#worth-mentioning"><i class="fas fa-link anchor-icon"></i></a> 其它值得一提的 VPN 供应商</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/protonvpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="ProtonVPN">
    </div>
    <div class="col">
    <h2>ProtonVPN <span class="badge badge-info">免费版</span> <span class="badge badge-info">美元 $96/年 </span></h2>
    <p><strong>ProtonVPN</strong>是 VPN 市场上有力的竞争者，从 <strong>2016 年</strong>开始加入 VPN 服务。 ProtonVPN 以<span class="flag-icon flag-icon-ch"></span>瑞士为所在地，有免费版的限量使用和付费升级版等消费选项。可惜它目前仍无独立的安全审计审查，故无法达到我们推荐产品的全部要求标准，可参考下方之说明：</p>
    <h5><span class="badge badge-danger">没有已公开的安全审计记录</span></h5>
    <p>ProtonVPN 尚无任何第三方独立进行安全审计审查（截至本文发布之际），所以我们无法将之列在可放心使用的推荐名单，姑且先列在此处希望他们能尽快发布相关报告。</p>
    <blockquote class="blockquote">
      <p class="mb-0">ProtonVPN  已委托瑞士某家公司对 VPN 产品进行完整的安全审计审查，其结果将会尽快发布。</p>
      <footer class="blockquote-footer">Marc Loebekken, ProtonVPN AG Legal counsel</footer>
    </blockquote>
    <p>我们会再次于 2020 年第一季重新评估上述的安全审查报告是否发表。
    <h5><span class="badge badge-success">610+ 服务器</span></h5>
    <p>计至在本文撰写时，ProtonVPN 在 44 国家布署了610 个服务器。通常供应商有更多服务器就能提供更佳服务：当上百台服务器营运时，用户可以更轻易地找到速度最快、距离最近的服务器。</p>
    <h5><span class="badge badge-success">接受比特幤付款</span></h5>
    <p>技术上 ProtonVPN 可接受比特币，但必须为老用户或是事先联系 ProtonVPN 客服使用比特币注册。</p>
    <h5><span class="badge badge-success">手机端应用</span></h5>
    <p>除标准的 OpenVPN 设置外， ProtonVPN 也有手机专用的 iOS 与 Android 应用软件，便于用户连接 ProtonVPN 服务器。</p>
    <h5><span class="badge badge-info">额外功能</span></h5>
    <p>ProtonVPN 客户端内键 killswitch 以阻断 VPN 以外的网络连接，也能在开机时即自动加载 VPN。ProtonVPN 也有 "Tor" 服务器以便轻松访问 onion 网站，不过还是建议通过 Tor 浏览器来访问深网。</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/ivpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="IVPN">
    </div>
    <div class="col">
    <h2>
      IVPN
      <span class="badge badge-info">标准版美元 $60/年</span>
      <span class="badge badge-secondary">升级版 美元 $100/年</span>
    </h2>
    <p><strong>IVPN</strong> 是另一家不错的 VPN 供应商，成立于 <strong>2009</strong> 年，注册所在地是 <span class="flag-icon flag-icon-gi"></span> 直布罗陀。IVPN 提供三天免费体验试用，收费等级有二种。可惜它目前仍无独立的安全审计审查，故无法达到我们推荐产品的全部要求标准，可参考下方之说明：</p>
    <h5><span class="badge badge-danger">没有已公开的安全审计记录</span></h5>
    <p>IVPN 已委托 Cure53 完成了 <a href="https://cure53.de/audit-report_ivpn.pdf">no-logging 安全审计</a>，此数据掲示在 IVPN 的「不记录用户活动」政策声明当中。除此之外，IVPN 未发布任何第三方进行完整的资安稭查，所以此刻我们无法向用户强力推荐。</p><p>预期他们很快就会公布资安稭查报告，故仍把 IVPN 列上来。<a href="https://nitter.net/ivpnnet/status/1181954975687163905">IVPN 已委托 Cure53</a> 自 2019 年 11 月至 2020 年 1 月间，由六名安全审计审员查针对 IVPN 网站、公开与内部服务器基础设施进行安全审计审查。</p>
    <h5><span class="badge badge-success">77+ 服务器s</span></h5>
    <p>计至在本文撰写时，IVPN 在 31 国家布署了 77 个服务器。通常供应商有更多服务器就能提供更佳服务：当上百台服务器营运时，用户可以更轻易地找到速度最快、距离最近的服务器。</p>
    <h5><span class="badge badge-success">远处端口转发</span></h5>
    <p>付费升级的用户可享远程<a href="https://en.wikipedia.org/wiki/Port_forwarding">远处端口转发</a>功能，通过客户端软件<a href="https://www.ivpn.net/knowledgebase/81/How-do-I-activate-port-forwarding.html">打开</a>。只有在使用 <a href="https://www.ivpn.net/knowledgebase/116/Port-forwarding-is-not-working-why.html"> OpenVPN 且不连接位在美国的服务器时</a>，才可进行端口转发功能。</p>
    <h5><span class="badge badge-success">接受比特币付款</span></h5>
    <p>IVPN 收信用卡/储蓄卡、PayPal、<strong>比特币</strong>以及<strong>现金或当地流通货币</strong>（按年付费）等不记名付款方式。</p>
    <h5><span class="badge badge-success">移动应用</span></h5>
    <p>除标准的 OpenVPN 设置外， IVPN 也有手机专用的 iOS 与 Android 应用软件，便于用户连接到他们的服务器。</p>
    <h5><span class="badge badge-info">额外功能</span></h5>
    <p>The Mullvad VPN 客户端软件内键 killswitch 以阻断 VPN 以外的网络连接，也能在开机时即自动加载 VPN。 IVPN 还有反追踪功能，可阻挡网络广告与追踪器。</p>
    </div>
  </div>

</div>
