<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a>提供额外隐私保护的 VPN 提供商</h1>
  <div class="alert alert-success" role="alert">
    <strong>在此所列的提供商都不在美国境内，他们都使用加密，接受 Bitcoin 付款，支持 OpenVPN 而且（声称）采用不记录用户活动的政策。</strong>
  </div>

  <!-- START VPN TABLE -->

  {% assign eur_to_usd = 1.14 %}
  <div class="table-responsive">
    <table class="table sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th data-sortable="true">整理的 VPN 提供商表格</th>
          <th data-sortable="true">年费</th>
          <th data-sortable="true">免费试用？</th>
          <th data-sortable="true" title="Number of Servers"># 服务器数量</th>
          <th data-sortable="true">司法管辖区</th>
          <th data-sortable="false">网站</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-value="AirVPN">
            <a href="https://airvpn.org/"><img alt="AirVPN" src="assets/img/provider/AirVPN.png" width="200" height="70"></a></td>
          <td data-value="{{ 54 | times: eur_to_usd }}">54 €</td>
          <td><span class="label label-success">Yes</span></td>
          <td>162</td>
          <td><span class="flag-icon flag-icon-it"></span>意大利</td>
          <td><a href="https://airvpn.org/">AirVPN.org</a></td>
        </tr>

        <tr>
          <td data-value="AzireVPN">
            <a href="https://www.azirevpn.com/"><img alt="AzireVPN" src="assets/img/provider/AzireVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 45 | times: eur_to_usd }}">45 €</td>
          <td><span class="label label-success">Yes</span></td>
          <td>22</td>
          <td><span class="flag-icon flag-icon-se"></span> 瑞典</td>
          <td><a href="https://www.azirevpn.com/">AzireVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="blackVPN">
            <a href="https://www.blackvpn.com/"><img alt="blackVPN" src="assets/img/provider/blackVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 49 | times: eur_to_usd }}">49 €</td>
          <td><span class="label label-success">Yes</span></td>
          <td>31</td>
          <td><span class="flag-icon flag-icon-hk"></span> 香港</td>
          <td><a href="https://www.blackvpn.com/">blackVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="Cryptostorm">
            <a href="https://cryptostorm.is/"><img alt="Cryptostorm" src="assets/img/provider/Cryptostorm.png" width="200" height="70"></a>
          </td>
          <td data-value="52">$ 52</td>
          <td><span class="label label-success">Yes</span></td>
          <td>28</td>
          <td><span class="flag-icon flag-icon-is"></span> 冰岛</td>
          <td><a href="https://cryptostorm.is/">Cryptostorm.is</a></td>
        </tr>

        <tr>
          <td data-value="ExpressVPN">
            <a href="https://www.expressvpn.com/"><img alt="ExpressVPN" src="assets/img/provider/ExpressVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="100">$ 99.95</td> <!-- USD on December 28, 2018 -->
          <td><span class="label label-success">Yes</span></td>
          <td>148</td>
          <td><span class="flag-icon flag-icon-vg"></span> 英属威京群岛</td>
          <td><a href="https://www.expressvpn.com/">ExpressVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="FrootVPN">
            <a href="https://www.frootvpn.com/"><img alt="FrootVPN" src="assets/img/provider/FrootVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="36">$ 35.88</td>
          <td><span class="label label-warning">No</span></td>
          <td>27</td>
          <td><span class="flag-icon flag-icon-se"></span> 瑞典</td>
          <td><a href="https://www.frootvpn.com/">FrootVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="hide.me">
            <a href="https://hide.me/"><img alt="hide.me" src="assets/img/provider/hide.me.png" width="200" height="70"></a>
          </td>
          <td data-value="0"><a data-toggle="tooltip" data-placement="bottom" data-original-title="2 GB data transfer, 1 simultaneous connection" href="https://hide.me/pricing">Free</a></td>
          <td><span class="label label-success">Yes</span></td>
          <td>160+</td>
          <td><span class="flag-icon flag-icon-my"></span> 马来西亚</td>
          <td><a href="https://hide.me/">hide.me</a></td>
        </tr>

        <tr>
          <td data-value="IVPN">
            <a href="https://www.ivpn.net/"><img alt="IVPN" src="assets/img/provider/IVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="100">$ 100</td>
          <td><span class="label label-success">Yes</span></td>
          <td>38</td>
          <td><span class="flag-icon flag-icon-gi"></span> 直布罗陀</td>
          <td><a href="https://www.ivpn.net/">IVPN.net</a></td>
        </tr>

        <tr>
          <td data-value="Mullvad">
            <a href="https://mullvad.net/"><img alt="Mullvad" src="assets/img/provider/Mullvad.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 60 | times: eur_to_usd }}">60 €</td>
          <td><span class="label label-success">Yes</span></td>
          <td>281</td>
          <td><span class="flag-icon flag-icon-se"></span> 瑞典</td>
          <td><a href="https://mullvad.net/">Mullvad.net</a></td>
        </tr>

        <tr>
          <td data-value="NordVPN">
            <a href="https://nordvpn.com/"><img alt="NordVPN" src="assets/img/provider/NordVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="84">$ 83.88</td>
          <td><span class="label label-success">Yes</span></td>
          <td>5200+</td>
          <td><span class="flag-icon flag-icon-pa"></span> 巴拿马</td>
          <td><a href="https://nordvpn.com/">NordVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="OVPN.com">
            <a href="https://www.ovpn.com/"><img alt="OVPN.com" src="assets/img/provider/OVPN.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 84 | times: eur_to_usd }}">84 €</td>
          <td><span class="label label-success">Yes</span></td>
          <td>67</td>
          <td><span class="flag-icon flag-icon-se"></span> 瑞典</td>
          <td><a href="https://www.ovpn.com/">OVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="Perfect Privacy">
            <a href="https://www.perfect-privacy.com/"><img alt="Perfect Privacy" src="assets/img/provider/Perfect-Privacy.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 119.99 | times: eur_to_usd }}">119.99 €</td>
          <td><span class="label label-warning">No</span></td>
          <td>54</td>
          <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
          <td><a href="https://www.perfect-privacy.com/">Perfect-Privacy.com</a></td>
        </tr>

        <!--
          "Warning: It has come to our attention that Privatoria are no longer supporting their service – its advised to try some other VPN provider." Source: https://www.deepdotweb.com/2016/01/03/privatoria-review/
          <tr>
          <td data-value="Privatoria">
          <a href="https://privatoria.net/"><img src="assets/img/provider/Privatoria.png" width="200" height="70"></a>
          </td>
          <td data-value="23">$ 22.8</td>
          <td><span class="label label-success">Yes</span></td>
          <td>22</td>
          <td><span class="flag-icon flag-icon-cz"></span> Czech Republic</td>
          <td><a href="https://privatoria.net/">Privatoria.net</a></td>
          </tr>
        -->
        <tr>
          <td data-value="ProtonVPN">
            <a href="https://protonvpn.com/"><img alt="ProtonVPN" src="assets/img/provider/ProtonVPN.png" width="200" height="70"></a     >
          </td>
          <td data-value="0"><a data-toggle="tooltip" data-placement="bottom" data-original-title="3 countries, 1 device, speed: low" href="https://protonvpn.com/pricing">Free</a></td>
          <td><span class="label label-success">Yes</span></td>
          <td>325</td>
          <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
          <td><a href="https://protonvpn.com/">ProtonVPN.com</a></td>
        </tr>

        <tr>
          <td data-value="Proxy.sh">
            <a href="https://proxy.sh/"><img alt="Proxy.sh" src="assets/img/provider/Proxy.sh.png" width="200" height="70"></a>
          </td>
          <td data-value="40">$ 40</td>
          <td><span class="label label-warning">No</span></td>
          <td>300+</td>
          <td><span class="flag-icon flag-icon-sc"></span> 塞舌尔</td>
          <td><a href="https://proxy.sh/">Proxy.sh</a></td>
        </tr>

        <tr>
          <td data-value="Trust.Zone">
            <a href="https://trust.zone/"><img alt="Trust.Zone" src="assets/img/provider/Trust.Zone.png" width="200" height="70"></a>
          </td>
          <td data-value="40">$ 39.95</td>
          <td><span class="label label-success">Yes</span></td>
          <td>164</td>
          <td><span class="flag-icon flag-icon-sc"></span> 塞舌尔</td>
          <td><a href="https://trust.zone/">Trust.Zone</a></td>
        </tr>
        <tr>
          <td data-value="VPN.ht">
            <a href="https://vpn.ht/"><img alt="VPN.ht" src="assets/img/provider/VPN.ht.png" width="200" height="70"></a>
          </td>
          <td data-value="40">$ 39.99</td>
          <td><span class="label label-warning">No</span></td>
          <td>128</td>
          <td><span class="flag-icon flag-icon-hk"></span> 香港</td>
          <td><a href="https://vpn.ht/">VPN.ht</a></td>
        </tr>
        <tr>
          <td data-value="VPNArea">
            <a href="https://vpnarea.com/"><img alt="VPNArea" src="assets/img/provider/vpnarea.png" width="200" height="70"></a>
          </td>
          <td data-value="59">$ 59</td>
          <td><span class="label label-success">Yes</span></td>
          <td>204</td>
          <td><span class="flag-icon flag-icon-bg"></span> 保加利亚</td>
          <td><a href="https://vpnarea.com/">VPNArea.com</a></td>
        </tr>
        <tr>
          <td data-value="VPNTunnel">
            <a href="https://vpntunnel.com/"><img alt="VPNTunnel" src="assets/img/provider/VPNTunnel.png" width="200" height="70"></a>
          </td>
          <td data-value="{{ 35.88 | times: eur_to_usd }}">35.88 €</td>
          <td><span class="label label-warning">No</span></td>
          <td>800+</td>
          <td><span class="flag-icon flag-icon-sc"></span> 塞舌尔</td>
          <td><a href="https://vpntunnel.com/">VPNTunnel.com</a></td>
        </tr>

      </tbody>
    </table>
  </div>  <!-- END VPN TABLE -->

  <!-- yellow warning box about vpns and "no log" policies. -->
  <div class="alert alert-warning" role="alert">
    <strong>注意：使用 VPN 可以提供较佳的隐私控制，但不能做到匿名。 VPN 不是用来作违法活动的工具，不能仅依赖提供商的「不记录用户活动」政策。</strong>
  </div>  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- bullet list of VPN Provider Criteria -->
        <h3>我们挑选 VPN 提供商的标准</h3>
        <ul>
          <li>在美国境外或其它五眼联盟以外的国家营运 <p>再者: <a href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus">避免使用位于美国或英国的服务。</a></p></li>
          <li>支持 OpenVPN 协议</li>
          <li>接受比特币、现金、借记卡或现金卡等付款方式</li>
          <li>注册帐号时不会求提供个人资讯，仅需提供填用户名、密码与<a href="#email"><i class="fas fa-link"></i> 电子邮件地址</a>/li>
        </ul>
        <p>我们和上列的 VPN 提供商并没有任何利益关联，以求诚实地予以最佳推荐。</p>

        <h3>更多的 VPN 提供商</h3>
        <p>
        <a href="https://thatoneprivacysite.net/vpn-comparison-chart/">
          无偏颇、独立，查证过的一百多家 VPN 提供商表单资讯</a>
        <a href="https://www.reddit.com/r/privacytoolsIO/comments/43d4zs/you_guys_might_be_interested_in_this_a/">
          (欢迎加入在 Reddit 的讨论)
        </a>
        </p>
      </div>

      <!-- bullet list of VPN articles -->
      <div class="col-md-6">
        <h3>与 VPN 相关的其它信息</h3>
        <ul>
          <li><a href="https://torrentfreak.com/vpn-services-keep-anonymous-2018/">哪个 VPN 服务能让你保持匿名?</a><br />(<strong>注意:</strong>这篇文章中首先提到的 TorrentFreaks 是赞助商)</li>
          <li><a href="https://torrentfreak.com/how-to-make-vpns-even-more-secure-120419/">使 VPN 更安全</a></li>
          <li><a href="https://vikingvpn.com/blogs/off-topic/beware-of-vpn-marketing-and-affiliate-programs">注意识别 VPN 市场和营销中的虚假评论</a></li>
          <li><a href="https://www.goldenfrog.com/take-back-your-internet/articles/7-myths-about-vpn-logging-and-anonymity">我用了 VPN 所以我是匿名的？- 揭穿关于 VPN  的七大神话</a><br />(<strong>注意:</strong>虽然文章值得一读，但是依然包含宣传内容)</li>
          <li><a href="https://torrentfreak.com/proxy-sh-vpn-provider-monitored-traffic-to-catch-hacker-130930/">Proxy.sh 嗅探自己服务器上的流量来追踪骇客</a></li>
          <li><a href="https://proxy.sh/panel/knowledgebase.php?action=displayarticle&id=5">合情合理的政策 - Proxy.sh 启用日志记录的原因</a></li>
          <li><a href="https://www.ivpn.net/privacy">IVPN.net 会在你注册完成后收集你的 IP 地址</a><br />（<a data-toggle="tooltip" data-placement="top" data-original-title="在你注册完成时收集的 IP 地址仅用于反欺诈用途并会在几秒钟后丢弃，因为存储这些信息会大大增加我们自己的责任，也不符合我们的利益。不过你也可以使用 Tor 或另一个 VPN 注册。">来自 IVPN 的邮件声明</a>）</li>
          <li><a href="https://medium.com/@blackVPN/no-logs-6d65d95a3016">blackVPN 声称会在断开连接时删除日志</a></li>
          <li><a href="https://gist.github.com/kennwhite/1f3bc4d889b02b35d8aa">不要使用 LT2P IPSec 协议.</a></li>
        </ul>
      </div>
    </div>
  </div>
