<h1 id="wc" class="anchor"><a href="#wc"><i class="fas fa-link anchor-icon"></i></a> 什么叫做令状金丝雀?</h1>

<img src="/assets/img/svg/layout/warrant_canary_example.svg" width="450px" class="img-fluid float-right ml-3" alt="Warrant Canary Example">

<p>令状金丝雀（warrant canary）是有些组织公布一份文档来声明他们在一段特定期间内，并未接到任何秘密的官方命令。如果这份文档未能及时定期更新，那么用户可以假设该组织可能收到了不可公开的秘密传票，此时应该停止使用他们提供的网络服务。</p>

<h4>相关案例：</h4>

<ol>
  <li><a href="https://proxy.sh/canary">https://proxy.sh/canary</a></li>
  <li><a href="https://www.ivpn.net/resources/canary.txt">https://www.ivpn.net/resources/canary.txt</a></li>
  <li><a href="https://www.bolehvpn.net/canary.txt">https://www.bolehvpn.net/canary.txt</a></li>
  <li><a href="https://www.ipredator.se/static/downloads/canary.txt">https://www.ipredator.se/static/downloads/canary.txt</a></li>
</ol>

<h4>相关信息</h4>

<ul>
  <li><a href="https://www.eff.org/deeplinks/2014/04/warrant-canary-faq">Warrant Canary Frequently Asked Questions</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Warrant_canary#Companies_and_organizations_with_warrant_canaries">Companies and organizations with warrant canaries</a></li>
  <li><a href="https://www.schneier.com/blog/archives/2015/03/australia_outla.html">Warrant canary criticism by Bruce Schneier and an example of a law against warrant canaries.</a></li>
</ul>
