  <!-- warrant canary -->
  <h1 id="wc" class="anchor"><a href="#wc"><i class="fas fa-link anchor-icon"></i></a>令状金丝雀是什么?</h1>
  <img src="assets/img/layout/warrant-canary.jpg" class="img-fluid float-right" alt="Warrant Canary Example" style="margin-left:20px;">
  <p>令状金丝雀（warrant canary）是有些组织公布一份文件来声明他们在一段特定期间内并未接到任何秘密的官方命令。如果这份文件未能及时定期更新，那么用户可以假定该组织可能收到了不可公开的秘密指示，此时应该停止使用他们提供的网络服务。</p>
  <h4>相关案例：</h4>
  <ol>
    <li><a href="https://proxy.sh/canary">https://proxy.sh/canary</a></li>
    <li><a href="https://www.ivpn.net/resources/canary.txt">https://www.ivpn.net/resources/canary.txt</a></li>
    <li><a href="https://www.bolehvpn.net/canary.txt">https://www.bolehvpn.net/canary.txt</a></li>
    <li><a href="https://lokun.is/canary.txt">https://lokun.is/canary.txt</a></li>
    <li><a href="https://www.ipredator.se/static/downloads/canary.txt">https://www.ipredator.se/static/downloads/canary.txt</a></li>
  </ol>
  <h4>相关资讯</h4>
  <ul>
    <li><a href="https://www.eff.org/deeplinks/2014/04/warrant-canary-faq">关于令状金丝雀的常见问题和解答</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Warrant_canary#Companies_and_organizations_with_warrant_canaries">使用令状金丝雀的公司和组织一览</a></li>
    <li><a href="https://www.schneier.com/blog/archives/2015/03/australia_outla.html">Bruce Schneier 对令状金丝雀的批评和对令状金丝雀有威胁的法律的例子。</a></li>
  </ul>
