<h1 id="win10" class="anchor"><a href="#win10"><i class="fas fa-link anchor-icon"></i></a> 不要使用 Windows 10 - 它是隐私侵害的梦魇</h1>

  <div class="alert alert-warning" role="alert">
    <strong> 微软在 Windows 10 引入了一些新的亮点功能，例如 Cortana。然而大多部分这些东西正在侵害你的隐私权。 </strong>
  </div>

  <img src="assets/img/layout/Windows-10-Privacy.jpg" class="img-fluid float-right" alt="Windows 10 Privacy" style="margin-left:10px;">

  <ol>
    <li><strong>系统默认启动资料同步预设</strong>
      <ul>
        <li>浏网记录与打开的网站</li>
        <li>应用程式设定</li>
        <li>WiFi 热点名称和密码</li>
      </ul>
    </li>
    <li><strong>你的机子被预设标记了一个独一的广告识别码</strong>
      <ul>
        <li>用它第三方广告商或网路商可对你进行个人化广告服务</li>
      </ul>
    </li>

    <li><strong>Cortana 可以收集你的任何资料</strong>
      <ul>
        <li>键盘记录，搜寻与麦克风输入</li>
      </ul>
      <ul>
        <li>日历资料</li>
      </ul>
      <ul>
        <li>聆听什么音乐</li>
      </ul>
      <ul>
        <li>信用卡资讯</li>
      </ul>
      <ul>
        <li>购买行为</li>
      </ul>
    </li>

    <li><strong>Microsoft 微软可以收集任何个人资料</strong>
      <ul>
        <li>用户身份识别</li>
      </ul>
      <ul>
        <li>密码</li>
      </ul>
      <ul>
        <li>人种族群资讯</li>
      </ul>
      <ul>
        <li>兴趣与习惯</li>
      </ul>
      <ul>
        <li>使用数据</li>
      </ul>
      <ul>
        <li>联络者与人际关系</li>
      </ul>
      <ul>
        <li>地点地理资讯</li>
      </ul>
      <ul>
        <li>电子邮件、即时通讯的内容、通话记录与声音影像记录</li>
      </ul>
    </li>

    <li><strong>你的资料可能被他人使用</strong>
      <ul>
        <li>下载 Windows 10 时，你授予了微软公司可以将上述资料分享给第三者，不管有无取得你的同意。</li>
      </ul>
    </li>
  </ol>  <p>
  <a class="btn btn-warning" href="https://www.winprivacy.de/english-home/">
    下载: W10Privacy
  </a>
  </p>

  这个工具利用一些已知的方式来设法取消 Windows 10 底下主要的追踪监控功能。 

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>有些好消息</h3>
        <ul>
          <li><a href="https://github.com/crazy-max/WindowsSpyBlocker/releases">WindowsSpyBlocker</a> - 开源工具，可封阻资料收集</li>
          <li><a href="https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools/">比较 Windows 10 隐私工具</a> - ghacks.net</li>
          <li><a href="https://fix10.isleaked.com/">解决 Windows 10 隐私设定问题</a> - fix10.isleaked.com</li>
          <li><a href="https://arstechnica.com/information-technology/2015/08/windows-10-doesnt-offer-much-privacy-by-default-heres-how-to-fix-it/">Windows 10 doesn't offer much privacy by default: Here's how to fix it. </a> - Ars Technica.</li>
          <li><a href="https://www.reddit.com/r/Windows10/comments/3f38ed/guide_how_to_disable_data_logging_in_w10">指南: 如何取消 Win 10 底下的活动记录(英文)</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3>更多坏消息</h3>
        <ul>
          <li><a href="https://thehackernews.com/2016/02/microsoft-windows10-privacy.html">
             隐私设定调整后，Windows 10 每天仍会传送 5500 多次使用者资料</a> - The Hacker News.</li>
          <li><a href="https://arstechnica.com/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/">仅管要求 Windows 10 不可，但它仍继续回传资讯到微软。难怪隐私权倡议者只好自我武装防备起来抵抗。 </a> - Ars Technica.</li>
          <li><a href="https://www.techdirt.com/articles/20150820/06171332012/windows-10-reserves-right-to-block-pirated-games-unauthorized-hardware.shtml">Windows 10 保留可封锁盗版游戏与「未经授权的」硬体之权利</a> - Techdirt.</li>
        </ul>
      </div>
    </div>
  </div>