<h1 id="win10" class="anchor"><a href="#win10"><i class="fas fa-link anchor-icon"></i></a> 不要使用 Windows 10 - 它是隐私梦魇</h1>

<div class="alert alert-warning" role="alert">
  <strong>微软在 Windows 10 引入了一些新的亮点功能，例如 Cortana。然而大多部分这类东西正在侵害您的隐私权。 </strong>
</div>

<img src="/assets/img/svg/layout/windows_privacy.svg" width="367" height="369" class="img-fluid float-right ml-3" alt="Windows 10 Privacy">

<ol>
  <li><strong>系统缺省启动数据同步</strong>
    <ul>
      <li>浏览记录与打开的网站</li>
      <li>应用程序设置</li>
      <li>WiFi 热点名称和密码</li>
    </ul>
  </li>

  <li><strong>您的设备被缺省标记了独一的广告识别码</strong>
    <ul>
      <li>它被用于第三方广告商或网络商对用户进行个人化广告服务</li>
    </ul>
  </li>

  <li><strong>Cortana 可以收集您的任何数据</strong>
    <ul>
      <li>键盘记录，搜索与麦克风输入</li>
    </ul>
    <ul>
      <li>日历数据</li>
    </ul>
    <ul>
      <li>听什么音乐</li>
    </ul>
    <ul>
      <li>信用卡信息</li>
    </ul>
    <ul>
      <li>购买行为</li>
    </ul>
  </li>

  <li><strong>MMicrosoft 微软可以收集各种个人数据</strong>
    <ul>
      <li>用户身份识别</li>
    </ul>
    <ul>
      <li>密码</li>
    </ul>
    <ul>
      <li>人种族群信息</li>
    </ul>
    <ul>
      <li>兴趣与习惯</li>
    </ul>
    <ul>
      <li>使用数据</li>
    </ul>
    <ul>
      <li>联系者与人际关系</li>
    </ul>
    <ul>
      <li>位置地理信息</li>
    </ul>
    <ul>
      <li>电子邮件、即时通信的内容、联系历史与声音影像记录</li>
    </ul>
  </li>

  <li><strong>您的数据可能被他人使用</strong>
    <ul>
      <li>下载 Windows 10 时，您即授予微软公司可将上述数据分享给第三者，不管有无取得您的同意。</li>
    </ul>
  </li>
</ol>

<p><a class="btn btn-warning" href="https://www.winprivacy.de/english-home/">下载： W10Privacy</a></p>

<p>这个工具利用一些已知的方式来设法取消 Windows 10 底下主要的追踪监控功能。</p>

<h3>相关信息</h3>

<ul>
  <li><a href="https://privacy.microsoft.com/en-us/privacystatement">微软的隐私权声明</a> - 此文档敍述微软公司收集、使用和揭露个人信息的情况。它让 OneDrive 数据、Cortana 搜索与浏览记录等个资可转售予第三方。</li>
  <li><a href="https://support.microsoft.com/en-us/help/4468233/cortana-and-privacy-microsoft-privacy">Cortana 与隐私</a> - 为个人化用户体验以推荐最佳方案，Cortana 可读取用户电子邮件及其它通信，收集联系人名单数据，诸如其头衔、称谓、姓名、公司等信息。假设您在 Windows 10 电脑上打电话、写邮件、传短信，Cortana 会收集这个人的电邮地址或电话号码。</li>
</ul>

<h3>Related Information</h3>

<ul>
  <li><a href="https://privacy.microsoft.com/en-us/privacystatement">Microsoft Privacy Statement</a> - Microsoft collects, uses and discloses personal information as described here. This allows OneDrive data, Cortana searches, and MS browser history to be sold to third parties.</li>
  <li><a href="https://support.microsoft.com/en-us/help/4468233/cortana-and-privacy-microsoft-privacy">Cortana and privacy</a> - To personalize your experience and provide the best possible suggestions, Cortana accesses your email and other communications and collects data about your contacts (People), like their title, suffix, first name, last name, middle name, nicknames, and company name. If you call, email, or text someone or they call, email, or text you, Cortana collects that person’s email address or phone number.</li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>有些好消息</h3>
      <ul>
        <li><a href="https://github.com/crazy-max/WindowsSpyBlocker/releases">WindowsSpyBlocker</a> - - 开源工具，可封阻数据被收集</li>
        <li><a href="https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools/">比较 Windows 10 隐私工具</a> - ghacks.net</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>更多坏消息</h3>
      <ul>
        <li><a href="https://thehackernews.com/2016/02/microsoft-windows10-privacy.html">
            隐私设置调整后，Windows 10 每天仍会发送 5500 多次用户数据</a> - The Hacker News.</li>
        <li><a href="https://arstechnica.com/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/">仅管已警告过 Windows 10，但它仍继续把数据传回微软。隐私权倡议者只好自我武装防备起来抵抗。</a> - Ars Technica.</li>
        <li><a href="https://www.techdirt.com/articles/20150820/06171332012/windows-10-reserves-right-to-block-pirated-games-unauthorized-hardware.shtml">Windows 10 保留可封锁盗版游戏与「未经授权的」硬件之权利 - </a> - Techdirt.</li>
      </ul>
    </div>
  </div>
</div>
