<footer>

  <hr class="footer-divider" />

  <h3 id="participate">推广本站助更多人了解隐私保护</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body={{ site.production_url }}/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url={{ site.production_url }}/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="https://mix.com/mixit?su=submit&url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn mix" title="Mix">
        <i class="ptio-mix"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>复制网址与本站描述</h3>

  <p>
  <input type="text" value="{{ site.name }} 网络隐私工具 - 通过安全的加密抵抗全球大规模监控 - {{ site.production_url }}" class="form-control input-lg onclick-select">
  <span class="help-block">利用这个文本框快速复制和分享。</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fab fa-creative-commons-zero fa-2x mr-2"></span>
      <a
        href="/LICENSE.txt"
        title="本作品为自由作品，你可以在 &quot;CC0 1.0 通用 (CC0 1.0) 公共领域贡献&quot; 协议允许的范围内分发和修改本作品。"
        data-toggle="tooltip"
        data-placement="top">
        CC0
      </a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="far fa-address-card fa-2x mr-2"></span>
      <a href="/about/">项目介绍 &amp; 联系方式</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fas fa-donate fa-2x mr-2"></span>
      <a href="/donate/" data-toggle="tooltip" data-placement="top" data-original-title="我们不放置广告，与任何服务提供商都没有关系。请捐助我们来帮我们支付服务器和域名等开销。">支持本站！</a>
    </div>
  </div>

  <div class="copyright-text">
    <a href="/about/javascript" data-jslicense="1">
      <span class="fab fa-js fa-lg"></span>
      JavaScript 许可信息
    </a>
    <p class="mt-2">
      <strong>无广告、无 Google 追踪分析器、无利害关联、无跨站追踪</strong>
      <em>
        {{ site.name }} 是一个受社会现况激发的社群网站，它提供保护上网者数据安全的信息。<br />
        不要信任某家公司会善待保护消费者隐私，时时刻刻作好加密防备。</em>
    </p>
    <p class="text-left">
      Tor v3 (English): <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong>
      (<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">了解更多</a>)
    </p>
    <small>
      <a href="/privacy/">隐私声明</a> |
      <a href="/notices/">注意事项 &amp; 免责声明</a> |
      <a href="https://github.com/privacytoolsIO/brand">品牌资产 &amp; 指导原则</a>
    </small>

  </div>
</footer>
