---
layout: page
permalink: /about/
title: "PrivacyTools 网络隐私工具"
description: "成立契机、组织、社群成员与各项服务简介"
hidedesc: true
---

<div class="row">
  <meta itemprop="alternateName" content="privacytoolsIO">
  <meta itemprop="alternateName" content="Privacy Tools">
  <meta itemprop="alternateName" content="privacytools.io">
  <link itemprop="logo" href="{{ site.production_url }}/assets/img/svg/layout/brand/square-transparent.svg">
  <div class="col">
    <p><em>你正被盯着。私人和国家支持的组织正在监控与记录你的在线活动。</em></p>
    <p>At <strong>PrivacyTools</strong> 提供一些知识与工具以保护个人隐私抵抗全球大规模监控，并推动持相近隐私关切的个人，一同参与社群交流讨论，学习如何保护个人网络数据安全。隐路隐私工具为本组织的内核组成，通过它的研究向社群推荐各式软件与服务方案。</p>
    <p><strong>公开透明</strong>是我们坚持的价值，也是区隔本站和其它隐私社群不同之处。主站信息的编辑变动与所推荐的产品都是先通过密集的交流，如 GitHub<a href="https://github.com/privacytoolsIO/privacytools.io/issues">issue tracker</a>，由贡献者<a href="https://github.com/privacytoolsIO/privacytools.io/pulls">提交草稿请求</a> 作进一步的讨论。有心者可以回头查看自 2015 年成立以来所走过的每一笔<a href="https://github.com/privacytoolsIO/privacytools.io/commits/master">提交修改记录</a>。下方列出<em>主要内核core</em>团队成员，他们为最终的编写定稿与服务维护负起责任。事实上，本站背后由上百位 <a href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">贡献者与查找者</a>努力确保所推荐的东西是可靠与让人信赖的。</p>
    <p>PrivacyTools 为非营利组织，我们不会收取厂商报酬来推荐产品，虽然类似的置入行销手法在其它地方很普徧，那种操作法不幸地伤害了读者对各家评比网站的信任感。PrivacyTools 采取不同策略，我们的研究是独立客观，绝不收取金钱报酬后修改原有的推荐或评鉴意见。本站财务完全依靠社群的<a href="https://opencollective.com/privacytoolsio">捐款人</a> 与 <a href="/sponsors/">赞助者</a>，且依照美国税法 Open Collective Foundation 501(c)(3) 相关规定。作为在美国登记的非营利组织，我们有遵法义务只能将基金花在符合宗旨的用途，即推广隐私教育和提倡使手尊重隐私的工具服务。本站是一个公共资源库，不是利润机器，所以相关的财务交易都妥善记录且公布于 <a href="https://opencollective.com/privacytoolsio">opencollective.com/privacytoolsio</a>供查找阅览。</p>
    <p>我们严肃认真地经营各式 <a href="/services/">在线服务</a>，要求所有的参与者必须遵守良好之<a href="https://github.com/privacytoolsIO/.github/blob/master/CODE_OF_CONDUCT.md">行为规范 Code of Conduct</a>。 若有疑问或欲申报不当使用，请参考行为规范的<a href="https://github.com/privacytoolsIO/.github/blob/master/CODE_OF_CONDUCT.md#enforcement">Enforcement 落实篇</a>。</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>中文化贡献者</h2>
  </div>
</div>

<div class="row">

{% include team.html
avatar="jxtsai.png"
name="jxtsai"
role="translator"
bio="通过翻译中文化，帮助自己和他人多学习、了解网络不自由与数字人权的挑战。"
keys="https://keybase.io/jxtsai"
mastodon="https://social.slat.org/@jxtsai"
twitter="a5288"
website="https://jxtsai.info"
%}


{% include team.html
avatar='ymhuang0808.png'
name='john huang'
role='reviwer, developer'
bio='不务正业的功成虱／吹死蒸炸的人森／生活的鞭猿人／摄绌'
keys='https://keybase.io/johnhuang080'
mastodon='https://g0v.social/@ymhuang0808'
twitter='ymhuang0808'
website='https://fmbase.tw/blog/'
%}


  
{% include team.html
avatar='cybermagicsec.png'
name='cybermagicsec'
role='reviwer, developer'
bio='privacytools 简体中文站建制、维护者'
twitter='cybermagicsec'
website='https://cybermagicsec.github.io/privacytools-zh/'
%}

</div>


<div class="row">
  <div class="col">
    <h2>原版贡献者</h2>
  </div>
</div>

<div class="row">

{% include team.html
avatar="burung.png"
name="Burung Hantu"
role="Founder"
bio="I founded PrivacyTools in 2015 to share resources and tools, allowing users to avoid international mass-surveillance programs."
email="mailto:dude@privacytools.io"
keys="https://keybase.io/privacytools"
mastodon="https://social.privacytools.io/@BurungHantu"
twitter="privacytoolsIO"
%}

{% include team.html
avatar="jonah.png"
name="Jonah Aragon"
nick="Jonah"
role="Administrator"
bio="I run the website and services for PrivacyTools. My goal is to spread the word about data privacy as widely as possible."
email="mailto:jonah@privacytools.io"
website="https://www.jonaharagon.com"
keys="https://keybase.io/jonaharagon"
mastodon="https://social.privacytools.io/@jonah"
twitter="JonahAragon"
blog="jonah"
%}

{% include team.html
avatar="blacklight447.png"
name="Niek de Wilde"
bio="I research new privacy recommendations and moderate our communities. My expertise is endpoint security and networking."
role="Editor-in-chief"
email="mailto:blacklight447@privacytools.io"
mastodon="https://social.privacytools.io/@blacklight447"
blog="blacklight447"
%}

{% include team.html
avatar="danarel.png"
name="Dan Arel"
role="Blogging & Education"
bio="I'm an author, columnist, and privacy advocate whose work has appeared in Time, Huff Post, OpenSource, and more."
website="https://danarel.com"
email="mailto:dan@privacytools.io"
keys="https://www.danarel.com/keys/"
twitter="danarel"
mastodon="https://mastodon.technology/@danarel"
blog="danarel"
%}

{% include team.html
avatar="dawid.svg"
name="Dawid Potocki"
role="Developer"
bio="I'm a student interested in software development. I help improve PrivacyTools and promote using free libre software."
website="https://dawidpotocki.com"
email="https://dawidpotocki.com/accounts/#email"
keys="https://dawidpotocki.com/accounts/#pgp"
mastodon="https://social.privacytools.io/@dawidpotocki"
blog="dawidpotocki"
%}

{% include team.html
avatar="dngray.png"
name="dngray"
nick="Daniel Gray"
bio="I liaise with and research privacy-focused services to refine our recommendations. My background is infosec and network security."
website="https://dngray.netlify.com"
email="https://dngray.netlify.com/email"
keys="https://keybase.io/dngray"
mastodon="https://social.privacytools.io/@dngray"
%}

{% include team.html
avatar="nitrohorse.png"
name="Andreas Basurto"
nick="nitrohorse"
role="Developer"
bio="I'm a privacy advocate and software developer. I write web extensions, help research, and make updates to the site."
website="https://nitrohorse.com/"
email="mailto:nitrohorse@privacytools.io"
keys="https://nitrohorse.com/keys"
mastodon="https://nitro.horse/@andreas"
blog="nitrohorse"
%}

{% include team.html
avatar="trai_dep.png"
name="trai_dep"
role="Subreddit Mod"
bio="I'm the moderator at r/Privacy and r/privacytoolsIO. Day to day, I am also – <i>irony alert</i> – an (ethical) digital marketer."
email="mailto:trai_dep@privacytools.io"
website="https://www.reddit.com/user/trai_dep"
%}
</div>

<div class="row mt-4 mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Of course, we couldn't do any of this without our very generous <a href="https://opencollective.com/privacytools/">financial contributors</a>, <a href="https://github.com/privacytools/privacytools.io/graphs/contributors">website contributors</a>, and the countless community members that help share new ideas and spread the word! Thank you.</p>
        <a href="/#participate" class="btn btn-primary"><i class="fas fa-hands-helping"></i> Get involved!</a>
        <a href="/donate/" class="btn btn-outline-danger"><i class="fas fa-heart"></i> Donate</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>前贡献者</h2>
    <p>感谢前贡献者们为本项目作出过的慷慨贡献，尽管它们当前没有活跃贡献 :-) </p>
  </div>
</div>

<div class="row">
{% include team.html
name="Mikaela Suomalainen"
website="https://mikaela.info/"
keys="https://gitea.blesmrt.net/mikaela/shell-things/src/branch/master/.mikaela/keys"
emeritus=true
%}
</div>

<div class="row">
  <div class="col">
    <h2>Contact Us</h2>
    <p>It's very important to us to stay up-to-date on the latest changes in the privacy space. If you have a software recommendation for us, or want to request a change on this website, please don't hesitate to reach out in one of the following ways.</p>
    <p><a href="https://forum.privacytools.io/"><i class="fab fa-discourse fa-lg fa-fw"></i> Start a discussion in our Discourse forum</a></p>
    <p><a href="https://github.com/privacytools/privacytools.io/issues"><i class="fab fa-github fa-lg fa-fw"></i> Open an issue on GitHub</a></p>
    <p><a href="https://www.reddit.com/r/privacytoolsIO/"><i class="fab fa-reddit fa-lg fa-fw"></i> Suggest something new on our subreddit</a></p>
    <p>For complete transparency, software and providers will only be considered for this website after discussions take place on our GitHub issue tracker. We of course don't make any changes in secret.</p>
    <p>Join our Matrix room at <code>#general:privacytools.io</code> or join the <a href="https://keybase.io/team/privacytools_io">privacytools_io Keybase team</a> to chat with us and other members about this site and privacy in general! If you need a Matrix account, you can sign up with our own homeserver (<code>https://chat.privacytools.io</code>) using <a href="https://riot.privacytools.io">Riot</a>.</p>
    <p>You can also email the team at <a itemprop="email" href="mailto:support@privacytools.io">support@privacytools.io</a> and find us on <a itemprop="sameAs" href="https://twitter.com/privacytoolsIO">Twitter</a> and <a itemprop="sameAs" href="https://social.privacytools.io/@privacytools">Mastodon</a>.</p>
    <link itemprop="sameAs" href="https://blog.privacytools.io">
    <link itemprop="sameAs" href="https://www.youtube.com/channel/UCen3taxHtzByXV8Da73B1Vg">
    <link itemprop="sameAs" href="https://github.com/privacytools">
  </div>
</div>
