---
layout: page
permalink: /operating-systems/
title: "操作系统"
description: "常用的电脑操作系统可能正在伤害您的隐私，请看看我们对于不同设备所推荐的替代操作系统选择。"
---

{% include sections/operating-systems.html %}

<h3>警示</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i>不要使用 Windows 10 - 它是隐私梦魇</a></li>
</ul>

<h4 id="cpuvulns">请记得检查中央处理器 CPU 弱点缓解 </h4>

<p><em><a href="https://support.microsoft.com/en-us/help/4073757/protect-windows-devices-from-speculative-execution-side-channel-attack">这对 Windows 10　有影响</a>，但微软并未明白揭露情况或说明如何降低危险。 MacOS 用户可检查 <a href="https://support.apple.com/en-us/HT210108">How to enable full mitigation for Microarchitectural Data Sampling (MDS) vulnerabilities on Apple Support</a>.</em></p>

<p>如果电脑用的是 Linux 最近的内核，可以从 <code>tail -n +1 /sys/devices/system/cpu/vulnerabilities/*</code> 指令来检查 CPU 弱点状况。用 <code>tail -n +1</code> 而不是 <code>cat</code>指今，才可看到文档名称。</p>

<p>
    若使用英特尔处理器，运行 <code>tail</code> 指令时可能会出现"SMT vulnerable"之消息。可在开机时的 UEFI/BIOS 设置中关闭<a href="https://en.wikipedia.org/wiki/Hyper-threading">hyper-threading</a>，以减缓此问题。若您的操作系统版本使用 GRUB 且支持 <code>/etc/default/grub.d/</code>，不妨依照下列步骤操作：
</p>

<ol>
  <li><code>sudo mkdir /etc/default/grub.d/</code> 创建新目录来作另一个 grub 设置。</li>
  <li><code>echo GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT l1tf=full,force mds=full,nosmt mitigations=auto,nosmt nosmt=force" | sudo tee /etc/default/grub.d/mitigations.cfg</code> 写入新的 grub config 设置档内容。</li>
  <li><code>sudo grub-mkconfig -o /boot/grub/grub.cfg</code> 产生新的 grub 设置档，其包含新内核启动标记</li>
  <li><code>sudo reboot</code> 重开机</li>
  <li>重新开机后，再次检查 <code>tail -n +1 /sys/devices/system/cpu/vulnerabilities/*</code>看看现在 SMT 是否显示 "SMT disabled."</li>
</ol>

<h5>进一步了解</h5>

<ul>
  <li><a href="https://cpu.fail/">CPU.fail</a></li>
  <li><a href="https://www.kernel.org/doc/html/latest/admin-guide/hw-vuln/">Hardware vulnerabilities index on The Linux kernel user's and administrator's guide</a></li>
  <li><a href="https://www.cyberciti.biz/faq/install-update-intel-microcode-firmware-linux/">How to install/update CPU microcode firmware on Linux</a> - Regardless of your CPU manufacturer, you should always install the latest microcode packages available to be protected from CPU vulnerabilities, especially if the command above reports <strong>no microcode</strong> in its output.</li>
  <li><a href="https://www.kernel.org/doc/html/latest/admin-guide/hw-vuln/mds.html">MDS - Microarchitectural Data Sampling on The Linux kernel user's and administrator's guide</a></li>
  <li><a href="https://mdsattacks.com/">RIDL and Fallout: MDS attacks on mdsattacks.com</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Simultaneous_multithreading">Simultaneous multithreading on Wikipedia</a></li>
</ul>

{% include sections/live-operating-systems.html %}

{% include sections/mobile-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}
